
<div class="container" style="margin-top:10px;">
  <div class="row"> 
    <div class="col-md-12" > 
      <h2 class="text-center head-text">เข้าระบบครั้งแรก</h2>
	  <h5 class="text-center">การ Login ครั้งแรก ระบบจะให้กำหนด Password ใหม่ </h5>
</div><!--/col-12-->
  </div>
</div>
<!-- container -->

<div class="container" style="margin-top:10px;">
  <div class="row"> 
    <div class="col-md-8 col-md-offset-2" style="background-color:#fff;"> 
      
                          <form class="form-horizontal" role="form">
						<fieldset> 
						  <!-- Form Name 
						  <legend>รายละเอียดสำนักงาน</legend>
-->
						  <!-- Text input-->
						  <div class="form-group">
							<label class="col-sm-4 control-label" for="textinput">Username</label>
							<div class="col-sm-8">
							   <p class="form-control-static">DealerAdmin</p>
							</div>

							 
						  </div> 

						<!-- Text input-->
						  <div class="form-group">
						  <label class="col-sm-4 control-label" for="textinput">รหัสผ่านใหม่</label>
							<div class="col-sm-5">
							  <input type="text" placeholder="รหัสผ่านใหม่" class="form-control">
							</div>
							</div> 

							<!-- Text input-->
						  <div class="form-group">
						  <label class="col-sm-4 control-label" for="textinput">ยืนยันรหัสผ่านใหม่</label>
							<div class="col-sm-5">
							  <input type="text" placeholder="ยืนยันรหัสผ่านใหม่" class="form-control">
							</div>
							</div> 

							 

							<!-- Text input-->
						  <div class="form-group">
						  <label class="col-sm-4 control-label" for="textinput"></label>
							<div class="col-sm-5">
							  
		<button class="btn btn-md btn-primary btn-primary-orange" type="button"  id="btnsend" style="width:45%;">ส่งข้อมูล  </button>
							</div>
							</div> 

						</fieldset>
						</form><!-- /form -->                  
   	</div><!--/col-12-->
  </div>
</div>
<!-- container -->
 

 
    <script type="text/javascript">
	 $("#btnsend").click(function(){
		 var email = $("#txtemail").val();
		  bootbox.alert({
        message: "ระบบทำการเปลี่ยนรหัสผ่านเรียบร้อยแล้ว",
        size: 'small',
		    callback: function () {
				window.location.href='cathome.html';
			}
    });
	 });
		  
	 
	</script>