
  
<div class="container" style="margin-top:10px;">
  <div class="row"> 
    <div class="col-md-12" > 
      <h2 class="text-center head-text">มีปัญหาในการเข้าสู่ระบบหรือไม่? </h2>
	  <h5 class="text-center">
	  โปรดกรอก Username หรือ Email ที่ใช้สมัครและระบบจะส่งรหัสผ่านใหม่ไปยังอีเมลของคุณ
	  </h5>
</div><!--/col-12-->
  </div>
</div>
<!-- container -->

<div class="container" style="margin-top:10px;">
  <div class="row"> 
    <div class="col-md-8 col-md-offset-2" style="background-color:#fff;"> 
      
                       <form class="form-horizontal" role="form">
						<fieldset> 
						  <!-- Form Name 
						  <legend>รายละเอียดสำนักงาน</legend>
--> <br><br>

						<div class="form-group">
							<div class="col-sm-5 col-sm-offset-4">
								<div class="radio radio-inline">
									<input type="radio" name="forgottype" value="1" id="forgottype2" checked />
									<label for="forgottype2"> Username</label>
								</div>
								<div class="radio radio-inline">
									<input type="radio" name="forgottype" value="0" id="forgottype1" />
									<label for="forgottype1"> Email</label>
								</div>
							</div>
						</div>
						
						<!-- Text input-->
						<div class="form-group">
							<label class="col-sm-4 control-label" for="textinput" id="forgottype_label">Username<em>*</em></label>
							<div class="col-sm-5">
								<input type="email" id="txtemail" name="txtemail" placeholder="Username" class="form-control">
							</div>
						</div> 
						<!-- Text input-->
						
		<!-- GOOGLE CAPCHA
		<div id="captchaIframe">
			<div class="g-recaptcha" data-sitekey="6Lfb0TwUAAAAAJta1Mr3aXj2oCYIYnyEbhtAfN2Z"></div>
		</div>
		-->
							<!-- Text input-->
						  <div class="form-group">
						  <label class="col-sm-4 control-label" for="textinput"></label>
							<div class="col-sm-5">
							  
		<button class="btn btn-md btn-primary btn-primary-orange" type="button"  id="btnsend" style="width:45%;">ส่งข้อมูล  </button>
							</div>
							</div> 
 
						</fieldset>

				 
						</form><!-- /form -->  
					 
   	</div><!--/col-12-->
  </div>
</div>
<!-- container -->
 
	<script type="text/javascript">
	 $("#btnsend").click(function(){
		var email = $("#txtemail").val();
		if(checkRequire())
			bootbox.alert({
				message: "ระบบส่งรหัสผ่านใหม่ให้ที่อีเมล์ "+email+" เรียบร้อยแล้ว",
				size: 'small'
			});
	 });
		  
	var forgottype = ['Email', 'Username'];
	$('[name="forgottype"]').change(function(){
		$('#forgottype_label').html(forgottype[$(this).val()]+'<em>*</em>');
		$('#txtemail').attr('placeholder', forgottype[$(this).val()]);
	});

	</script>