<div id="masthead" ng-show="action=='home'">
	<div class="container">
		<div class="row" style="background-color:#fff; "> 
			<div class="col-md-3">
				<form action="firstlogin.html" class="form-signin">
					<h3><span style="font-size:32px;color:#444;">D</span>ealer Login</h3>
					<span id="reauth-email" class="reauth-email"></span>
					<input type="text" id="inputEmail" class="form-control" placeholder="Username" required autofocus>
					<input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
					<div >
						<img src="img/u84.png" style="width:100%" border="0" alt="" />
					</div> 
					<div id="remember" class="checkbox">
						<label>
							<input type="checkbox" value="remember-me"> Remember me
						</label>
					</div>
					<a href="#!forgotpassword">ลืมรหัสผ่าน คลิ๊คที่นี่</a>
					<button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">เข้าระบบ</button>
					<a href="#!register-1" class="btn btn-lg btn-primary btn-block btn-register" class="btn btn-lg btn-primary btn-block btn-register" type="button">สมัครเป็นตัวแทน</a>
				</form>
			</div>
			<div class="col-md-9 hidden-xs"  >
				<div class="row">
					<div id="myCarousel" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
							<li data-target="#myCarousel" data-slide-to="1"></li>
						</ol>
						<div class="carousel-inner" role="listbox">
							<div class="item active">
								<img class="first-slide" src="img/S_7027616113572.jpg" alt="First slide"> 
							</div>
							<div class="item">
								<img class="second-slide" src="img/bl.jpg" alt="Second slide"> 
							</div>
						</div>
						<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev" style="padding-top:15%;">
							<span class="fa fa-chevron-left" aria-hidden="true" style="font-size:80px;"></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next" style="padding-top:15%;">
							<span class="fa fa-chevron-right" aria-hidden="true" style="font-size:80px;"></span>
							<span class="sr-only">Next</span>
						</a>
					</div>
				</div>
			</div> 
		</div>
	</div> 
	
	
	<!-- container --> 
	<div class="container" style="margin-top:10px;">
		<div class="row"> 
			<div class="col-md-12" > 
				<h2 class="text-center head-text">บริการ</h2>
			</div>
		</div>
	</div>
	<!-- container -->

	<div class="container"> 
		<div class='row'>
			<div class='col-md-12' style="background-color:#fff;min-height:150px;">
				<div class="carousel slide media-carousel" id="media">
					<div class="carousel-inner">
						<div class="item  active">
							<div class="row">
								<div class="col-md-3">
									<a class="thumbnail" href="#"><img alt="" src="img/my.jpg"></a>
								</div>          
								<div class="col-md-3">
									<a class="thumbnail" href="#"><img alt="" src="img/c.jpg"></a>
								</div>
								<div class="col-md-3">
									<a class="thumbnail" href="#"><img alt="" src="img/datacenter.jpg"></a>
								</div> 
								<div class="col-md-3">
									<a class="thumbnail" href="#"><img alt="" src="img/SNAG-0291.jpg"></a>
								</div> 
							</div>
						</div>
						<div class="item">
							<div class="row">
								<div class="col-md-3">
									<a class="thumbnail" href="#"><img alt="" src="img/voice.jpg"></a>
								</div>          
								<div class="col-md-3">
									<a class="thumbnail" href="#"><img alt="" src="img/U9pM1tSmPxluU2JJLYVJjS5aYWWKfZ.jpg"></a>
								</div>
								<div class="col-md-3">
									<a class="thumbnail" href="#"><img alt="" src="img/zbP46DY7BRvIeZ2jgVuO1HQt7XAOxt.jpg"></a>
								</div> 
								<div class="col-md-3">
									<a class="thumbnail" href="#"><img alt="" src="img/datacom.jpg"></a>
								</div>  
							</div>
						</div>
					</div>
					<a data-slide="prev" href="#media" class="left carousel-control">‹</a>
					<a data-slide="next" href="#media" class="right carousel-control">›</a>
				</div>                          
			</div>
		</div>
	</div>

	<!-- container --> 
	<div class="container" style="margin-top:10px;">
		<div class="row"> 
			<div class="col-md-12" > 
				<h2 class="text-center head-text">โปรโมชั่น</h2>
			</div>
		</div>
	</div> 
	 <!-- container -->

	<div class="container" style="margin-top:10px;">
		<div class="row"> 
			<div class="col-md-12" style="background-color:#fff;min-height:350px;"> 
				<div class="panel">
					<div class="panel-body" ng-repeat="post in posts" ng-show="post.category==1"> 
						<div class="row" ng-click="view(post)"> 
							<div class="col-xs-12 col-sm-3 col-md-3">
								<img src="{{post.thumbnail}}" alt="{{post.title}}" class="img-responsive img-box img-thumbnail" />
							</div> 
							<div class="col-xs-12 col-sm-9 col-md-9"> 
								<h3>{{post.title}}</h3>
								<p>{{post.description}}</p>
							</div> 
						</div> 
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- container --> 
	<div class="container" style="margin-top:10px;">
		<div class="row"> 
			<div class="col-md-12" > 
				<h2 class="text-center head-text">ข่าวสาร</h2>
			</div>
		</div>
	</div>
	<!-- container -->

	<div class="container" style="margin-top:10px;">
		<div class="row"> 
			<div class="col-md-12" style="background-color:#fff;min-height:350px;"> 
				<div class="panel">
					<div class="panel-body" ng-repeat="post in posts" ng-show="post.category==2">
						<div class="row" ng-click="view(post)"> 
							<div class="col-xs-12 col-sm-3 col-md-3">
								<img src="{{post.thumbnail}}" alt="{{post.title}}" class="img-responsive img-box img-thumbnail"> 
							</div> 
							<div class="col-xs-12 col-sm-9 col-md-9"> 
								<h3>{{post.title}}</h3>
								<p>{{post.description}}</p>
							</div> 
						</div> 
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- container -->

</div>



<div id="view" ng-show="action=='view'">
	<div class="container">
		<img src="{{post.thumbnail}}" alt="{{post.title}}" width="100%" />
		<h1>{{post.title}}</h1>
		<p>{{post.description}}</p>
		<a href="#" title="" class="btn btn-default" ng-click="home()">Back</a>
	</div>
</div>