<div class="container" style="margin-top:10px;">
	<div class="row"> 
		<div class="col-md-12" > 
			<h2 class="text-center head-text">ข้อตกลงและเงื่อนไขการสมัครเป็นตัวแทน</h2>
		</div>
	</div>
</div>
<div class="container" style="margin-top:10px;">
	<div class="row"> 
		<div class="col-md-12" style="background-color:#fff;"> 
			<div class="row">
				<div class="col-md-12" style="padding:50px 50px 50px 50px;font-weight:normal;">
					<div id="termcondition"></div>
					<div class="col-md-4 col-md-offset-4">
						<div class="form-group hidden">
							<div class="radio radio-inline"> 
								<input type="radio" name="x2" id="radio22"  value="option22">
								<label for="radio22">
									ข้าพเจ้ายอมรับและตกลงผูกพันตามเงื่อนไขและข้อตกลง
								</label>
							</div>
						</div>
						<div style="margin:10px 0;">
							<!--<div class="g-recaptcha" data-sitekey="6Lfb0TwUAAAAAJta1Mr3aXj2oCYIYnyEbhtAfN2Z"></div>--><!-- SCM -->
							<div class="g-recaptcha" data-sitekey="6LfgK08UAAAAAE6yYAk0vfnW4_LKcKAEcCAvn7cd"></div><!-- EDT -->
						</div>
						<a href="#/!" class="btn btn-md btn-default" type="button" style="width:45%;"><i class="fa fa-long-arrow-left"></i> ย้อนกลับ</a> 
						<a href="#!register-2" class="btn btn-md btn-primary btn-primary-orange" style="width:45%;">ยอมรับเงื่อนไข <i class="fa fa-long-arrow-right"></i></a>
					</div>
				</div>
			</div>  
		</div>
	</div>
</div>