<div class="container" style="margin-top: 10px;">
	<div class="row bs-wizard" style="border-bottom: 0;">
		<div class="col-xs-4 bs-wizard-step complete">
			<div class="text-center bs-wizard-stepnum">ขั้นตอนที่ 1</div>
			<div class="progress">
				<div class="progress-bar"></div>
			</div>
			<a href="#" class="bs-wizard-dot"></a>
			<div class="bs-wizard-info text-center">เลือกผลิตภัณฑ์หรือบริการ </div>
		</div>
		<div class="col-xs-4 bs-wizard-step complete">
		<div class="text-center bs-wizard-stepnum">ขั้นตอนที่ 2</div>
			<div class="progress">
				<div class="progress-bar"></div>
			</div>
			<a href="#" class="bs-wizard-dot"></a>
			<div class="bs-wizard-info text-center">เลือกพื้นที่สำหรับสมัครเป็นตัวแทนจำหน่าย</div>
		</div>
		<div class="col-xs-4 bs-wizard-step active">
			<div class="text-center bs-wizard-stepnum">ขั้นตอนที่ 3</div>
			<div class="progress">
				<div class="progress-bar"></div>
			</div>
			<a href="#" class="bs-wizard-dot"></a>
			<div class="bs-wizard-info text-center">กรอกแบบฟอร์มใบสมัครตัวแทน</div>
		</div>
	</div>
</div>

<div class="container" style="margin-top: 10px;">
	<div class="row">
		<div class="col-md-12" style="background-color: #fff;">
			<div class="row">
				<div class="col-md-12" style="padding: 50px 50px 50px 50px; font-weight: normal; min-height: 350px;">
					<div class="row">
						<div class="col-md-12">
							<form action="register-step5.html" class="form-horizontal" role="form" id="frm" name="frm">
								<div class="row">
									<div class="col-md-6">
										<fieldset>
											<legend>บริการ</legend>
											<div class="form-group">
												<div class="col-sm-10">
													<img src="img/mylogo.png" style="width:135px;">
													<select>
														<option>my บริการ 3G/4G</option>
														<option>C Internet</option>
														<option>CAT Datacom</option>
														<option>CAT Voice</option>
														<option>CAT Data Center</option>
														<option>IRIS Cloud</option>
													</select>
												</div>
											</div>
										</fieldset>
									</div>
									<div class="col-md-6">
										<fieldset>
											<legend>รายละเอียดสำนักงาน</legend>
											<div class="form-group">
												<label class="col-sm-5 control-label" for="textinput">ภูมิภาค/เขต</label>
												<div class="col-sm-7">
													<p class="form-control-static">กรุงเทพ และ ปริมลฑล</p>
												</div>
												<label class="col-sm-5 control-label" for="textinput">จังหวัด</label>
												<div class="col-sm-7">
													<p class="form-control-static">กรุงเทพ</p>
												</div>
												<label class="col-sm-5 control-label" for="textinput">สำนักงานบริการลูกค้า</label>
												<div class="col-sm-7">
													<p class="form-control-static">สำนักงานบริการลูกค้า กสท. ส่วนกลาง</p>
												</div>
											</div>
										</fieldset>
									</div>
								</div>

								<fieldset>
									<legend>ข้อมูลทั่วไป</legend>
									<div class="row">
										<div class="col-sm-6">
											<div class="form-group">
												<label class="col-sm-4 control-label" for="textinput">ประเภทลูกค้า<em>*</em></label>
												<div class="col-sm-8">
													<div class="radio radio-inline">
														<input type="radio" name="Dealer[type]" id="Dealer[type][1]" checked value="1">
														<label for="Dealer[type][1]">บุคคลธรรมดา</label>
													</div>
													<div class="radio radio-inline">
														<input type="radio" name="Dealer[type]" id="Dealer[type][2]" value="2">
														<label for="Dealer[type][2]">นิติบุคคล</label>
													</div>
												</div>
												<script>
												$('[name="Dealer[type]"]').click(function(){
													console.log($(this).val());
													$('.dealer-type').addClass('hidden');
													$('.dealer-type[data-dealertype="'+$(this).val()+'"]').removeClass('hidden');
												});
												</script>
											</div>
										</div>
										<div class="col-sm-6 hidden">
											<div class="form-group">
												<label class="col-sm-4 control-label" for="textinput">สถานะ</label>
												<div class="col-sm-8">
													<div class="radio radio-inline">
														<input type="radio" name="type" value="xxxxxx" checked />
														<label for="radio1">ปกติ</label>
													</div>
													<div class="radio radio-inline">
														<input type="radio" name="type" value="xxxxxx" />
														<label for="radio2">ขอระงับ</label>
													</div>
													<div class="radio radio-inline">
														<input type="radio" name="type" value="xxxxxx" />
														<label for="radio2">ยกเลิกสัญญา</label>
													</div>
												</div>
											</div>
											<div class="form-group">
												<label class="col-sm-4 control-label" for="textinput">เหตุผล</label>
												<div class="col-sm-8">
													<select>
														<option>เนื่องจากปรับปรุงกิจการ</option>
													</select>
												</div>
											</div>
										</div>
									</div>
								</fieldset>

								<fieldset class="dealer-type" data-dealertype="1">
									<legend>ข้อมูลบุคคลธรรมดา</legend>
									<div class="row">
										<div class="col-sm-12">
											<div class="form-group">
												<label class="col-sm-2 control-label" for="textinput">คำนำหน้าชื่อ<em>*</em></label>
												<div class="col-sm-2">
													<select id="titleprefix" name="titleprefix" class="form-control">
														<option ng-repeat="prefix in titleprefix" value="{{prefix.value}}">{{prefix.name}}</option>
													</select>
												</div>
												<label class="col-sm-2 control-label" for="textinput">เพศ<em>*</em></label>
												<div class="col-sm-2">
													<div class="radio radio-inline">
														<input type="radio" name="xgd" id="radio1gd" checked value="option1">
														<label for="radio1gd">ชาย</label>
													</div>
													<div class="radio radio-inline">
														<input type="radio" name="xgd" id="radio2gd"  value="option2">
														<label for="radio2gd">หญิง</label>
													</div>
												</div>
												<label class="col-sm-1 control-label" for="textinput">วันเกิด<em>*</em></label>
												<div class="col-sm-3">
													<div class="input-group date" data-provide="datepicker">
														<input type="text" id="v2" name="v2" class="form-control">
														<div class="input-group-addon">
															<span class="fa fa-calendar"></span>
														</div>
													</div>
												</div>
											</div>
											<div class="form-group">
												<label class="col-sm-2 control-label" for="textinput">ชื่อ<em>*</em></label>
												<div class="col-sm-4">
													<input type="text" id="v3" name="v3" placeholder="ชื่อ" class="form-control">
												</div>
												<label class="col-sm-2 control-label" for="textinput">นามสกุล<em>*</em></label>
												<div class="col-sm-4">
													<input type="text" id="v4" name="v4" placeholder="นามสกุล" class="form-control">
												</div>
											</div>
											<div class="form-group">
												<label class="col-sm-2 control-label" for="textinput">ประเภทบัตร<em>*</em></label>
												<div class="col-sm-4">
													<select class="form-control cardtype" id="v5" name="v5">
														<option value="1">Tax ID Card</option>
														<option value="2">Citizen ID Card</option>
														<option value="3">Passport</option>
														<option value="4">Other</option>
													</select>
												</div>
												<label class="col-sm-2 control-label" for="textinput">หมายเลขบัตร<em>*</em></label>
												<div class="col-sm-4">
													<input type="text" id="v6" name="v6" placeholder="หมายเลขบัตร" class="form-control">
												</div>
											</div>
											<div class="form-group">
												<label class="col-sm-2 control-label" for="textinput">รายได้เฉลี่ยต่อปี</label>
												<div class="col-sm-4">
													<input type="text" id="v6" name="v6" placeholder="รายได้เฉลี่ยต่อปี" class="form-control">
												</div>
											</div>
										</div>
									</div>
								</fieldset>
								
								<fieldset class="dealer-type hidden" data-dealertype="2">
									<legend>ข้อมูลนิติบุคคล</legend>
									<div class="row">
										<div class="col-sm-12">
											<div class="form-group">
												<label class="col-sm-2 control-label" for="textinput">ประเภทจดทะเบียน<em>*</em></label>
												<div class="col-sm-4">
													<select class="form-control cardtype" id="v5" name="v5">
														<option value="1">บริษัท ...... จำกัด</option>
													</select>
												</div>
												<label class="col-sm-1 control-label" for="textinput">ชื่อ<em>*</em></label>
												<div class="col-sm-5">
													<input type="text" id="v4" name="v4" placeholder="ชื่อ" class="form-control">
												</div>
											</div>
											<div class="form-group">
												<label class="col-sm-2 control-label" for="textinput">ประเภทเอกสาร<em>*</em></label>
												<div class="col-sm-4">
													<select class="form-control cardtype" id="v5" name="v5">
														<option value="1">ทะเบียนการค้า</option>
													</select>
												</div>
												<label class="col-sm-1 control-label" for="textinput">เลขที่</label>
												<div class="col-sm-2">
													<input type="text" id="v6" name="v6" placeholder="" class="form-control">
												</div>
												<label class="col-sm-1 control-label" for="textinput">สาขา</label>
												<div class="col-sm-2">
													<input type="text" id="v6" name="v6" placeholder="" class="form-control">
												</div>
											</div>
											<div class="form-group">
												<label class="col-sm-2 control-label" for="textinput">วันเที่จดทะเบียน<em>*</em></label>
												<div class="col-sm-4">
													<div class="input-group date" data-provide="datepicker">
														<input type="text" id="v2" name="v2" class="form-control">
														<div class="input-group-addon">
															<span class="fa fa-calendar"></span>
														</div>
													</div>
												</div>
												<label class="col-sm-2 control-label" for="textinput">ทุนจดทะเบียน</label>
												<div class="col-sm-4">
													<input type="text" id="v6" name="v6" placeholder="" class="form-control">
												</div>
											</div>
										</div>
									</div>
								</fieldset>
									
								<fieldset>
									<legend>ข้อมูลที่อยู่</legend>
									<div class="feildset-action">
										<button type="button" class="btn btn-sm btn-primary btn-primary-orange" data-toggle="modal" data-target="#modal_address"><i class="fa fa-plus"></i> เพิ่มข้อมูลที่อยู่</button>
									</div>
									<div class="row">
										<div class="col-sm-12">
											<table class="table table-bordered">
												<thead>
													<tr>
														<th width="1"></th>
														<th width="1">#</th>
														<th>ประเภทที่อยู่</th>
														<th>รายละเอียดที่อยู่</th>
														<th width="1"></th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td><input type="checkbox" /></td>
														<td>1</td>
														<td>ตามบัตรประชาชน</td>
														<td>123/45 หมู่.1 ถนน บรรณาการ ต.ในเมือง อ.เมือง จ.ชัยภูมิ 36000</td>
														<td><button  type="button" class="btn btn-xs btn-danger fa fa-trash"></button></td>
													</tr>
													<tr>
														<td><input type="checkbox" /></td>
														<td>2</td>
														<td>ส่งสินค้า</td>
														<td>123/45 หมู่.1 ถนน บรรณาการ ต.ในเมือง อ.เมือง จ.ชัยภูมิ 36000</td>
														<td><button  type="button" class="btn btn-xs btn-danger fa fa-trash"></button></td>
													</tr>
													<tr>
														<td><input type="checkbox" /></td>
														<td>3</td>
														<td>สำนักงาน</td>
														<td>123/45 หมู่.1 ถนน บรรณาการ ต.ในเมือง อ.เมือง จ.ชัยภูมิ 36000</td>
														<td><button  type="button" class="btn btn-xs btn-danger fa fa-trash"></button></td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</fieldset>				
									
								<fieldset>
									<legend>ข้อมูลผู้ติดต่อ</legend>
									<div class="feildset-action">
										<button type="button" class="btn btn-sm btn-primary btn-primary-orange" data-toggle="modal" data-target="#modal_contact"><i class="fa fa-plus"></i> เพิ่มข้อมูลผู้ติดต่อ</button>
									</div>
									<div class="row">
										<div class="col-sm-12">
											<table class="table table-bordered">
												<thead>
													<tr>
														<th width="1"></th>
														<th width="1">#</th>
														<th>ชื่อ - นามสกุล</th>
														<th>ช่องทางติดต่อ</th>
														<th>หมายเลข/ช่องทางการติดต่อ</th>
														<th width="1"></th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td><input type="checkbox" /></td>
														<td>1</td>
														<td>นาย สุพจ ทะเลเผา</td>
														<td>LineID</td>
														<td>Supothsea</td>
														<td><button  type="button" class="btn btn-xs btn-danger fa fa-trash"></button></td>
													</tr>
													<tr>
														<td><input type="checkbox" /></td>
														<td>2</td>
														<td>นาย กนก จันทรา</td>
														<td>โทรศัพท์</td>
														<td>086 787 6766</td>
														<td><button  type="button" class="btn btn-xs btn-danger fa fa-trash"></button></td>
													</tr>
													<tr>
														<td><input type="checkbox" /></td>
														<td>3</td>
														<td>นาย ประยุท จันทร์ลาป่วย</td>
														<td>อีเมล</td>
														<td>payuth.m@gmail.com</td>
														<td><button  type="button" class="btn btn-xs btn-danger fa fa-trash"></button></td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</fieldset>				
									
								<fieldset>
									<legend>ข้อมูลเอกสารประกอบการพิจรณา</legend>
									<div class="feildset-action">
										<button type="button" class="btn btn-sm btn-primary btn-primary-orange" data-toggle="modal" data-target="#modal_upload"><i class="fa fa-plus"></i> เพิ่มข้อมูลเอกสารประกอบการพิจรณา</button>
									</div>
									<div class="row">
										<div class="col-sm-12">
											<table class="table table-bordered">
												<thead>
													<tr>
														<th width="1"></th>
														<th width="1">#</th>
														<th>ประเภทเอกสาร</th>
														<th>ชื่อไฟล์</th>
														<th>วันที่บันทึก</th>
														<th width="1"></th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td><input type="checkbox" /></td>
														<td>1</td>
														<td>ลงนาม</td>
														<td>filename.pdf</td>
														<td>23/01/2561</td>
														<td><button  type="button" class="btn btn-xs btn-danger fa fa-trash"></button></td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</fieldset>				
									
									
									
									
							</form>
						</div>
					</div>
					<div class="col-md-4 col-md-offset-4">
						<a href="#!register-3" class="btn btn-md btn-default" style="width: 45%;"><i class="fa fa-long-arrow-left"></i>ย้อนกลับ</a>
						<a href="#!register-5" class="btn btn-md btn-primary btn-primary-orange" id="btnNext" style="width: 45%;">ส่งข้อมูลสมัคร</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<div class="modal fade" id="modal_address" tabindex="-1" role="dialog" aria-labelledby="Address" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">ข้อมูลที่อยู่</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">				
				<form class="form-horizontal">
					<div class="row">
						<div class="col-xs-12">
							<div class="form-group">
								<label class="col-sm-2 control-label" for="textinput">ที่อยู่เลขที่<em>*</em></label>
								<div class="col-sm-3">
									<input type="text" id="v6" name="v6" placeholder="" class="form-control">
								</div>
								<label class="col-sm-1 control-label" for="textinput">เลขที่</label>
								<div class="col-sm-2">
									<input type="text" id="v6" name="v6" placeholder="" class="form-control">
								</div>
								<label class="col-sm-1 control-label" for="textinput">หมู่บ้าน</label>
								<div class="col-sm-3">
									<input type="text" id="v6" name="v6" placeholder="" class="form-control">
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<div class="form-group">
								<label class="col-sm-2 control-label" for="textinput">อาคารชั้นห้อง</label>
								<div class="col-sm-2">
									<input type="text" id="v6" name="v6" placeholder="" class="form-control">
								</div>
								<label class="col-sm-2 control-label" for="textinput">ตรอกซอย</label>
								<div class="col-sm-2">
									<input type="text" id="v6" name="v6" placeholder="" class="form-control">
								</div>
								<label class="col-sm-1 control-label" for="textinput">ถนน</label>
								<div class="col-sm-3">
									<input type="text" id="v6" name="v6" placeholder="" class="form-control">
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<div class="form-group">
								<label class="col-sm-2 control-label" for="textinput">ที่อยู่</label>
								<div class="col-sm-10" data-modaladdress="address">
									<input type="hidden" id="Address[province]" name="Address[province]" />
									<input type="hidden" id="Address[district]" name="Address[province]" />
									<input type="hidden" id="Address[aumphur]" name="Address[province]" />
									<input type="hidden" id="Address[zipcode]" name="Address[province]" />
									<span id="previewaddress"></span>
									<button type="button" class="btn btn-sm btn-primary btn-primary-orange" id="showaddress"><i class="fa fa-map"></i> เลือกที่อยู่</button>
								</div>
								<div class="col-sm-10 hidden" data-modaladdress="address">
									<table id="table-address" class="table table-bordered datatable">
										<thead>
											<tr>
												<th>จังหวัด</th>
												<th>อำเภอ</th>
												<th>ตำบล</th>
												<th>รหัสไปรษณีย์</th>
												<th></th>
											</tr>
										</thead>
										<tbody></tbody>
									</table>
								</div>
								<script>
								$('#showaddress').click(function(){
									$('[data-modaladdress="address"]').toggleClass('hidden');
								});
								</script>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<div class="form-group">
								<label class="col-sm-2 control-label" for="textinput">พิกัดที่อยู่</label>
								<div class="col-sm-10" style="position:relative;">
									<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d61962.00366593773!2d100.55783766431708!3d13.921335250814764!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sth!4v1517553216684" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
									<img src="img/location-icon.png" width="50" style="position:absolute; z-index:1; top:175px; left:calc(50% - 25px);" />
								</div>
								<div class="col-sm-5 col-sm-offset-2">
									<input type="text" id="lat" name="Address[lat]" placeholder="Lattitude" class="form-control" />
								</div>
								<div class="col-sm-5">
									<input type="text" id="long" name="Address[long]" placeholder="Longtitude" class="form-control" />
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
				<button type="button" class="btn btn-primary">บันทึก</button>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="modal_contact" tabindex="-1" role="dialog" aria-labelledby="Contact" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">ข้อมูลผู้ติดต่อ</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" style="padding-right:15px;">
					<div class="row">
						<div class="form-group">
							<label class="col-sm-2 control-label" for="textinput">คำนำหน้าชื่อ<em>*</em></label>
							<div class="col-sm-2">
								<select id="titleprefix" name="titleprefix" class="form-control">
									<option ng-repeat="prefix in titleprefix" value="{{prefix.value}}">{{prefix.name}}</option>
								</select>
							</div>
							<label class="col-sm-2 control-label" for="textinput">เพศ<em>*</em></label>
							<div class="col-sm-2">
								<div class="radio radio-inline">
									<input type="radio" name="xgd" id="radio1gd" checked value="option1">
									<label for="radio1gd">ชาย</label>
								</div>
								<div class="radio radio-inline">
									<input type="radio" name="xgd" id="radio2gd"  value="option2">
									<label for="radio2gd">หญิง</label>
								</div>
							</div>
							<label class="col-sm-1 control-label" for="textinput">วันเกิด<em>*</em></label>
							<div class="col-sm-3">
								<div class="input-group date" data-provide="datepicker">
									<input type="text" id="v2" name="v2" class="form-control">
									<div class="input-group-addon">
										<span class="fa fa-calendar"></span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group">
							<label class="col-sm-2 control-label" for="textinput">ชื่อ<em>*</em></label>
							<div class="col-sm-4">
								<input type="text" id="v2" name="v2" class="form-control" />
							</div>
							<label class="col-sm-2 control-label" for="textinput">นามสกุล<em>*</em></label>
							<div class="col-sm-4">
								<input type="text" id="v2" name="v2" class="form-control" />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group">
							<label class="col-sm-2 control-label" for="textinput">ช่องทางติดต่อ<em>*</em></label>
							<div class="col-sm-2">
								<select id="titleprefix" name="titleprefix" class="form-control">
									<option>เบอร์โทร</option>
									<option>อีเมล</option>
									<option>LineID</option>
									<option></option>
								</select>
							</div>
							<label class="col-sm-4 control-label" for="textinput">หมายเลข/ช่องทางการติดต่อ<em>*</em></label>
							<div class="col-sm-4">
								<input type="text" name="xgd" class="form-control" />
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
				<button type="button" class="btn btn-primary">บันทึก</button>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="modal_upload" tabindex="-1" role="dialog" aria-labelledby="Address" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">ข้อมูลเอกสารประกอบการพิจรณา</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" style="padding-right:15px;">
					<div class="row">
						<div class="form-group">
							<label class="col-sm-2 control-label" for="textinput">ประเภท<em>*</em></label>
							<div class="col-sm-4">
								<select id="titleprefix" name="titleprefix" class="form-control">
									<option>บัตรประชาชน</option>
									<option>ทะเบียนบริษัท</option>
									<option>ใบกำกับภาษี</option>
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group">
							<label class="col-sm-2 control-label" for="textinput">ชื่อ<em>*</em></label>
							<div class="col-sm-10">
								<input type="file" id="v2" name="v2" class="form-control" />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group">
							<label class="col-sm-2 control-label" for="textinput">วันที่บันทึก</label>
							<div class="col-sm-10">
								<input type="text" id="v2" name="v2" class="form-control datetimepicker" readonly />
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
				<button type="button" class="btn btn-primary">บันทึก</button>
			</div>
		</div>
	</div>
</div>




