<div class="container container-main">
	<div class="row bs-wizard" style="border-bottom:0;">
		<div class="col-xs-3 bs-wizard-step active">
			<div class="text-center bs-wizard-stepnum">ขั้นตอนที่ 1</div>
			<div class="progress"><div class="progress-bar"></div></div>
			<a href="#" class="bs-wizard-dot"></a>
			<div class="bs-wizard-info text-center">เลือกผลิตภัณฑ์หรือบริการ </div>
		</div>
		<div class="col-xs-3 bs-wizard-step disabled">
			<div class="text-center bs-wizard-stepnum">ขั้นตอนที่ 2</div>
			<div class="progress"><div class="progress-bar"></div></div>
			<a href="#" class="bs-wizard-dot"></a>
			<div class="bs-wizard-info text-center">เงื่อนไขผลิตภัณฑ์</div>
		</div>
		<div class="col-xs-3 bs-wizard-step disabled">
			<div class="text-center bs-wizard-stepnum">ขั้นตอนที่ 3</div>
			<div class="progress"><div class="progress-bar"></div></div>
			<a href="#" class="bs-wizard-dot"></a>
			<div class="bs-wizard-info text-center">เลือกพื้นที่สำหรับสมัครเป็นตัวแทนจำหน่าย</div>
		</div>
		<div class="col-xs-3 bs-wizard-step disabled">
			<div class="text-center bs-wizard-stepnum">ขั้นตอนที่ 4</div>
			<div class="progress"><div class="progress-bar"></div></div>
			<a href="#" class="bs-wizard-dot"></a>
			<div class="bs-wizard-info text-center">กรอกแบบฟอร์มใบสมัครตัวแทน</div>
		</div>
	</div>  
</div>
	
<div class="container" style="margin-top:10px;">
	<div class="row"> 
		<div class="col-md-12" style="background-color:#fff;"> 
			<div class="row">
				<div class="col-md-12" style="padding:50px 50px 50px 50px;font-weight:normal;">
					<div class="service-container">
						<div class="singleserviceb-2" ng-repeat="item in lkService">  
							<img class="serviceicon" src="{{item.image_path}}" />
							<div class="radio text-center">
								<input type="radio" name="regisService" id="service{{item.code}}" value="{{item.desc_t}}" data-code="{{item.code}}" class="serviceradio" />
								<label for="service{{item.code}}">
									{{item.desc_t}}
								</label>
							</div>
						</div>
					</div>
					<div class="col-md-2 col-md-offset-5">
						<a href="#!register-2term" class="btn btn-md btn-primary btn-primary-orange" type="button" style="width:100%;">ถัดไป <i class="fa fa-long-arrow-right"></i></a> 
					</div>
				</div>
			</div>  
		</div>
	</div>
</div>





