<div class="container container-main">
	<div class="row bs-wizard" style="border-bottom:0;">
		<div class="col-xs-3 bs-wizard-step complete">
			<div class="text-center bs-wizard-stepnum">ขั้นตอนที่ 1</div>
			<div class="progress"><div class="progress-bar"></div></div>
			<a href="#" class="bs-wizard-dot"></a>
			<div class="bs-wizard-info text-center">เลือกผลิตภัณฑ์หรือบริการ </div>
		</div>
		<div class="col-xs-3 bs-wizard-step complete">
			<div class="text-center bs-wizard-stepnum">ขั้นตอนที่ 2</div>
			<div class="progress"><div class="progress-bar"></div></div>
			<a href="#" class="bs-wizard-dot"></a>
			<div class="bs-wizard-info text-center">เงื่อนไขผลิตภัณฑ์</div>
		</div>
		<div class="col-xs-3 bs-wizard-step active">
			<div class="text-center bs-wizard-stepnum">ขั้นตอนที่ 3</div>
			<div class="progress"><div class="progress-bar"></div></div>
			<a href="#" class="bs-wizard-dot"></a>
			<div class="bs-wizard-info text-center">เลือกพื้นที่สำหรับสมัครเป็นตัวแทนจำหน่าย</div>
		</div>
		<div class="col-xs-3 bs-wizard-step disabled">
			<div class="text-center bs-wizard-stepnum">ขั้นตอนที่ 4</div>
			<div class="progress"><div class="progress-bar"></div></div>
			<a href="#" class="bs-wizard-dot"></a>
			<div class="bs-wizard-info text-center">กรอกแบบฟอร์มใบสมัครตัวแทน</div>
		</div>
	</div>  
</div>

<div class="container" style="margin-top:10px;">
	<div class="row"> 
		<div class="col-md-12" style="background-color:#fff;"> 
			<div class="row">
				<div class="col-md-8 col-md-offset-2" style="padding:50px 50px 50px 50px;font-weight:normal;min-height:350px;">
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label for="inputPassword">จังหวัดที่ประสงค์สมัครเป็นตัวแทน</label>
								<select id="province" name="" class="form-control"></select> 
							</div>
							<div class="form-group">
								<label for="inputPassword">สำนักงานบริการลูกค้า</label>
								<select id="service" name="" class="form-control"></select> 
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-md-offset-4" style="margin-bottom:20px;">
					<a href="#!register-2" class="btn btn-md btn-default" type="button" style="width:45%;"><i class="fa fa-long-arrow-left"></i> ย้อนกลับ</a> 
					<a href="#!register-4" class="btn btn-md btn-primary btn-primary-orange" style="width:45%;">ถัดไป <i class="fa fa-long-arrow-right"></i></a>
				</div> 
			</div> 
		</div>
	</div>  
</div>
