<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUlviLKbpLNsC1EQjopDYvICw3rZ8FrqQ&callback=myMap"></script>
	
<div class="container container-main">
	<div class="row bs-wizard" style="border-bottom:0;">
		<div class="col-xs-3 bs-wizard-step complete">
			<div class="text-center bs-wizard-stepnum">ขั้นตอนที่ 1</div>
			<div class="progress"><div class="progress-bar"></div></div>
			<a href="#" class="bs-wizard-dot"></a>
			<div class="bs-wizard-info text-center">เลือกผลิตภัณฑ์หรือบริการ </div>
		</div>
		<div class="col-xs-3 bs-wizard-step complete">
			<div class="text-center bs-wizard-stepnum">ขั้นตอนที่ 2</div>
			<div class="progress"><div class="progress-bar"></div></div>
			<a href="#" class="bs-wizard-dot"></a>
			<div class="bs-wizard-info text-center">เงื่อนไขผลิตภัณฑ์</div>
		</div>
		<div class="col-xs-3 bs-wizard-step complete">
			<div class="text-center bs-wizard-stepnum">ขั้นตอนที่ 3</div>
			<div class="progress"><div class="progress-bar"></div></div>
			<a href="#" class="bs-wizard-dot"></a>
			<div class="bs-wizard-info text-center">เลือกพื้นที่สำหรับสมัครเป็นตัวแทนจำหน่าย</div>
		</div>
		<div class="col-xs-3 bs-wizard-step active">
			<div class="text-center bs-wizard-stepnum">ขั้นตอนที่ 4</div>
			<div class="progress"><div class="progress-bar"></div></div>
			<a href="#" class="bs-wizard-dot"></a>
			<div class="bs-wizard-info text-center">กรอกแบบฟอร์มใบสมัครตัวแทน</div>
		</div>
	</div>  
</div>

<div class="container" style="margin-top: 10px;">
	<div class="row">
		<div class="col-md-12" style="background-color: #fff;">
			<div class="row">
				<div class="col-md-12" style="padding: 50px 50px 50px 50px; font-weight: normal; min-height: 350px;">
					<div id="registerGroup" class="row">
						<div class="col-md-12">
							<form action="register-step5.html" class="form-horizontal" role="form" id="frm" name="frm">
								<div class="row">
									<div class="col-md-6">
										<fieldset>
											<legend>บริการ</legend>
											<div class="form-group">
												<div class="col-sm-10" style="display:table;">
													<img src="img/mylogo.png" style="width:135px;">
													{{refServiceCate_name}}
													<input type="hidden" name="refServiceCate" value="{{refServiceCate}}" />
												</div>
											</div>
										</fieldset>
									</div>
									<div class="col-md-6">
										<fieldset>
											<legend>รายละเอียดสำนักงาน</legend>
											<div class="form-group">
												<label class="col-sm-5 control-label" for="textinput">ภูมิภาค/เขต</label>
												<div class="col-sm-7">
													<p class="form-control-static">{{refSaaRegion_name}}</p>
													<input type="hidden" name="refSaaRegion" value="{{refSaaRegion}}" />
												</div>
												<label class="col-sm-5 control-label" for="textinput">จังหวัด</label>
												<div class="col-sm-7" style="min-height:27px;">
													<p class="form-control-static">{{refSaaProvince}}</p>
													<input type="hidden" name="refSaaProvince" value="{{refSaaProvince}}" />
												</div>
												<label class="col-sm-5 control-label" for="textinput">สำนักงานบริการลูกค้า</label>
												<div class="col-sm-7">
													<p class="form-control-static">{{refSaaSalesRep}}</p>
													<input type="hidden" name="refSaaSalesRep" value="{{refSaaSalesRep}}" />
												</div>
											</div>
											<input type="hidden" name="refSaaProvince" value="" />
											<input type="hidden" name="refSaaSalesRep" value=""/>
										</fieldset>
									</div>
								</div>

								<fieldset>
									<legend>ข้อมูลทั่วไป</legend>
									<div class="row">
										<div class="col-sm-6">
											<div class="form-group">
												<label class="col-sm-4 control-label" for="textinput">ประเภทลูกค้า<em>*</em></label>
												<div class="col-sm-8">
													<div class="radio radio-inline">
														<input type="radio" name="partnerType" id="Dealer[type][2]" value="2" checked>
														<label for="Dealer[type][2]">นิติบุคคล</label>
													</div>
													<div class="radio radio-inline" ng-show="refServiceCate != '110'">
														<input type="radio" name="partnerType" id="Dealer[type][1]" value="1">
														<label for="Dealer[type][1]">บุคคลธรรมดา</label>
													</div>
												</div>
												<script>
												$('[name="partnerType"]').click(function(){
													console.log($(this).val());
													$('.dealer-type').addClass('hidden');
													$('.dealer-type[data-dealertype="'+$(this).val()+'"]').removeClass('hidden');
												});
												</script>
											</div>
										</div>
									</div>
								</fieldset>

								<fieldset class="dealer-type hidden" data-dealertype="1">
									<legend>ข้อมูลบุคคลธรรมดา</legend>
									<div class="row">
										<div class="col-sm-12">
											<div class="form-group">
												<label class="col-sm-2 control-label" for="textinput">คำนำหน้าชื่อ<em>*</em></label>
												<div class="col-sm-2">
													<select id="titleprefix" name="prefixCode" class="form-control regtype personal">
														<option ng-repeat="prefix in titleprefix" value="{{prefix.code}}">{{prefix.desc_t}}</option>
													</select>
												</div>
												<label class="col-sm-2 control-label" for="textinput">เพศ<em>*</em></label>
												<div class="col-sm-2">
													<div class="radio radio-inline">
														<input type="radio" name="gender" id="radio1gd" checked value="1" class="regtype personal">
														<label for="radio1gd">ชาย</label>
													</div>
													<div class="radio radio-inline">
														<input type="radio" name="gender" id="radio2gd"  value="2" class="regtype personal">
														<label for="radio2gd">หญิง</label>
													</div>
												</div>
												<label class="col-sm-1 control-label" for="textinput">วันเกิด<em>*</em></label>
												<div class="col-sm-3">
													<div class="input-group date" data-provide="datepicker">
														<input type="text" id="" name="date_of_birth" class="form-control regtype personal require">
														<div class="input-group-addon">
															<span class="fa fa-calendar"></span>
														</div>
													</div>
												</div>
											</div>
											<div class="form-group">
												<label class="col-sm-2 control-label" for="textinput">ชื่อ<em>*</em></label>
												<div class="col-sm-4">
													<input type="text" id="" name="partnerName" placeholder="ชื่อ" class="form-control regtype personal require">
												</div>
												<label class="col-sm-2 control-label" for="textinput">นามสกุล<em>*</em></label>
												<div class="col-sm-4">
													<input type="text" id="" name="suffixName" placeholder="นามสกุล" class="form-control regtype personal require">
												</div>
												<input type="hidden" name="partnerFullName" class="regtype personal" />
											</div>
											<div class="form-group">
												<label class="col-sm-2 control-label" for="textinput">ประเภทบัตร<em>*</em></label>
												<div class="col-sm-4">
													<select class="form-control cardtype regtype personal" id="personalIdType" name="idType"></select>
												</div>
												<label class="col-sm-2 control-label" for="textinput">หมายเลขบัตร<em>*</em></label>
												<div class="col-sm-4">
													<input type="text" id="" name="idCard" placeholder="หมายเลขบัตร" class="form-control regtype personal require">
												</div>
											</div>
											<div class="form-group">
												<label class="col-sm-2 control-label" for="textinput">รายได้เฉลี่ยต่อปี</label>
												<div class="col-sm-4">
													<input type="text" id="" name="capIncome" placeholder="รายได้เฉลี่ยต่อปี" class="form-control regtype personal">
												</div>
											</div>
											<input type="hidden" name="partnerAbbv" class="regtype personal" value="" />
											<input type="hidden" name="idBranch" class="regtype personal" value="" />
											<input type="hidden" name="issuedDate" class="regtype personal" value="" />
											<input type="hidden" name="totalEmp" class="regtype personal" value="0" />
										</div>
									</div>
								</fieldset>
								
								<fieldset class="dealer-type" data-dealertype="2">
									<legend>ข้อมูลนิติบุคคล</legend>
									<div class="row">
										<div class="col-sm-12">
											<div class="form-group">
												<label class="col-sm-2 control-label" for="textinput">ประเภทจดทะเบียน<em>*</em></label>
												<div class="col-sm-2">
													<select class="form-control cardtype regtype copperrate" id="copperratePrefixCode" name="prefixCode"></select>
												</div>
												<label class="col-sm-1 control-label" for="textinput">ชื่อ<em>*</em></label>
												<div class="col-sm-4">
													<input type="text" id="" name="partnerName" placeholder="ชื่อ" class="form-control regtype copperrate require">
												</div>
												<label class="col-sm-1 control-label" for="textinput">ชื่อย่อ</label>
												<div class="col-sm-2">
													<input type="text" id="" name="partnerAbbv" placeholder="ชื่อย่อ" class="form-control regtype copperrate">
												</div>
											</div>
											<div class="form-group">
												<label class="col-sm-2 control-label" for="textinput">ประเภทเอกสาร<em>*</em></label>
												<div class="col-sm-4">
													<select class="form-control cardtype regtype copperrate" id="copperrateIdType" name="idType">
														<option value="1">หนังสือจดทะเบียนการค้า</option>
													</select>
												</div>
												<label class="col-sm-1 control-label" for="textinput">เลขที่<em>*</em></label>
												<div class="col-sm-2">
													<input type="text" id="" name="idCard" placeholder="" class="form-control regtype copperrate require">
												</div>
												<label class="col-sm-1 control-label" for="textinput">สาขา<em>*</em></label>
												<div class="col-sm-2">
													<input type="text" id="" name="idBranch" placeholder="" class="form-control regtype copperrate require">
												</div>
											</div>
											<div class="form-group">
												<label class="col-sm-2 control-label" for="textinput">วันเที่จดทะเบียน<em>*</em></label>
												<div class="col-sm-4">
													<div class="input-group date">
														<input type="text" name="issuedDate" class="form-control regtype copperrate datepicker require" />
														<div class="input-group-addon" onclick="$(this).prev().focus();">
															<span class="fa fa-calendar"></span>
														</div>
													</div>
												</div>
												<label class="col-sm-2 control-label" for="textinput">ทุนจดทะเบียน<em>*</em></label>
												<div class="col-sm-4">
													<input type="text" id="" name="capIncome" placeholder="" class="form-control regtype copperrate require">
												</div>
											</div>
											<div class="form-group">
												<label class="col-sm-2 col-sm-offset-6 control-label" for="textinput">จำนวนพนักงาน</label>
												<div class="col-sm-4">
													<input type="text" id="" name="totalEmp" placeholder="" class="form-control regtype copperrate">
												</div>
											</div>
											<input type="hidden" name="date_of_birth" class="regtype copperrate" value="" />
										</div>
									</div>
								</fieldset>
									
								<fieldset>
									<legend>ข้อมูลที่อยู่</legend>
									<div class="feildset-action hidden">
										<button type="button" class="btn btn-sm btn-primary btn-primary-orange" data-toggle="modal" data-target="#modal_address"><i class="fa fa-plus"></i> เพิ่มข้อมูลที่อยู่</button>
									</div>
									<div class="row">
										<div class="col-xs-12">
											<div class="form-group">
												<label class="col-sm-2 control-label" for="textinput">ที่อยู่เลขที่<em>*</em></label>
												<div class="col-sm-3">
													<input type="text" id="" name="addrNo" placeholder="" class="form-control require">
												</div>
												<label class="col-sm-1 control-label" for="textinput">หมู่ที่</label>
												<div class="col-sm-2">
													<input type="text" id="" name="addrMoo" placeholder="" class="form-control">
												</div>
												<label class="col-sm-1 control-label" for="textinput">หมู่บ้าน</label>
												<div class="col-sm-3">
													<input type="text" id="" name="addrVillage" placeholder="" class="form-control">
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12">
											<div class="form-group">
												<label class="col-sm-2 control-label" for="textinput">อาคาร/ชั้นห้อง</label>
												<div class="col-sm-2">
													<input type="text" id="" name="addrFlor" placeholder="" class="form-control">
												</div>
												<label class="col-sm-2 control-label" for="textinput">ตรอก/ซอย</label>
												<div class="col-sm-2">
													<input type="text" id="" name="addrTroksoi" placeholder="" class="form-control">
												</div>
												<label class="col-sm-1 control-label" for="textinput">ถนน</label>
												<div class="col-sm-3">
													<input type="text" id="" name="addrRd" placeholder="" class="form-control">
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12">
											<div class="form-group">
												<label class="col-sm-2 control-label" for="textinput">ประเทศ</label>
												<div class="col-sm-2">
													<select id="addrCountry" name="addrCountry" class="form-control" readonly></select>
												</div>
												<label class="col-sm-2 control-label" for="textinput">มลรัฐ</label>
												<div class="col-sm-2">
													<input type="text" id="" name="addrState" placeholder="" class="form-control">
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12">
											<div class="form-group">
												<label class="col-sm-2 control-label" for="textinput">ที่อยู่<em>*</em></label>
												<div class="col-sm-10" data-modaladdress="address">
													<input type="hidden" id="addrTumbol" name="addrTumbol" />
													<input type="hidden" id="addrAmphur" name="addrAmphur" />
													<input type="hidden" id="addrProvince" name="addrProvince" />
													<input type="hidden" id="addrZipcode" name="addrZipcode" class="require" />
													<span id="previewaddress"></span>
													<button type="button" class="btn btn-sm btn-primary btn-primary-orange" id="showaddress"><i class="fa fa-map"></i> เลือกที่อยู่</button>
												</div>
												<div class="col-sm-10 col-sm-offset-2 hidden" data-modaladdress="address">
													<table id="table-address" class="table table-bordered datatable">
														<thead>
															<tr>
																<th>จังหวัด</th>
																<th>อำเภอ</th>
																<th>ตำบล</th>
																<th>รหัสไปรษณีย์</th>
																<th></th>
															</tr>
														</thead>
														<tbody></tbody>
													</table>
												</div>
												<script>
												$('#showaddress').click(function(){
													$('[data-modaladdress="address"]').toggleClass('hidden');
												});
												</script>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12">
											<div class="form-group">
												<label class="col-sm-2 control-label" for="textinput">พิกัดที่อยู่</label>
												<div class="col-sm-10" style="position:relative;">
													<div id="googleMap" style="width:100%;height:450px;"></div>
													<img src="img/location-icon.png" width="50" style="position:absolute; z-index:1; top:175px; left:calc(50% - 25px);" />
												</div>
												<div class="col-sm-5 col-sm-offset-2 hidden">
													<input type="text" id="lat" name="addrLatitude" placeholder="Lattitude" class="form-control hidden" />
												</div>
												<div class="col-sm-5 hidden">
													<input type="text" id="long" name="addrLongtitude" placeholder="Longtitude" class="form-control hidden" />
												</div>
											</div>
										</div>
									</div>
									<script>
										var map;
										function myMap() 
										{
											var mapProp= {
												center:new google.maps.LatLng(13.7966691,100.5401804,12.92),
												zoom:12,
											};
											map = new google.maps.Map($("#googleMap")[0], mapProp);
										}
									</script>
								</fieldset>				
									
								<fieldset>
									<legend>ข้อมูลผู้ติดต่อ</legend>
									<div class="feildset-action hidden">
										<button type="button" class="btn btn-sm btn-primary btn-primary-orange" data-toggle="modal" data-target="#modal_contact"><i class="fa fa-plus"></i> เพิ่มข้อมูลผู้ติดต่อ</button>
									</div>
									<div class="row">
										<div class="form-group">
											<label class="col-sm-2 control-label" for="textinput">คำนำหน้าชื่อ<em>*</em></label>
											<div class="col-sm-2">
												<select id="titleprefix" name="prenameCode" class="form-control require">
													<option ng-repeat="prefix in titleprefix" value="{{prefix.code}}">{{prefix.desc_t}}</option>
												</select>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="form-group">
											<label class="col-sm-2 control-label" for="textinput">ชื่อ<em>*</em></label>
											<div class="col-sm-4">
												<input type="text" id="" name="firstName" class="form-control require" />
											</div>
											<label class="col-sm-2 control-label" for="textinput">นามสกุล<em>*</em></label>
											<div class="col-sm-4">
												<input type="text" id="" name="lastName" class="form-control require" />
											</div>
											<input type="hidden" name="fullName" value="" />
										</div>
									</div>
									<div class="row">
										<div class="form-group">
											<label class="col-sm-2 control-label" for="textinput">เบอร์โทรศัพท์มือถือ<em>*</em></label>
											<div class="col-sm-4">
												<input type="text" name="channelInfoMobile" class="form-control require" />
											</div>
											<label class="col-sm-2 control-label" for="textinput">อีเมล</label>
											<div class="col-sm-4">
												<input type="text" name="channelInfoEmail" class="form-control" />
											</div>
										</div>
									</div>
								</fieldset>				
									
								<fieldset>
									<legend>ข้อมูลเอกสารประกอบการพิจรณา</legend>
									<div class="row">
										<div class="form-group">
											<div class="col-sm-4 col-sm-offset-2">
												<input type="file" id="docAttach" name="" class="form-control" accept="image/jpeg,image/gif,image/png,application/pdf" />
												<input type="hidden" id="docName" name="docName" value="" />
												<input type="hidden" id="base64" name="base64" value="" />
											</div>
											<div class="col-xs-10 col-sm-offset-2">
												1. ต้องเป็นไฟล์ .jpg, .png, .pdf เท่านั้น <br />
												2. เอกสารข้อมูลไม่เกิน 2 MB*
											</div>
										</div>
									</div>
								</fieldset>				
									
									
									
									
							</form>
						</div>
					</div>
					<div class="col-md-4 col-md-offset-4">
						<a href="#!register-3" class="btn btn-md btn-default" style="width: 45%;"><i class="fa fa-long-arrow-left"></i>ย้อนกลับ</a>
						<a href="#!register-5" class="btn btn-md btn-primary btn-primary-orange hidden" id="btnNext" style="width: 45%;">ส่งข้อมูลสมัคร</a>
						<a href="#!register-4" class="btn btn-md btn-primary btn-primary-orange" id="sendBtn" style="width: 45%;">ส่งข้อมูลสมัคร</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<style>
.has-error { border-color:#F00; }
</style>


