<div class="container container-main">
	<div class="row bs-wizard" style="border-bottom:0;">
		<div class="col-xs-3 bs-wizard-step complete">
			<div class="text-center bs-wizard-stepnum">ขั้นตอนที่ 1</div>
			<div class="progress"><div class="progress-bar"></div></div>
			<a href="#" class="bs-wizard-dot"></a>
			<div class="bs-wizard-info text-center">เลือกผลิตภัณฑ์หรือบริการ </div>
		</div>
		<div class="col-xs-3 bs-wizard-step active">
			<div class="text-center bs-wizard-stepnum">ขั้นตอนที่ 2</div>
			<div class="progress"><div class="progress-bar"></div></div>
			<a href="#" class="bs-wizard-dot"></a>
			<div class="bs-wizard-info text-center">เงื่อนไขผลิตภัณฑ์</div>
		</div>
		<div class="col-xs-3 bs-wizard-step disabled">
			<div class="text-center bs-wizard-stepnum">ขั้นตอนที่ 3</div>
			<div class="progress"><div class="progress-bar"></div></div>
			<a href="#" class="bs-wizard-dot"></a>
			<div class="bs-wizard-info text-center">เลือกพื้นที่สำหรับสมัครเป็นตัวแทนจำหน่าย</div>
		</div>
		<div class="col-xs-3 bs-wizard-step disabled">
			<div class="text-center bs-wizard-stepnum">ขั้นตอนที่ 4</div>
			<div class="progress"><div class="progress-bar"></div></div>
			<a href="#" class="bs-wizard-dot"></a>
			<div class="bs-wizard-info text-center">กรอกแบบฟอร์มใบสมัครตัวแทน</div>
		</div>
	</div>  
</div>
	
<div class="container" style="margin-top:10px;">
	<div class="row"> 
		<div class="col-md-12" style="background-color:#fff;"> 
			<div class="row">
				<div class="col-md-12" style="padding:50px 50px 50px 50px;font-weight:normal;">
					<div id="termcondition"></div>
					<div class="col-md-6 col-md-offset-3">
						<div class="form-group">
							<div class="radio radio-inline"> 
								<input type="radio" name="x2" id="radio22"  value="option22">
								<label for="radio22">
									ข้าพเจ้ายอมรับและตกลงผูกพันตามเงื่อนไขและข้อตกลง
								</label>
							</div>
						</div>
						<a href="#!register-2" class="btn btn-md btn-default" type="button" style="width:45%;"><i class="fa fa-long-arrow-left"></i> ย้อนกลับ</a> 
						<a href="#!register-3" class="btn btn-md btn-primary btn-primary-orange" style="width:45%;" id="btnnext" disabled="disabled">ถัดไป <i class="fa fa-long-arrow-right"></i></a>
					</div>
				</div>
			</div>  
		</div>
	</div>
</div>

<script>
$('#radio22').change(function(){
	$('#btnnext').removeAttr('disabled');
});
</script>



