
<nav aria-label="breadcrumb" role="navigation">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="">Home</a></li>
		<li class="breadcrumb-item active" aria-current="page">Inbox</li>
	</ol>
</nav>
<p class="text-danger text-right">* เฉพาะรายการงานที่เข้ามาเพื่อรอให้ดำเนินการเท่านั้นหากรายการไหนดำเนินการแล้วจะสามารถเข้าไปดูได้ที่เมนู Jobs</p>
	 <form class="form-horizontal well" role="form">

		<fieldset> 
			<div class="form-group">
				<label class="col-sm-2 control-label" for="textinput">เลขที่คำขอ</label>
				<div class="col-sm-2">
					<input type="text" placeholder="เลขที่คำขอ " class="form-control">
				</div> 
				<label class="col-sm-1 control-label" for="textinput">ชื่อผู้ขอ</label>
				<div class="col-sm-4">
					<input type="text" placeholder="ชื่อผู้ขอ " class="form-control">
				</div> 

				<label class="col-sm-1 control-label" for="textinput">ประเภท</label>
				<div class="col-sm-2">
					<select class="form-control">
					<option>Dealer Register</option>
					<option>New Service</option>
					<option>Commission</option>
					</select>
				</div> 
			</div> 

		  <!-- Text input-->
			<div class="form-group">
				<label class="col-sm-2 control-label" for="textinput">วันที่จาก</label>
				<div class="col-sm-2">
					<div class="input-group date" data-provide="datepicker">
						<input type="text" class="form-control">
						<div class="input-group-addon">
							<span class="fa fa-calendar"></span>
						</div>
					</div>
				</div> 
				<label class="col-sm-1 control-label" for="textinput">วันที่ถึง</label>
				<div class="col-sm-2">
					<div class="input-group date" data-provide="datepicker">
						<input type="text" class="form-control">
						<div class="input-group-addon">
							<span class="fa fa-calendar"></span>
						</div>
					</div>
				</div> 
			</div> 

			<div>
				<button class="btn btn-primary pull-right" type="button"  > <i class="fa fa-search"></i> ค้นหา</button> 
			</div>

        </fieldset>
		<!-- end -->
		     </form>
		<div class="col-xs-12">
		    <table id="tablelist" class="table table-bordered table-hover datatable">
		        <thead>
		            <tr class="success">
						<th>ลำดับ</th>
						<th>เลขที่งาน</th>
		                <th>เรื่อง</th>
		                <th>ประเภท</th>
		                <th>ผู้ส่ง</th>
						<th>วันที่รับ</th>
		                <th>สถานะ</th>
						<th>วันที่อนุมัติ</th>
		                <th width="1">&nbsp;</th> 
		            </tr>
		        </thead>
		        <tbody></tbody>
		    </table>
		</div>
		
		<script type="text/javascript">
		$(function () {

			$('.datepicker').datepicker({
    format: 'dd/mm/yyyy',
    startDate: '-3d',
	autoclose: true
});

  	$('.navbar-toggle-sidebar').click(function () {
  		$('.navbar-nav').toggleClass('slide-in');
  		$('.side-body').toggleClass('body-slide-in');
  		$('#search').removeClass('in').addClass('collapse').slideUp(200);
  	});

  	$('#search-trigger').click(function () {
  		$('.navbar-nav').removeClass('slide-in');
  		$('.side-body').removeClass('body-slide-in');
  		$('.search-input').focus();
  	});
  });
		</script>
		