


		<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Mailing List</li>
  </ol>
</nav>
  			  <!-- <div class="panel panel-default">
		    <div class="panel-heading">
		        <h3>List of Contract Agreement 
		        </h3>
		    </div> -->
<form class="form-horizontal well" role="form">

			<fieldset> 
          <!-- Form Name -->
          <!-- <legend>เอกสารประกอบการสมัคร</legend>
 -->
 <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Service</label>
            <div class="col-sm-4">
                <select class="form-control">
					<option>my บริการ 3G/4G</option>
					<option>C internet</option>
					<option>CAT datacom</option>
				</select> 
            </div> 
			  
          </div> 
		  <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">ชื่อ</label>
            <div class="col-sm-4">
                <input type="text" placeholder="ชื่อ " class="form-control">
            </div> 
			 <label class="col-sm-2 control-label" for="textinput">Email</label>
            <div class="col-sm-4">
                <input type="text" placeholder="Email " class="form-control">
            </div> 
          </div> 

		   

	<div >
		<button class="btn btn-primary pull-right" type="button"  > <i class="fa fa-search"></i> ค้นหา</button> 
		<button class="btn btn-primary pull-right" type="button" style="margin-right:10px;"
			data-toggle="modal" data-target="#newmail"> 
			<i class="fa fa-file"></i> สร้างรายชื่อ
		</button> 
	</div>

        </fieldset>
		<!-- end -->
		     </form>
			<div class="row" style="margin-bottom:13px;">
			<div class="col-md-12">
			<button class="btn btn-info pull-right" type="button" style="margin-left:3px;" > <i class="fa fa-file-excel-o"></i> Inport Mail list</button> 
			<button class="btn btn-info pull-right" type="button" style="margin-left:3px;" > <i class="fa fa-file-excel-o"></i> Export Excel</button> 
			<button class="btn btn-success pull-right" type="button"  style="margin-left:3px;"> <i class="fa fa-file-o"></i> Export CSV</button> 
			</div>
			</div>
		    <table class="table table-striped table-hover">
		        <thead>
		            <tr class="success">
		                <!-- <th class="col-check"><input type="checkbox" class="form-check-input"></th> -->
						<th>ลำดับ</th>
		                <th>ชื่อ</th>
		                <th>Email</th> 
		                <th>สถานะ</th>
		                <th>&nbsp;</th> 
		            </tr>
		        </thead>
		        <tbody>
		        </tbody>
		    </table>

		            <script type="text/javascript">
						var text='';

						var names = ["Loxley Co., Ltd.","Loxley (Sub A) ","Loxley (Sub B)","Loxley (Sub D)","Loxley (Sub E)"];

						for(var i=1;i<=5;i++){

						text +='<tr>'+
						//	'		                <td class="col-check"><input type="checkbox" class="form-check-input"></td>'+
							'		                <td>'+i+'</td>'+
							'						<td>'+names[(i-1)]+'</td>'+
							'		                <td>myemail00'+i+'@email.com</td>'+
							//'		                <td>'+
							//'							ภูมิภาค/เขต : ภาคกลาง<br>'+
							//'จังหวัด/พื้นที่ : กรุงเทพ และ ปริมลฑล<br>'+
							//'Shop: Shop A (นนทบุรี)'+
							//'						</td>'+
							'		                <td>ใช้งาน</td>'+
							'		                <td>'+
							'							<button type="button" class="btn btn-xs  btn-warning" title="edit"><i class="fa fa-edit"></i></button>'+
							'							<button type="button" class="btn btn-xs  btn-success" title="share"><i class="fa fa-share-square-o"></i></button>'+
							'						</td>'+
							'		            </tr>'+
							'';
						}
					$('.table tbody').append(text);
					$('.table').dataTable();
		             

		            </script>
			
		
			
<div class="modal fade" id="newmail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content row">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">สร้างรายชื่อ</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body form-horizontal col-xs-8">
			
				<div class="form-group"> 
					<label class="col-sm-4 control-label" for="textinput">ชื่อ</label>
					<div class="col-sm-8">
						<input type="text" placeholder="ชื่อ" class="form-control">
					</div> 
				</div> 
				<div class="form-group"> 
					<label class="col-sm-4 control-label" for="textinput">อีเมล</label>
					<div class="col-sm-8">
						<input type="text" placeholder="อีเมล" class="form-control">
					</div> 
				</div> 
				<div class="form-group"> 
					<label class="col-sm-4 control-label" for="textinput">สถานะ</label>
					<div class="col-sm-8">
						<select class="form-control" name="ddlparent" id="ddlparent">
							<option>ใช้งาน</option>
							<option>ไม่ใช้งาน</option>
						</select>
					</div> 
				</div> 
				
			</div>
			<div class="modal-footer col-xs-12">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
			</div>
		</div>
	</div>
</div>

  		<script type="text/javascript" src="dfooter.js"></script>
  	<!-- </div> -->

	     <script type="text/javascript" src="js/jquery.js"></script> 
        <script type="text/javascript" src="js/bootstrap.js"></script>
		<script type="text/javascript" src="js/bootbox.min.js"></script>
		<script type="text/javascript">
		$(function () {
  	$('.navbar-toggle-sidebar').click(function () {
  		$('.navbar-nav').toggleClass('slide-in');
  		$('.side-body').toggleClass('body-slide-in');
  		$('#search').removeClass('in').addClass('collapse').slideUp(200);
  	});

  	$('#search-trigger').click(function () {
  		$('.navbar-nav').removeClass('slide-in');
  		$('.side-body').removeClass('body-slide-in');
  		$('.search-input').focus();
  	});
  });
		</script>
    
	