

  <style>
  .control-label { line-height:34px; margin:0; padding:0 !important; }
  </style>


		<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Manage Dealer Package</li>
  </ol>
</nav>
  			  <!-- <div class="panel panel-default">
		    <div class="panel-heading">
		        <h3>List of Contract Agreement 
		        </h3>
		    </div> -->
<form class="form-horizontal well" role="form">

			<fieldset> 
          <!-- Form Name -->
          <!-- <legend>เอกสารประกอบการสมัคร</legend>
 -->
		  <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Package ID</label>
            <div class="col-sm-2">
                <input type="text" placeholder="Package ID" class="form-control">
            </div> 
			  <label class="col-sm-2 control-label" for="textinput">Package Name</label>
            <div class="col-sm-2">
                <input type="text" placeholder="Package Name" class="form-control">
            </div>  
			 <label class="col-sm-2 control-label" for="textinput">Contract Account</label>
            <div class="col-sm-2">
                <input type="text" placeholder="Contract Account" class="form-control">
            </div>  
          </div> 

		  <!-- Text input-->
          <div class="form-group"> 
		  <label class="col-sm-2 control-label" for="textinput">Promotion</label>
            <div class="col-sm-4">
                <select class="form-control">
					<option>Promotion A</option>
					<option>Promotion B</option> 
				</select>
            </div> 
			<label class="col-sm-2 control-label" for="textinput">สถานะ</label>
            <div class="col-sm-4">
                <select class="form-control">
					<option>ใช้งาน</option>
					<option>ไม่ใช้งาน</option> 
				</select>
            </div> 
          </div> 


	<div>
		<button class="btn btn-primary pull-right" type="button"  > <i class="fa fa-search"></i> ค้นหา</button> 
		 
	</div>

        </fieldset>
		<!-- end -->
		     </form>
			 <div class="row" style="margin-bottom:13px;">
			<div class="col-md-12">
				<a href="edit-package.html" class="btn btn-info pull-right" type="button" style="margin-left:3px; position:absolute; right:15px;" > <i class="fa fa-plus"></i> เพิ่มรายการ</a>  
			</div>
			</div>
		    <table id="tablelist" class="table table-bordered table-hover datatable">
		        <thead>
		            <tr class="success">
						<th>ลำดับ</th>
						<th>Contract No.</th>
		                <th>ชื่อ</th>
		                <th>ประเภทบริการ</th>
		                <th>สำนักงาน</th>
		                <th>สถานะ</th>
		                <th width="1">&nbsp;</th> 
		            </tr>
		        </thead>
		        <tbody></tbody>
		    </table>
			
			
		            <script type="text/javascript">
						var text='';

						var names = ["Package A - Free Net","Package B - Free Call","Package A - All Free"];
						var nameEmp = ['Elias Vlaho','Henriette Regina','Nathaniel Manfried'];
						var team = ['SALE-0001','SALE-0002','SALE-0003'];

						for(var i=1;i<=3;i++){

						text +='<tr>'+
							//'		                <td class="col-check"><input type="checkbox" class="form-check-input"></td>'+
							'		                <td>'+i+'</td>'+
							'		                <td>PK000'+i+'</td>'+ 
							'						<td>'+names[(i-1)]+'</td>'+ 
							'						<td>Promotion Name 1</td>'+  
							'						<td>DL0001'+i+'</td>'+ 
							'		                <td>ใช้งาน</td>'+
							'		                <td>'+
							'							<a href="edit-package.html" class="btn btn-xs  btn-warning"><i class="fa fa-edit"></i></a>'+
					 		'							<a href="" class="btn btn-xs  btn-danger"><i class="fa fa-trash"></i></a>'+
							'				'+			 
							'						</td>'+
							'		                '+
							'		            </tr>'+
							'';
						}
					$('#tablelist tbody').append(text);
					$('#tablelist').dataTable();
		             

		            </script>
			
		<script type="text/javascript">
		$(function () {
  	$('.navbar-toggle-sidebar').click(function () {
  		$('.navbar-nav').toggleClass('slide-in');
  		$('.side-body').toggleClass('body-slide-in');
  		$('#search').removeClass('in').addClass('collapse').slideUp(200);
  	});

  	$('#search-trigger').click(function () {
  		$('.navbar-nav').removeClass('slide-in');
  		$('.side-body').removeClass('body-slide-in');
  		$('.search-input').focus();
  	});
  });
		</script>
    
<div class="modal fade" id="newcontract" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">สร้าง Contract Account</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" style="display:table;">
				<div class="form-group">
					<label class="col-sm-4 control-label" for="textinput">ชื่อผู้ใช้งาน</label>
					<div class="col-sm-8" style="margin-bottom:10px;">
						<input type="text" placeholder="username" class="form-control">
					</div>
					<label class="col-sm-4 control-label" for="textinput">ดูแลทีมภายใต้</label>
					<div class="col-sm-8">
						<select class="form-control">
							<option>ทั้งหมด</option>
							<option>MCC</option>
							<option>- Zeus</option> 
							<option>- Thor</option> 
							<option>AEE</option> 
						</select>
					</div> 
				</div> 
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div>
	</div>
</div>
