
<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">ลงทะเบียน Dealer</li>
  </ol>
</nav>
 <form class="form-horizontal" role="form">
   <div class="panel panel-warning">
	<div class="panel-heading">
		1. ผลิตภัณฑ์หรือบริการต้องการเป็นตัวแทนจำหน่าย
	</div>
	<div class="panel-body">
		    <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">บริการ</label>
            <div class="col-sm-8">
               <select class="form-control">
					<option>my บริการ 3G/4G</option>
					<option>C internet</option>
					<option>CAT datacom</option>
				</select>
            </div> 
			
          </div> 
	</div> 
</div>
<!-- // -->
	<div class="panel panel-warning">
	<div class="panel-heading">
		2. พื้นที่สำหรับสมัครเป็นตัวแทนจำหน่าย
	</div>
	<div class="panel-body">

	 <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">ภูมิภาค/เขต</label>
            <div class="col-sm-4">
              <select name="" class="form-control">
					<option value="" selected>
					กรุงเทพ และ ปริมลฑล
					<option value="">
				</select> 
            </div> 
			
			<label class="col-sm-2 control-label" for="textinput">จังหวัด/พื้นที่</label>
            <div class="col-sm-4">
               <select name="" class="form-control">
								<option value="" selected>
								กรุงเทพ และ ปริมลฑล
								<option value="">
							</select> 
            </div> 

          </div> 

		   <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">สำนักงานบริการลูกค้า/ศูนย์บริการลูกค้า</label>
            <div class="col-sm-4"> 
						   <select name="" class="form-control">
								<option value="" selected>
									ส่วนผลิตภัณฑ์และบริการ
								</option> 
								<option value="" selected>
									ส่วนการตลาดและการขาย
								</option> 
							</select> 
            </div> 
			
          </div> 

		  


	</div>
</div> 
<!-- // -->
	<div class="panel panel-warning">
	<div class="panel-heading">
		รายละเอียด
	</div>
	<div class="panel-body form-horizontal" id="detail">
		 
		<!-- start -->
		 

			<fieldset>
                                        <!-- Form Name -->
                                        <legend>ข้อมูลทั่วไป</legend>


                                        <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="textinput">ประเภทลูกค้า<em>*</em></label>
                                            <div class="col-sm-4">
                                                <div class="radio radio-inline">

                                                    <input type="radio" name="x" id="radio1" onclick="changetype('P');" checked value="option1">
                                                    <label for="radio1">
                                                        บุคคลธรรมดา
                                                    </label>
                                                </div>
                                                <div class="radio radio-inline">

                                                    <input type="radio" name="x" id="radio2" onclick="changetype('N');" checked value="option2">
                                                    <label for="radio2">
                                                        นิติบุคคล
                                                    </label>
                                                </div>
                                            </div>


                                        </div>

										<div class="org"> 
                                            <!-- /// -->
											<!-- /// -->
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label" for="textinput">ประเภท<em>*</em></label>
                                                <div class="col-sm-2">
                                                    <select id="v1" name="v1" class="form-control">
                                                        <option value="1">บจก.</option>
                                                        <option  value="2">บมจ.</option>
                                                        <option  value="3">หจก.</option>
                                                    </select>
                                                </div>

												<label class="col-sm-2 control-label" for="textinput">ชื่อ<em>*</em></label>
                                                <div class="col-sm-3">
                                                    <input type="text" id="v3" name="v3" placeholder="ชื่อ" class="form-control">
                                                </div>

                                                <label class="col-sm-1 control-label" for="textinput">รหัสสาขา<em>*</em></label>
                                                <div class="col-sm-2">
                                                    <input type="text" id="v4" name="v4" placeholder="นามสกุล" class="form-control">
                                                </div>
                                            </div> 

                                            <!-- /// -->
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label" for="textinput">ประเภทบัตร<em>*</em></label>
                                                <div class="col-sm-2">
                                                    <select class="form-control cardtype" id="v51" name="v51">
                                                        <option value="1">Citizen ID Card</option>
                                                        <option value="2">Passport</option>
                                                        <option value="3">Other</option>
                                                    </select>
                                                </div>

                                                <label class="col-sm-2 control-label" for="textinput">หมายเลขบัตร<em>*</em></label>
                                                <div class="col-sm-2">
                                                    <input type="text" id="v6" name="v6" placeholder="หมายเลขบัตร" class="form-control">
                                                </div>

                                                <label class="col-sm-2 control-label" for="textinput">เลขที่ประจำตัวผู้เสียภาษี</label>
                                                <div class="col-sm-2">
                                                    <input type="text" placeholder="เลขที่ประจำตัวผู้เสียภาษี" class="form-control">
                                                </div>
                                            </div>
                                            <!-- /// -->

											<!--  -->
                                            <div class="form-group">

											<label class="col-sm-2 control-label" for="textinput">วันที่จดทะเบียน<em>*</em></label>
                                                <div class="col-sm-2">
                                                    <div class="input-group date" data-provide="datepicker">
                                                        <input type="text" id="v2" name="v2" class="form-control">
                                                        <div class="input-group-addon">
                                                            <span class="fa fa-calendar"></span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <label class="col-sm-2 control-label" for="textinput">ทุนจดทะเบียน<em>*</em></label>
                                                <div class="col-sm-2">
                                                    <input type="text" id="v4" name="v4" placeholder="ทุนจดทะเบียน" class="form-control">
                                                </div> 

                                            </div>

                                            
                                        <!-- Text input-->
                                        <div class="form-group">

										<label class="col-sm-2 control-label" for="textinput">อีเมล์ </label>
                                                <div class="col-sm-4">
                                                    <input type="text" placeholder="อีเมล์ " class="form-control">
                                                </div>

                                            <label class="col-sm-2 control-label" for="textinput">เบอร์โทรศัพท์</label>
                                            <div class="col-sm-4">
                                                <input type="text" placeholder="เบอร์โทรศัพท์" class="form-control">
                                            </div>

                                             
                                        </div> 

										<!-- Text input-->
                                        <div class="form-group">
 

                                            <label class="col-sm-2 control-label" for="textinput">เบอร์โทรสาร </label>
                                            <div class="col-sm-4">
                                                <input type="text" placeholder="เบอร์โทรสาร " class="form-control">
                                            </div>
                                        </div>
										</div>

<!-- org -->
                                        <div class="individual">
                                            <!-- /// -->
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label" for="textinput">คำนำหน้าชื่อ<em>*</em></label>
                                                <div class="col-sm-2">
                                                    <select id="v12" name="v12" class="form-control">
                                                        <option>นาย</option>
                                                        <option>นาง</option>
                                                        <option>นางสาว</option>
                                                    </select>
                                                </div>

                                                <!-- Text input-->
                                                <label class="col-sm-2 control-label" for="textinput">เพศ<em>*</em></label>
                                                <div class="col-sm-2">
                                                    <div class="radio radio-inline">

                                                        <input type="radio" name="xgd" id="radio1gd" checked value="option1">
                                                        <label for="radio1gd">
                                                            ชาย
                                                        </label>
                                                    </div>
                                                    <div class="radio radio-inline">

                                                        <input type="radio" name="xgd" id="radio2gd"  value="option2">
                                                        <label for="radio2gd">
                                                            หญิง
                                                        </label>
                                                    </div>
                                                </div>

                                                <label class="col-sm-1 control-label" for="textinput">วันเกิด<em>*</em></label>
                                                <div class="col-sm-3">
                                                    <div class="input-group date" data-provide="datepicker">
                                                        <input type="text" id="v2" name="v2" class="form-control">
                                                        <div class="input-group-addon">
                                                            <span class="fa fa-calendar"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /// -->
                                            <!-- /// -->
                                            <div class="form-group">

                                                <label class="col-sm-2 control-label" for="textinput">ชื่อ<em>*</em></label>
                                                <div class="col-sm-4">
                                                    <input type="text" id="v3" name="v3" placeholder="ชื่อ" class="form-control">
                                                </div>

                                                <label class="col-sm-2 control-label" for="textinput">นามสกุล<em>*</em></label>
                                                <div class="col-sm-4">
                                                    <input type="text" id="v4" name="v4" placeholder="นามสกุล" class="form-control">
                                                </div>
                                            </div>
                                            <!-- /// -->

                                            <!-- /// -->
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label" for="textinput">ประเภทบัตร<em>*</em></label>
                                                <div class="col-sm-2">
                                                    <select class="form-control cardtype" id="v5" name="v5">
                                                        <option value="1">Tax ID Card</option>
														<option value="2">Citizen ID Card</option>
                                                        <option value="3">Passport</option>
                                                        <option value="4">Other</option>
                                                    </select>
                                                </div>

                                                <label class="col-sm-2 control-label" for="textinput">หมายเลขบัตร<em>*</em></label>
                                                <div class="col-sm-2">
                                                    <input type="text" id="v6" name="v6" placeholder="หมายเลขบัตร" class="form-control">
                                                </div>

                                                <label class="col-sm-2 control-label" for="textinput">เลขที่ประจำตัวผู้เสียภาษี</label>
                                                <div class="col-sm-2">
                                                    <input type="text" placeholder="เลขที่ประจำตัวผู้เสียภาษี" class="form-control">
                                                </div>
                                            </div>
                                            <!-- /// -->

                                            <!-- Text input-->
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label" for="textinput">เบอร์โทรศัพท์มือถือ<em>*</em></label>
                                                <div class="col-sm-4">
                                                    <input type="text" placeholder="เบอร์โทรศัพท์มือถือ" class="form-control" id="v7" name="v7">
                                                </div>

                                                <label class="col-sm-2 control-label" for="textinput">อีเมล์ </label>
                                                <div class="col-sm-4">
                                                    <input type="text" placeholder="อีเมล์ " class="form-control">
                                                </div>
                                            </div>

                                        <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="textinput">เบอร์โทรศัพท์</label>
                                            <div class="col-sm-4">
                                                <input type="text" placeholder="เบอร์โทรศัพท์" class="form-control">
                                            </div>

                                            <label class="col-sm-2 control-label" for="textinput">เบอร์โทรสาร </label>
                                            <div class="col-sm-4">
                                                <input type="text" placeholder="เบอร์โทรสาร " class="form-control">
                                            </div>
                                        </div>

                                            </div>
                                       <!-- individual -->

                                    </fieldset>

                                    <fieldset>
                                        <!-- Form Name -->
                                        <legend>ที่อยู่</legend>


                                        <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="textinput">ที่อยู่เลขที่<em>*</em></label>
                                            <div class="col-sm-3">
                                                <input type="text" placeholder="ที่อยู่เลขที่" class="form-control">
                                            </div>

                                            <label class="col-sm-1 control-label" for="textinput">หมู่ที่<em>*</em></label>
                                            <div class="col-sm-2">
                                                <input type="text" placeholder="หมู่ที่" class="form-control">
                                            </div>

                                            <label class="col-sm-1 control-label" for="textinput">หมู่บ้าน</label>
                                            <div class="col-sm-3">
                                                <input type="text" placeholder="หมู่บ้าน" class="form-control">
                                            </div>
                                        </div>

                                        <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="textinput">อาคาร/ชั้นห้อง</label>
                                            <div class="col-sm-2">
                                                <input type="text" placeholder="อาคาร/ชั้นห้อง" class="form-control">
                                            </div>

                                            <label class="col-sm-1 control-label" for="textinput">ตรอก/ซอย</label>
                                            <div class="col-sm-3">
                                                <input type="text" placeholder="ตรอก/ซอย" class="form-control">
                                            </div>

                                            <label class="col-sm-1 control-label" for="textinput">ถนน</label>
                                            <div class="col-sm-3">
                                                <input type="text" placeholder="ถนน" class="form-control">
                                            </div>
                                        </div>

										<!-- Text input-->
                                        <div class="form-group">

                                            <label class="col-sm-2 control-label" for="textinput">ประเทศ<em>*</em></label>
                                            <div class="col-sm-4">
                                                <select class="form-control" id="ddlcountry">
                                                    <option value="1">ไทย</option>
													<option value="2">พม่า</option>
													<option value="3">เวียดนาม</option>
                                                </select>
                                            </div>

                                             
                                            <div class="col-sm-4">
                                                 <button type="button" id="btnAddress" class="btn btn-sm btn-info"><i class="fa fa-search"></i> ค้นหาที่อยู่</button>
                                            </div>
                                        </div>
										
										<div class="THA">
                                        <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="textinput">จังหวัด<em>*</em></label>
                                            <div class="col-sm-4">
                                                 <input type="text" id="province" readonly placeholder="" class="form-control" value="กรุงเทพมหานคร">
                                            </div>

                                            <label class="col-sm-2 control-label" for="textinput">อำเภอ/เขต<em>*</em></label>
                                            <div class="col-sm-4">
                                                <input type="text" id="district" readonly placeholder="" class="form-control" value="พระนคร">
                                            </div>


                                        </div>

                                        <!-- Text input-->
                                        <div class="form-group">

                                            <label class="col-sm-2 control-label" for="textinput">ตำบล/แขวง<em>*</em></label>
                                            <div class="col-sm-4">
                                              <input type="text" id="subdistrict" readonly placeholder="" class="form-control" value="พระบรมมหาราชวัง">
                                            </div>

                                            <label class="col-sm-2 control-label" for="textinput">รหัสไปรษณีย์<em>*</em></label>
                                            <div class="col-sm-4">
                                                <input type="text" id="zipcode" readonly placeholder="" class="form-control" value="10200">
                                            </div>


                                        </div>
										</div>
										
										<div class="OTH">

										<!-- Text input-->
                                        <div class="form-group">

											<label class="col-sm-2 control-label" for="textinput">State<em>*</em></label>
                                            <div class="col-sm-4">
                                                <input type="text" placeholder="State" class="form-control">
                                            </div>

                                            <label class="col-sm-2 control-label" for="textinput">Province<em></em></label>
                                            <div class="col-sm-4">
                                                <input type="text" placeholder="City" class="form-control">
                                            </div>

											
                                            


                                        </div>

                                        <!-- Text input-->
                                        <div class="form-group"> 

										<label class="col-sm-2 control-label" for="textinput">City<em></em></label>
                                            <div class="col-sm-4">
                                                <input type="text" placeholder="City" class="form-control">
                                            </div>


                                            <label class="col-sm-2 control-label" for="textinput">Zip Code<em>*</em></label>
                                            <div class="col-sm-4">
                                                <input type="text" placeholder="Zip Code" class="form-control">
                                            </div>


                                        </div>

										</div>

										




                                    </fieldset>


                                    <fieldset id="address2">
                                        <!-- Form Name -->
                                        <legend>บุคคลที่ติดต่อ</legend>
                                        <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="textinput">คำนำหน้าชื่อ<em>*</em></label>
                                            <div class="col-sm-2">
                                                <select class="form-control">
                                                    <option>นาย</option>
                                                    <option>นาง</option>
                                                    <option>นางสาว</option>
                                                </select>
                                            </div>

                                            <label class="col-sm-1 control-label" for="textinput">ชื่อ<em>*</em></label>
                                            <div class="col-sm-3">
                                                <input type="text" placeholder="ชื่อ" class="form-control">
                                            </div>

                                            <label class="col-sm-1 control-label" for="textinput">นามสกุล<em>*</em></label>
                                            <div class="col-sm-3">
                                                <input type="text" placeholder="นามสกุล" class="form-control">
                                            </div>
                                        </div>

                                         <!-- Text input-->
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label" for="textinput">เบอร์โทรศัพท์มือถือ<em>*</em></label>
                                                <div class="col-sm-4">
                                                    <input type="text" placeholder="เบอร์โทรศัพท์มือถือ" class="form-control">
                                                </div>

                                                <label class="col-sm-2 control-label" for="textinput">อีเมล์ </label>
                                                <div class="col-sm-4">
                                                    <input type="text" placeholder="อีเมล์ " class="form-control">
                                                </div>
                                            </div>

                                        <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="textinput">เบอร์โทรศัพท์</label>
                                            <div class="col-sm-4">
                                                <input type="text" placeholder="เบอร์โทรศัพท์" class="form-control">
                                            </div>

                                            <label class="col-sm-2 control-label" for="textinput">เบอร์โทรสาร </label>
                                            <div class="col-sm-4">
                                                <input type="text" placeholder="เบอร์โทรสาร " class="form-control">
                                            </div>
                                        </div>


                                    </fieldset>

                                    <fieldset>
                                        <!-- Form Name -->
                                        <legend>เอกสารประกอบการสมัคร</legend>
										<div class="individual">
                                        <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label lblDoc" for="textinput">สำเนาบัตรประชาชน <em>*</em></label>
                                            <div class="col-sm-4">
                                                <input type="file" placeholder="สำเนาบัตรประชาชน " class="form-control">
                                            </div>
                                        </div>

                                        <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="textinput">สำเนาทะเบียนบ้าน</label>
                                            <div class="col-sm-4">
                                                <input type="file" placeholder="สำเนาทะเบียนบ้าน " class="form-control">
                                            </div>
                                        </div>
										</div>
										<div class="org">
                                        <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label lblDoc" for="textinput">สำเนาหนังสือจดทะเบียนบริษัท <em>*</em></label>
                                            <div class="col-sm-4">
                                                <input type="file" placeholder="หนังสือจดทะเบียนบริษัท " class="form-control">
                                            </div>
                                        </div>

                                        <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="textinput">สำเนาเอกสารใบภพ. 20</label>
                                            <div class="col-sm-4">
                                                <input type="file" placeholder=" " class="form-control">
                                            </div>
                                        </div>
										</div>

                                    </fieldset>
		<!-- end -->
	</div>
</div>
<!-- // -->
<!-- // -->
	<div class="panel panel-primary">
	<div class="panel-heading"> 
		CAT Shop
	</div>
	<div class="panel-body">
	 <div class="form-horizontal ">
			<div class="row">
				<div class="col-md-12 catshop">

				<fieldset>
                                        <!-- Form Name -->
                                        <legend>รายละเอียดสัญญา</legend>
										  <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="textinput">เลขที่สัญญา  </label>
                                            <div class="col-sm-4">
                                                <input type="text" placeholder=" " class="form-control">
                                            </div>
											  <div class="col-sm-1">
													<button type="button" class="btn btn-sm btn-info"><i class="fa fa-cog"></i> Generate</button>
												</div>
                                        </div>

										<div class="form-group">
                                            <label class="col-sm-2 control-label" for="textinput">Type</label>
                                            <div class="col-sm-2">
                                                <select name="" class="form-control" id="ddldType">
													<option value="1" selected>
														Dealer
													</option> 
													<option value="2" >
														Partner
													</option> 
													<option value="3" >
														Partner & Dealer
													</option> 
												</select> 
                                            </div>
											<div class="dealer">
											<label class="col-sm-2 control-label" for="textinput">Dealer Code</label>
                                            <div class="col-sm-2">
                                                <input type="text" placeholder=" " disabled class="form-control">
                                            </div>
											</div>
											
                                        </div>

										<!-- Text input-->
                                        <div class="form-group">
										<div class="partner" style="display:none;">
											<label class="col-sm-2 control-label" for="textinput">Partner Project Name</label>
                                            <div class="col-sm-4">
                                                <input type="text" placeholder=" " class="form-control">
                                            </div>

											<label class="col-sm-2 control-label" for="textinput">Partner Project Code</label>
                                            <div class="col-sm-2">
                                                <input type="text" placeholder=" " disabled class="form-control">
                                            </div>
											</div>
										</div>

										 <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="textinput">วันที่เริ่มต้นสัญญา</label>
                                            <div class="col-sm-4">
                                                 <div class="input-group date" data-provide="datepicker">
                                                        <input type="text" id="v2" name="v2" class="form-control">
                                                        <div class="input-group-addon">
                                                            <span class="fa fa-calendar"></span>
                                                        </div>
                                                    </div>
                                            </div>
                                        
                                            <label class="col-sm-2 control-label" for="textinput">วันที่สิ้นสุดสัญญา</label>
                                            <div class="col-sm-4">
                                                 <div class="input-group date" data-provide="datepicker">
                                                        <input type="text" id="v2" name="v2" class="form-control">
                                                        <div class="input-group-addon">
                                                            <span class="fa fa-calendar"></span>
                                                        </div>
                                                    </div>
                                            </div>
                                        </div>

									 <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="textinput">รายละเอียดสัญญา<em>*</em></label>
                                            <div class="col-sm-10">
                                                <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                                            </div> 
                                        </div>

										 <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="textinput">ผู้มีอำนาจลงนามตามสัญญา<em>*</em></label>
                                            <div class="col-sm-10">
                                               <input type="text" class="form-control" id="exampleInputPassword1" placeholder="ผู้มีอำนาจลงนามตามสัญญา">
                                            </div> 
                                        </div>

                                    </fieldset>
								
									 

									<ul class="nav nav-tabs"> 
										<li role="presentation" class="active"><a href="#address" aria-controls="address" role="tab" data-toggle="tab">ที่อยู่</a></li>
										<li role="presentation"><a href="#contract" aria-controls="contract" role="tab" data-toggle="tab">บุคคลติดต่อ</a></li> 
									  <li><a data-toggle="tab" href="#menu1">Customer Profile</a></li>
									  <li><a data-toggle="tab" href="#menu2">เอกสารประกอบการสมัคร</a></li>
									  <li><a data-toggle="tab" href="#menu3">Commission Setting</a></li>
									  <!-- <li><a data-toggle="tab" href="#menu4">Comments</a></li> -->
									  <li ><a data-toggle="tab" href="#home">Sale Information</a></li> 
   </ul> 
									<div class="tab-content">
									<div role="tabpanel" class="tab-pane active" id="address">
										<fieldset>
                                        <!-- Form Name -->
                                         <br>
										 
                                        <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="textinput">ที่อยู่เลขที่<em>*</em></label>
                                            <div class="col-sm-3">
                                                <input type="text" placeholder="ที่อยู่เลขที่" class="form-control">
                                            </div>

                                            <label class="col-sm-1 control-label" for="textinput">หมู่ที่<em>*</em></label>
                                            <div class="col-sm-2">
                                                <input type="text" placeholder="หมู่ที่" class="form-control">
                                            </div>

                                            <label class="col-sm-1 control-label" for="textinput">หมู่บ้าน</label>
                                            <div class="col-sm-3">
                                                <input type="text" placeholder="หมู่บ้าน" class="form-control">
                                            </div>
                                        </div>

                                        <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="textinput">อาคาร/ชั้นห้อง</label>
                                            <div class="col-sm-2">
                                                <input type="text" placeholder="อาคาร/ชั้นห้อง" class="form-control">
                                            </div>

                                            <label class="col-sm-1 control-label" for="textinput">ตรอก/ซอย</label>
                                            <div class="col-sm-3">
                                                <input type="text" placeholder="ตรอก/ซอย" class="form-control">
                                            </div>

                                            <label class="col-sm-1 control-label" for="textinput">ถนน</label>
                                            <div class="col-sm-3">
                                                <input type="text" placeholder="ถนน" class="form-control">
                                            </div>
                                        </div>

                                        <!-- Text input-->
                                        <div class="form-group">

                                            <label class="col-sm-2 control-label" for="textinput">ประเทศ<em>*</em></label>
                                            <div class="col-sm-4">
                                                <select class="form-control" id="ddlcountry">
                                                    <option value="1">ไทย</option>
													<option value="2">พม่า</option>
													<option value="3">เวียดนาม</option>
                                                </select>
                                            </div>

                                             
                                            <div class="col-sm-4">
                                                 <button type="button" data-toggle="modal" data-target="#mdAddress" id="btnAddress" class="btn btn-sm btn-info"><i class="fa fa-search"></i> ค้นหาที่อยู่</button>
                                            </div>
                                        </div>
										
										<div class="THA">
											<div class="form-group">
												<label class="col-sm-2 control-label" for="textinput">จังหวัด<em>*</em></label>
												<div class="col-sm-4">
													<input type="text" id="province" name="province_id" readonly placeholder="" class="form-control" value="กรุงเทพมหานคร">
												</div>
												<label class="col-sm-2 control-label" for="textinput">อำเภอ/เขต<em>*</em></label>
												<div class="col-sm-4">
													<input type="text" id="district" name="amphur_id" readonly placeholder="" class="form-control" value="พระนคร">
												</div>
											</div>
											<div class="form-group">
												<label class="col-sm-2 control-label" for="textinput">ตำบล/แขวง<em>*</em></label>
												<div class="col-sm-4">
													<input type="text" id="subdistrict" name="district_id" readonly placeholder="" class="form-control" value="พระบรมมหาราชวัง">
												</div>
												<label class="col-sm-2 control-label" for="textinput">รหัสไปรษณีย์<em>*</em></label>
												<div class="col-sm-4">
													<input type="text" id="zipcode" name="zipcode" readonly placeholder="" class="form-control" value="10200">
												</div>
											</div>
										<div class="OTH">

										<!-- Text input-->
                                        <div class="form-group">

											<label class="col-sm-2 control-label" for="textinput">State<em>*</em></label>
                                            <div class="col-sm-4">
                                                <input type="text" placeholder="State" class="form-control">
                                            </div>

                                            <label class="col-sm-2 control-label" for="textinput">Province<em></em></label>
                                            <div class="col-sm-4">
                                                <input type="text" placeholder="City" class="form-control">
                                            </div>

											
                                            


                                        </div>

                                        <!-- Text input-->
                                        <div class="form-group"> 

										<label class="col-sm-2 control-label" for="textinput">City<em></em></label>
                                            <div class="col-sm-4">
                                                <input type="text" placeholder="City" class="form-control">
                                            </div>


                                            <label class="col-sm-2 control-label" for="textinput">Zip Code<em>*</em></label>
                                            <div class="col-sm-4">
                                                <input type="text" placeholder="Zip Code" class="form-control">
                                            </div>


                                        </div>

										</div>



                                    </fieldset>
										</div>
										<div role="tabpanel" class="tab-pane" id="contract">
										<br>
											<fieldset id="address2"> 
											<br>
										 
												<!-- Text input-->
												<div class="form-group">
													<label class="col-sm-2 control-label" for="textinput">คำนำหน้าชื่อ<em>*</em></label>
													<div class="col-sm-2">
														<select class="form-control">
															<option>นาย</option>
															<option>นาง</option>
															<option>นางสาว</option>
														</select>
													</div>

													<label class="col-sm-1 control-label" for="textinput">ชื่อ<em>*</em></label>
													<div class="col-sm-3">
														<input type="text" placeholder="ชื่อ" class="form-control">
													</div>

													<label class="col-sm-1 control-label" for="textinput">นามสกุล<em>*</em></label>
													<div class="col-sm-3">
														<input type="text" placeholder="นามสกุล" class="form-control">
													</div>
												</div>

												 <!-- Text input-->
													<div class="form-group">
														<label class="col-sm-2 control-label" for="textinput">เบอร์โทรศัพท์มือถือ<em>*</em></label>
														<div class="col-sm-4">
															<input type="text" placeholder="เบอร์โทรศัพท์มือถือ" class="form-control">
														</div>

														<label class="col-sm-2 control-label" for="textinput">อีเมล์ </label>
														<div class="col-sm-4">
															<input type="text" placeholder="อีเมล์ " class="form-control">
														</div>
													</div>

												<!-- Text input-->
												<div class="form-group">
													<label class="col-sm-2 control-label" for="textinput">เบอร์โทรศัพท์</label>
													<div class="col-sm-4">
														<input type="text" placeholder="เบอร์โทรศัพท์" class="form-control">
													</div>

													<label class="col-sm-2 control-label" for="textinput">เบอร์โทรสาร </label>
													<div class="col-sm-4">
														<input type="text" placeholder="เบอร์โทรสาร " class="form-control">
													</div>
												</div>


											</fieldset>
										</div> 
									<div id="menu4" class="tab-pane fade">
										<fieldset  class="blog-comment"><br>
                                      
											 <ul class="comments">
												<li class="clearfix">
												  <div class="post-comments">
													  <p class="meta">Dec 18, 2014 <a href="#">นายการตลาด หมายเลข1</a>  : <i class="pull-right"></i></p>
													  <p>
														  เสนอให้ทางผู้ดูแลส่วนงานบริการลูกค้าช่วยพิจารณาตามคววามเหมาะสมตามคุณสมบัติด้วย
													  </p>
												  </div>
												</li>
												<li class="clearfix">
												  <div class="post-comments">
													  <p class="meta">Dec 18, 2014 <a href="#">นายหัวหน้า หมายเลข2</a>  : <i class="pull-right"></i></p>
													  <p>
														  จัดส่งให้นายพนักงานช่วยดูแลเป็นการเร่งด่วนเพื่อให้ทำงานได้อย่างมีประสิทธิภาพ
													  </p>
												  </div>
												</li>
											</ul> 
										</fieldset>
									  </div>
									  <div id="home" class="tab-pane fade">
										<fieldset><br>
                                        <!-- Form Name -->
                                        <!-- <legend>Dealer / Partner</legend> -->
										<!-- Text input-->  
                                        <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="textinput">Department </label>
                                            <div class="col-sm-4">
											 <input type="text" placeholder=" " value="สำนักงานภาคเหนือ" readonly class="form-control">
                                                <!-- <select name="" class="form-control">
													<option value="" selected>
														สำนักงานบริการลูกค้า กสท เขตเหนือ
													</option> 
													<option value="" selected>
														สำนักงานบริการลูกค้า กสท เขตกลาง
													</option> 
												</select>  -->
                                            </div>
											<label class="col-sm-2 control-label"  for="textinput">Devision (สค) </label>
                                            <div class="col-sm-4">
											 <input type="text" placeholder=" "  value="สำนักงานบริการลูกค้า กสท เขตเหนือ" readonly class="form-control">
                                                <!-- <select name="" class="form-control">
													<option value="" selected>
														สำนักงานบริการลูกค้า กสท เขตเหนือ
													</option> 
													<option value="" selected>
														สำนักงานบริการลูกค้า กสท เขตกลาง
													</option> 
												</select>  -->
                                            </div>
											
                                        </div>
										<!-- Text input-->
                                        <div class="form-group">

											 <label class="col-sm-2 control-label" for="textinput">Employee Id</label>
                                            <div class="col-sm-4">
                                                <input type="text" placeholder=" " readonly value="SALE00001" class="form-control">
                                            </div>
                                            <label class="col-sm-2 control-label" for="textinput">Employee Telephone </label>
                                            <div class="col-sm-4">
                                                <input type="text" placeholder=" " readonly value="0866676765" class="form-control">
                                            </div>
											  
                                        </div>
										<!-- Text input-->
                                        <div class="form-group"> 
											 <label class="col-sm-2 control-label" for="textinput">Employee Email	</label>
                                            <div class="col-sm-4">
                                                <input type="text" placeholder=" " readonly value="sale1@email.com" class="form-control">
                                            </div>
                                        </div>

										</fieldset>
									  </div>
									  <div id="menu1" class="tab-pane fade">
										<fieldset><br>
                                        <!-- Form Name -->
                                        <!-- <legend>Customer Segment</legend> -->

                                       <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="textinput">Customer Segment <em>*</em></label>
                                            <div class="col-sm-4">
                                                <select name="" class="form-control">
													<option value="" selected>
														ธุรกิจทั่วไป
													</option> 
													<option value="" selected>
														หน่วยงานรัฐ
													</option> 
													<option value="" selected>
														บุคคลทั่วไป
													</option> 
													<option value="" selected>
														ธุรกิจ กสท
													</option> 
												</select> 
                                            </div>
											 <label class="col-sm-2 control-label" for="textinput">Customer Group	<em>*</em></label>
                                            <div class="col-sm-4">
                                                <select name="" class="form-control">
													<option value="" selected>
														กลุ่มเกษตรและแปรรูป
													</option> 
													<option value="" selected>
														สินค้าอุปโภคบริโภค
													</option> 
													<option value="" selected>
														กลุ่มสินค้าอุตสาหกรรม
													</option> 
													<option value="" selected>
														กลุ่มบริการ
													</option> 
												</select> 
                                            </div>
                                        </div>

										<!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="textinput">Customer Type </label>
                                            <div class="col-sm-4">
                                                <select name="" class="form-control">
													<option value="" selected>
														กฎหมาย
													</option> 
													<option value="" selected>
														การท่องเที่ยวและสันทนาการ
													</option> 
													<option value="" selected>
														ขนส่งและโลจิสติกส์
													</option> 
													<option value="" selected>
														ที่ปรึกษา
													</option> 
												</select> 
                                            </div>
											 <label class="col-sm-2 control-label" for="textinput">Customer Focus	</label>
                                            <div class="col-sm-4">
                                                <select name="" class="form-control">
													<option value="" selected>
														อื่นๆ
													</option> 
													 
												</select> 
                                            </div>
                                        </div>
											</fieldset>
									  </div>
									  <div id="menu2" class="tab-pane fade">
										<fieldset>
                                        <!-- Form Name -->
                                        <!-- <legend>เอกสารประกอบการสมัคร</legend> -->
										<br>
										<a href="#" class="btn btn-sm btn-info" data-toggle="modal" data-target="#mdUploadFile"><i class="fa fa-plus"></i> เพิ่มรายการเอกสาร</a>
										<table class="table">
										  <thead>
											<tr>
											  <th scope="col">#</th>
											  <th scope="col">ประเภทเอกสาร</th>
											  <th scope="col">ชื่อเอกสาร</th>
											  <th scope="col">ไฟล์</th>
											  <th></th>
											</tr>
										  </thead>
										  <tbody>
											<tr>
											  <th scope="row">1</th>
											  <td>สำเนาหนังสือสัญญา</td>
											  <td>สำเนาหนังสือสัญญา</td>
											  <td><a href="#">สำเนาหนังสือสัญญา.docx</a></td>
											  <td><a href="#" class="btn btn-xs btn-warning"><i class="fa fa-edit"></i></a>
											  <a href="#" class="btn btn-xs btn-danger"><i class="fa fa-trash"></i></a></td>
											</tr>
											<tr>
											  <th scope="row">2</th>
											  <td>สำเนาผู้ค้ำประกัน</td>
											  <td>สำเนาผู้ค้ำประกัน</td>
											  <td><a href="#">สำเนาผู้ค้ำประกัน.pdf</a></td>
											   <td><a href="#" class="btn btn-xs btn-warning"><i class="fa fa-edit"></i></a>
											   <a href="#" class="btn btn-xs btn-danger"><i class="fa fa-trash"></i></a></td>
											</tr>
											<tr>
											  <th scope="row">3</th>
											  <td>หนังสือรับรองบริษัท</td>
											  <td>หนังสือรับรองบริษัท</td>
											  <td><a href="#">หนังสือรับรองบริษัท.pdf</a></td>
											   <td><a href="#" class="btn btn-xs btn-warning"><i class="fa fa-edit"></i></a>
											   <a href="#" class="btn btn-xs btn-danger"><i class="fa fa-trash"></i></a></td>
											</tr>
										  </tbody>
										</table>
										   

                                    </fieldset>
									  </div>
									   <div id="menu3" class="tab-pane fade">
										<fieldset>
										<br>
                                        <!-- Form Name -->
                                        <!-- <legend>กำหนดค่าคอมมิสชั่นสำหรับ dealer</legend> -->
										<a href="#" class="btn btn-sm btn-info" data-toggle="modal" data-target="#mdCommission"><i class="fa fa-plus"></i> เพิ่มรายการ</a>
										<br><input type="checkbox"  name=""> ยังไม่มีสูตรการคำนวน
										<textarea name=""  class="form-control" rows="" cols=""></textarea>
										<p>เมื่อไม่มีรายการที่เลือกได้ sale จะสามารถทำการ check ว่ายังไม่่มีสูตรคำนวนและสามารถกรอก สููตรที่อยากคำนวนในช่องรายการด้านบนเพื่อส่ง request ไปยัง CAT Admin ให้ทำการเพิ่มสูตรให้แล้วค่อยมาทำการแก้ไขหรือเลือกเิ่มเติม</p>
										<br>
										<table class="table table-bordered">
										  <thead>
											<tr>  
												  <th scope="col"></th>
												  <th scope="col">Service Name</th>
												  <th scope="col">ประเภท</th>
												  <th scope="col">Rate</th> 
											 
												</tr>
											  </thead>
											  <tbody>
												<tr> 
												  <th scope="row">1</th>
												  <td>ค่าเปิดเบอร์ครั้งละ 5 บาท</td>
												  <td>Fixed</td>
												   <td>5 บาท</td>
												</tr>
										  </tbody>
										</table>
										   

                                    </fieldset>
									  </div>
									</div>

				
									
										
											
				</div>
			</div>
		 	<!-- <label class="col-sm-2 control-label" for="textinput">Approve By</label>
			<div class="col-sm-10">
				 <p class="form-control-static">Sale มีนบุรี- พนักงงานขาย ดูแลดี</p>
			</div> -->
 
		</div>


	</div>
</div>
<div class="col-md-8 col-md-offset-2 text-center">
<br>
		<button class="btn btn-md btn-default" type="button" onclick="window.location.href='cathome.html';"  ><i class="fa fa-long-arrow-left"></i> ยกเลิก</button> 
		<button class="btn btn-md btn-primary btn-primary" type="button"  id="btnApprove"  >
		<i class="fa fa-check-square"></i>
		ลงทะเบียน  
		</button>
		 
	<br><br>
	</div> 

</form>
  		</div>

 
 
  	</div>



<!-- Modal -->
<div id="mdReturn" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Reject</h4>
      </div>
      <div class="modal-body">
        
		<div class="form-group">
		<label for="exampleTextarea">เหตุผลการ Reject งาน</label>
		<textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
	  </div>
		
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		<button type="button" class="btn btn-info" data-dismiss="modal">ยืนยันการ Reject</button>
      </div>
    </div>

  </div>
</div>

<!-- Modal -->
<div id="mdUploadFile" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">อัพโหลดไฟล์เอกสาร</h4>
      </div>
      <div class="modal-body ">
        
		<div class="form-horizontal"> 
			<!-- Text input-->
			<div class="form-group">
 
				<label class="col-sm-4 control-label" for="textinput">ประเภทเอกสาร</label>
				<div class="col-sm-8">
					<select class="form-control">
					<option>สำเนาหนังสือสัญญา</option>
					<option>สำเนาผู้ค้ำประกัน</option>
					<option>หนังสือรับรองบริษัท</option>
					</select>
				</div>
				  
			</div>
		<!-- Text input-->
			<div class="form-group">
 
				<label class="col-sm-4 control-label" for="textinput">ชื่อเอกสาร</label>
				<div class="col-sm-8">
					<input type="text" placeholder=" " class="form-control">
				</div>
				  
			</div>
		<!-- Text input-->
			<div class="form-group">

				 <label class="col-sm-4 control-label" for="textinput">เลือกเอกสาร</label>
				<div class="col-sm-8">
					<input type="file" placeholder="หนังสือจดทะเบียนบริษัท " class="form-control">
				</div>
				  
			</div>

		
	  </div>
		
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		<button type="button" class="btn btn-info" data-dismiss="modal">Upload</button>
      </div>
    </div>

  </div>
</div>


<!-- Modal -->
<div id="mdAddress" class="modal fade" role="dialog">
  <div class="modal-dialog" style="width:80%;">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">เลือกรายการที่อยู่</h4>
      </div>
      <div class="modal-body">
		  <form>
			<div class="row">
			  <div class="col-xs-2">
				<input type="text" class="form-control" placeholder="รหัสไปรษณีย์">
			  </div>
			  <div class="col-xs-3">
				<input type="text" class="form-control" placeholder="ตำบล">
			  </div>
			  <div class="col-xs-3">
				<input type="text" class="form-control" placeholder="อำเภอ">
			  </div>
			   <div class="col-xs-3">
				<input type="text" class="form-control" placeholder="จังหวัด">
			  </div>
			  <div class="col-xs-1">
				<button class="btn btn-sm btn-info">ค้นหา</button>
			  </div>
			</div>
</form>
		  <div class="table-responsive">
		  <table class="table">
			<thead>
      <tr>
        <th>จังหวัด</th>
        <th>อำเภอ</th>
        <th>ตำบล</th>
		<th>รหัสไปรษณีย์</th>
		<th></th>
      </tr>
    </thead>
    <tbody>
		<tr><td>กรุงเทพมหานคร</td><td>	พระนคร</td><td>	พระบรมมหาราชวัง</td><td>	10200</td><td><a href="#" class="btn btn-sm btn-info" data-dismiss="modal">เลือก</a></td></tr>
		<tr><td>กรุงเทพมหานคร</td><td>	พระนคร</td><td>	วังบูรพาภิรมย์</td><td>	10200</td><td><a href="#" class="btn btn-sm btn-info" data-dismiss="modal">เลือก</a></td></tr>
		<tr><td>กรุงเทพมหานคร</td><td>	พระนคร</td><td>	วัดราชบพิธ</td><td>	10200</td><td><a href="#" class="btn btn-sm btn-info" data-dismiss="modal">เลือก</a></td></tr>
		<tr><td>กรุงเทพมหานคร</td><td>	พระนคร</td><td>	สำราญราษฎร์	</td><td>10200</td><td><a href="#" class="btn btn-sm btn-info" data-dismiss="modal">เลือก</a></td></tr>
		<tr><td>กรุงเทพมหานคร</td><td>	พระนคร</td><td>	ศาลเจ้าพ่อเสือ</td><td>	10200</td><td><a href="#" class="btn btn-sm btn-info" data-dismiss="modal">เลือก</a></td></tr>
		<tr><td>กรุงเทพมหานคร</td><td>	พระนคร</td><td>	เสาชิงช้า</td><td>	10200</td><td><a href="#" class="btn btn-sm btn-info" data-dismiss="modal">เลือก</a></td></tr>
		<tr><td>กรุงเทพมหานคร</td><td>	พระนคร</td><td>	บวรนิเวศ</td><td>	10200</td><td><a href="#" class="btn btn-sm btn-info" data-dismiss="modal">เลือก</a></td></tr>
		<tr><td>กรุงเทพมหานคร</td><td>	พระนคร</td><td>	ตลาดยอด</td><td>	10200</td><td><a href="#" class="btn btn-sm btn-info" data-dismiss="modal">เลือก</a></td></tr>
    </tbody>
		  </table>
		</div> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

	



    <script type="text/javascript">
	 $(document).ready(function() {
		//$('select').select2();
		$("#btnAddress").click(function(){
			$("#mdAddress").modal("show");
		});
	});
            function changetype(obj){
                if(obj=="P"){
                    $(".org").hide();
					$(".individual").show();
                }
                else if(obj=="N"){
                    $(".org").show();
					$(".individual").hide();
                }
            }
        $(function () {
 
			changetype("N");
			$(".THA").show();
			$(".OTH").hide();
			$("#ddlcountry").change(function(){
			
			if($(this).val()=="1"){
				$(".THA").show();
				$(".OTH").hide();
			}
			else{
				$(".THA").hide();
				$(".OTH").show();
			}
			
			});


			$('.catshop').show();
			$("#btnNext").click(function(){
				$("#frm").submit();
			});
            $('.datepicker').datepicker({
                format: 'dd/mm/yyyy',
                startDate: '-3d',
                autoclose: true
            });
           /*
$('#frm').validate({
					rules: {
						v1: { 
							required: true
						}
						 , 
						v2: { 
							required: true
						}, 
						v3: { 
							required: true
						}, 
						v4: { 
							required: true
						}, 
						v5: { 
							required: true
						}, 
						v6: { 
							required: true
						}, 
						v7: { 
							required: true
						} 
					}
					,
					highlight: function (element) {
        
							$(element).closest('div').removeClass('has-success').addClass('has-error'); 
					   
					},
					unhighlight: function (element) { 
						$(element).closest('div').removeClass('has-error');
						$(element).closest('div').removeClass('has-error');
						 
					},
					errorElement: 'span',
					errorClass: 'help-block'
					/*,
					success: function (element) {
						element.text('OK!').addClass('valid')
							.closest('.control-group').removeClass('error').addClass('success');
					}
					
				});
				*/
            });
    
		$(function () {
  	$('.navbar-toggle-sidebar').click(function () {
  		$('.navbar-nav').toggleClass('slide-in');
  		$('.side-body').toggleClass('body-slide-in');
  		$('#search').removeClass('in').addClass('collapse').slideUp(200);
  	});

  	$('#search-trigger').click(function () {
  		$('.navbar-nav').removeClass('slide-in');
  		$('.side-body').removeClass('body-slide-in');
  		$('.search-input').focus();
  	});
  }); 
 
$(function(){
	$("#btnApprove").click(function(){ 
	 bootbox.alert({
        message: "ดำเนินการเรียบร้อยแล้ว",
        size: 'small',
		    callback: function () {
				window.location.href='inbox_approve_confirm.html';
			}
    });
	});
	$("#btnNotApprove").click(function(){ 
	$("#mdReturn").modal("show");
	});
});
 </script>