
<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Update Prepaid Distribution</li>
  </ol>
</nav>
 <form class="form-horizontal" role="form">
   <div class="panel panel-warning">
	<div class="panel-heading">
	เพิ่มเลขหมาย
	</div>
	<div class="panel-body">
		
<div class="well">
			<!-- Text input-->
          <div class="form-group">
			
			<label class="col-sm-2 control-label" for="textinput">หมายเลขโทรศัพท์</label>
            <div class="col-sm-4">
              <input type="text" placeholder="หมายเลขโทรศัพท์" class="form-control">
            </div>
			<div class="col-sm-1">
               <button class="btn btn-sm btn-info " type="button" ><i class="fa fa-search"></i></button>
           
            </div>

            <label class="col-sm-1 control-label" for="textinput">ICCID</label>
            <div class="col-sm-4">
               <input type="text" readonly placeholder="ICCID" class="form-control">
            </div>

           
          </div> 

		 

		   <!-- Text input-->
          <!-- <div class="form-group">
			
			<label class="col-sm-2 control-label" for="textinput">Package</label>
            <div class="col-sm-10">
              <select class="form-control">
					<option>Package A</option>
					<option>Package B</option>
					<option>Package C</option>
				</select>
            </div> 
          </div>  -->
		   <!-- Text input-->
          <div class="form-group">
			
			<label class="col-sm-2 control-label" for="textinput">Bulk Load</label>
            <div class="col-sm-8">
              <input type="file" placeholder="" class="form-control">
            </div>
 
           
          </div> 
<!-- Text input-->
          <div class="form-group">
			
			<label class="col-sm-2 control-label" for="textinput"></label>
            <div class="col-sm-10">
              <button class="btn btn-sm btn-info " type="button" data-toggle="modal" data-target="#mdReturn" ><i class="fa fa-download"></i> เพิ่มเลขหมาย</button>
            </div>

            
           
          </div> 
		 
		   </div>
 
			 
		  <div>
				
		  <table class="table table-bordered">
			<thead>
				  <tr>
					<th>ลำดับ</th>
					<th>MSISDN</th>
					<th>ICCID</th> 
					<th></th>
				  </tr>
				</thead>
				<tbody>
				   <script type="text/javascript">
						var text=''; 
						for(var i=1;i<=5;i++){

						text +='<tr>'+ 
							'		                <td>'+i+'</td>'+
							'						<td>087000987'+i+'</td>'+
							'						<td>089660000000000'+i+'</td>'+     
							'		                <td>'+ 
						 	'							<a href="" class="btn btn-xs  btn-danger"><i class="fa fa-trash"></i></a>'+
							'				'+			 
							'						</td>'+
							'		                '+
							'		            </tr>'+
							'';
						}
					$('.table').append(text);
 
		             

		            </script>
				</tbody>
			  </table>
           
	</div> 
</div>
    
<div class="col-md-8 col-md-offset-2 text-center">
<br>
		<button class="btn btn-md btn-default" type="button" onclick="window.location.href='cathome.html';"  ><i class="fa fa-long-arrow-left"></i> ยกเลิก</button> 
		<button class="btn btn-md btn-primary btn-primary" type="button"  id="btnApprove"  >
		<i class="fa fa-check-square"></i>
		ส่งข้อมูล  
		</button>
		 
	<br><br>
	</div> 

</form>
  		</div>

 

  		 <script type="text/javascript" src="dfooter.js"></script>
  	</div>



<!-- Modal -->
<div id="mdReturn" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Reject</h4>
      </div>
      <div class="modal-body">
        
		<div class="form-group">
		<label for="exampleTextarea">เหตุผลการ Reject งาน</label>
		<textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
	  </div>
		
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		<button type="button" class="btn btn-info" data-dismiss="modal">ยืนยันการ Reject</button>
      </div>
    </div>

  </div>
</div>

<!-- Modal -->
<div id="mdUploadFile" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">อัพโหลดไฟล์เอกสาร</h4>
      </div>
      <div class="modal-body ">
        
		<div class="form-horizontal"> 
			<!-- Text input-->
			<div class="form-group">
 
				<label class="col-sm-4 control-label" for="textinput">ประเภทเอกสาร</label>
				<div class="col-sm-8">
					<select class="form-control">
					<option>สำเนาหนังสือสัญญา</option>
					<option>สำเนาผู้ค้ำประกัน</option>
					<option>หนังสือรับรองบริษัท</option>
					</select>
				</div>
				  
			</div>
		<!-- Text input-->
			<div class="form-group">
 
				<label class="col-sm-4 control-label" for="textinput">ชื่อเอกสาร</label>
				<div class="col-sm-8">
					<input type="text" placeholder=" " class="form-control">
				</div>
				  
			</div>
		<!-- Text input-->
			<div class="form-group">

				 <label class="col-sm-4 control-label" for="textinput">เลือกเอกสาร</label>
				<div class="col-sm-8">
					<input type="file" placeholder="หนังสือจดทะเบียนบริษัท " class="form-control">
				</div>
				  
			</div>

		
	  </div>
		
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		<button type="button" class="btn btn-info" data-dismiss="modal">Upload</button>
      </div>
    </div>

  </div>
</div>



    <script type="text/javascript">
	
            function changetype(obj){
                if(obj=="P"){
                    $(".org").hide();
					$(".individual").show();
                }
                else if(obj=="N"){
                    $(".org").show();
					$(".individual").hide();
                }
            }
        $(function () {
 
			changetype("N");
			$(".THA").show();
			$(".OTH").hide();
			$("#ddlcountry").change(function(){
			
			if($(this).val()=="1"){
				$(".THA").show();
				$(".OTH").hide();
			}
			else{
				$(".THA").hide();
				$(".OTH").show();
			}
			
			});


			$('.catshop').show();
			$("#btnNext").click(function(){
				$("#frm").submit();
			});
            $('.datepicker').datepicker({
                format: 'dd/mm/yyyy',
                startDate: '-3d',
                autoclose: true
            });
           /*
$('#frm').validate({
					rules: {
						v1: { 
							required: true
						}
						 , 
						v2: { 
							required: true
						}, 
						v3: { 
							required: true
						}, 
						v4: { 
							required: true
						}, 
						v5: { 
							required: true
						}, 
						v6: { 
							required: true
						}, 
						v7: { 
							required: true
						} 
					}
					,
					highlight: function (element) {
        
							$(element).closest('div').removeClass('has-success').addClass('has-error'); 
					   
					},
					unhighlight: function (element) { 
						$(element).closest('div').removeClass('has-error');
						$(element).closest('div').removeClass('has-error');
						 
					},
					errorElement: 'span',
					errorClass: 'help-block'
					/*,
					success: function (element) {
						element.text('OK!').addClass('valid')
							.closest('.control-group').removeClass('error').addClass('success');
					}
					
				});
				*/
            });
    
		$(function () {
  	$('.navbar-toggle-sidebar').click(function () {
  		$('.navbar-nav').toggleClass('slide-in');
  		$('.side-body').toggleClass('body-slide-in');
  		$('#search').removeClass('in').addClass('collapse').slideUp(200);
  	});

  	$('#search-trigger').click(function () {
  		$('.navbar-nav').removeClass('slide-in');
  		$('.side-body').removeClass('body-slide-in');
  		$('.search-input').focus();
  	});
  }); 
 
$(function(){

	$("#detail input").attr("disabled",true);
	$("#detail select").attr("disabled",true);

	$("#btnApprove").click(function(){ 
	 bootbox.alert({
        message: "ดำเนินการเรียบร้อยแล้ว",
        size: 'small',
		    callback: function () {
				window.location.href='CCAcount.html';
			}
    });
	});
	$("#btnNotApprove").click(function(){ 
	$("#mdReturn").modal("show");
	});
});
 </script>
    