<style>
.control-label { line-height:34px; margin:0; padding:0 !important; }
#nav-search { display:flex; flex-wrap:wrap; }
#nav-search > * { margin-bottom:5px; }
#nav-action button { margin-left:5px; }

#tablelist tr > *:nth-child(1),
#tablelist tr > *:nth-child(9) { text-align:center; }

table { background-color:#FFF; }
</style>  

<nav aria-label="breadcrumb" role="navigation">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="#!/dealer/myhome">Home</a></li>
		<li class="breadcrumb-item active" aria-current="page">Iventory master</li>
	</ol>
</nav>

<form class="form-horizontal well" role="form">
	<fieldset> 
		<div id="nav-search" class="form-group">
			<label class="col-sm-2 control-label">ICCD</label>
			<div class="col-sm-4">
				<input type="text" placeholder="" class="form-control">
			</div> 
			<label class="col-sm-2 control-label">Package/Service</label>
			<div class="col-sm-4">
				<select class="form-control">
					<option>All</option>
					<option>Standard</option>
					<option>TOP UP</option>
					<option>PKC</option> 
				</select>
			</div> 
			<label class="col-sm-2 control-label">MDN</label>
			<div class="col-sm-4">
				<input type="text" placeholder="" class="form-control">
			</div> 
			<label class="col-sm-2 control-label">CATE</label>
			<div class="col-sm-4">
				<select class="form-control">
					<option>All</option>
					<option>CAT My</option>
					<option>CAT Internet</option>
				</select>
			</div> 
			<label class="col-sm-2 control-label">IMSI</label>
			<div class="col-sm-4">
				<input type="text" placeholder="" class="form-control">
			</div> 
			<label class="col-sm-2 control-label">Type</label>
			<div class="col-sm-4">
				<select class="form-control">
					<option>All</option>
					<option>Prepaid</option>
					<option>Postpaid</option> 
				</select>
			</div> 
			<label class="col-sm-2 control-label">CAT - Sale REP</label>
			<div class="col-sm-4">
				<input type="text" placeholder="" class="form-control">
			</div> 
			<label class="col-sm-2 control-label">Class</label>
			<div class="col-sm-4">
				<select class="form-control">
					<option>All</option>
					<option>Standard</option>
					<option>TOP UP</option>
					<option>PKC</option> 
				</select>
			</div> 
			<label class="col-sm-2 control-label">Dealer - Sale REP</label>
			<div class="col-sm-4">
				<input type="text" placeholder="" class="form-control datetime">
			</div> 
			<label class="col-sm-2 control-label">EFF. Date</label>
			<div class="col-sm-4">
				<input type="text" placeholder="" class="form-control datetime">
			</div> 
			<label class="col-sm-2 control-label">Status</label>
			<div class="col-sm-4">
				<select class="form-control">
					<option>All</option>
					<option>Free</option>
					<option>Initial</option>
					<option>Sales</option> 
					<option>Return</option> 
				</select>
			</div> 
			<label class="col-sm-2 control-label">EXP. Date</label>
			<div class="col-sm-4">
				<input type="text" placeholder="" class="form-control">
			</div> 
		</div> 
		<div id="nav-action">
			<button class="btn btn-primary pull-right" type="button"><i class="fa fa-file-o"></i> สร้าง Service/Package</button> 
			<button class="btn btn-primary pull-right" type="button"><i class="fa fa-refresh"></i> ยกเลิก</button>
			<button class="btn btn-primary pull-right" type="button"><i class="fa fa-search"></i> ค้นหา</button>
		</div>
	</fieldset>
 </form>


<div class="row-fluid">
	<table id="tablelist" class="table table-bordered table-hover datatable">
		<thead>
			<tr class="success">
				<th width="1">ลำดับ</th>
				<th>ICCID</th>
				<th>MDN</th>
				<th>IMSI</th>
				<th>PACK/SV</th>
				<th>CATE-TYPE-CLASS</th>
				<th>CAT-SL REP</th>
				<th>DL-SALES</th>
				<th>STATUS</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td>
			</tr>
			<tr>
				<td>2</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td>
			</tr>
			<tr>
				<td>3</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td>
			</tr>
			<tr>
				<td>4</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td>
			</tr>
			<tr>
				<td>5</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="panel panel-default">
	<div class="panel-heading">MDN/ICCD Information</div>
	<div class="panel-body">
		<div class="form-horizontal">
			<div class="form-group">
				<label class="col-sm-2 control-label">ICCID</label>
				<div class="col-sm-4">
					<input name="text" value="" class="form-control" />
				</div>
				<label class="col-sm-2 control-label">REF. STK IN NO.</label>
				<div class="col-sm-2">
					<input name="text" value="" class="form-control" />
				</div>
				<div class="col-sm-2">
					<input name="text" value="" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">MDN - MOBILE NO.</label>
				<div class="col-sm-4">
					<input name="text" value="" class="form-control" />
				</div>
				<label class="col-sm-2 control-label">REF. REMOVe NO.</label>
				<div class="col-sm-2">
					<input name="text" value="" class="form-control" />
				</div>
				<div class="col-sm-2">
					<input name="text" value="" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">IMSI - SIM#</label>
				<div class="col-sm-4">
					<input name="text" value="" class="form-control" />
				</div>
				<label class="col-sm-2 control-label">STATUS</label>
				<div class="col-sm-4">
					<input name="text" value="" class="form-control" />
				</div>
			</div>
		</div>
	</div>
</div>


<div class="panel panel-default">
	<div class="panel-heading">CUSTOMER ACCOUNT</div>
	<div class="panel-body">
		<div class="form-horizontal">
			<div class="form-group">
				<label class="col-sm-2 control-label">SERVICE CATE.</label>
				<div class="col-sm-4">
					<input name="text" value="" class="form-control" />
				</div>
				<label class="col-sm-2 control-label">EFF. DATE</label>
				<div class="col-sm-4">
					<input name="text" value="" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">SERVICE TYPE</label>
				<div class="col-sm-4">
					<select class="form-control">
						<option>Prepaid</option>
						<option>Postpaid</option> 
					</select>
				</div>
				<label class="col-sm-2 control-label">EXPR. DATE</label>
				<div class="col-sm-4">
					<input name="text" value="" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">SERVICE CLASS</label>
				<div class="col-sm-4">
					<select class="form-control">
						<option>IN</option>
						<option>PRE-PRO</option>
						<option>PORT-IN</option>
					</select>
				</div>
				<label class="col-sm-2 control-label">CUSTOMER ACC.</label>
				<div class="col-sm-4">
					<input name="text" value="" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">PACKAGE/SV ID.</label>
				<div class="col-sm-4">
					<select class="form-control">
						<option>Standard</option>
						<option>TOP UP</option>
						<option>PKC</option> 
					</select>
				</div>
				<label class="col-sm-2 control-label">REF. ORD#</label>
				<div class="col-sm-4">
					<input name="text" value="" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">PCKG GROUP</label>
				<div class="col-sm-4">
					<input name="text" value="" class="form-control" />
				</div>
				<label class="col-sm-2 control-label">REF. BA CODE</label>
				<div class="col-sm-1">
					<input name="text" value="" class="form-control" />
				</div>
				<label class="col-sm-2 control-label">CRM-REF</label>
				<div class="col-sm-1">
					<input name="text" value="" class="form-control" />
				</div>
			</div>
		</div>
	</div>
</div>

<div class="col-sm-6">
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-heading">WH: CAT-SAA</div>
			<div class="panel-body">
				<div class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-4 control-label">REGION CODE</label>
						<div class="col-sm-8">
							<input name="text" value="" class="form-control" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">PROVINCE CODE</label>
						<div class="col-sm-8">
							<input name="text" value="" class="form-control" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">CAT-SALES UNIT</label>
						<div class="col-sm-8">
							<input name="text" value="" class="form-control" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">CAT-SALES REP</label>
						<div class="col-sm-8">
							<input name="text" value="" class="form-control" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">MKT EVENT#</label>
						<div class="col-sm-8">
							<input name="text" value="" class="form-control" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">MKT EFF. DATE</label>
						<div class="col-sm-8">
							<input name="text" value="" class="form-control" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">MKT EXPR. DATE</label>
						<div class="col-sm-8">
							<input name="text" value="" class="form-control" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">REF. LAST TRANS NO.</label>
						<div class="col-sm-8">
							<input name="text" value="" class="form-control" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">TRANS DATE</label>
						<div class="col-sm-8">
							<input name="text" value="" class="form-control" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">TRANS BY</label>
						<div class="col-sm-8">
							<input name="text" value="" class="form-control" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="col-sm-6">
	<div class="row" style="margin-left:0;">
		<div class="panel panel-default">
			<div class="panel-heading">WH: DEALER-DSA</div>
			<div class="panel-body">
				<div class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-4 control-label">DEALER CODE</label>
						<div class="col-sm-8">
							<input name="text" value="" class="form-control" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">CONTR AGGREMENT</label>
						<div class="col-sm-8">
							<input name="text" value="" class="form-control" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">DL - SALES TEAM</label>
						<div class="col-sm-8">
							<input name="text" value="" class="form-control" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">DL - SALES REP.</label>
						<div class="col-sm-8">
							<input name="text" value="" class="form-control" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">REF. LAST TRANS NO.</label>
						<div class="col-sm-8">
							<input name="text" value="" class="form-control" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">TRANS DATE</label>
						<div class="col-sm-8">
							<input name="text" value="" class="form-control" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">TRANS BY</label>
						<div class="col-sm-8">
							<input name="text" value="" class="form-control" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>










