<style>
.control-label { line-height:34px; margin:0; padding:0 !important; }
#nav-search { display:flex; flex-wrap:wrap; }
#nav-search > * { margin-bottom:5px; }
#nav-action button { margin-left:5px; }

#tablelist tr > *:nth-child(1),
#tablelist tr > *:nth-child(9) { text-align:center; }

table { background-color:#FFF; }
</style>  

<nav aria-label="breadcrumb" role="navigation">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="#!/dealer/myhome">Home</a></li>
		<li class="breadcrumb-item active" aria-current="page">Package Management</li>
	</ol>
</nav>

<form class="form-horizontal well" role="form">
	<fieldset> 
		<div id="nav-search" class="form-group">
			<label class="col-sm-2 control-label">PCKG/SERVICE ID</label>
			<div class="col-sm-4">
				<input type="text" placeholder="" class="form-control">
			</div> 
			<label class="col-sm-2 control-label">DATE</label>
			<div class="col-sm-4">
				<input type="text" placeholder="" class="form-control">
			</div> 
			<label class="col-sm-2 control-label">EFF. DATE</label>
			<div class="col-sm-4">
				<input type="text" placeholder="" class="form-control">
			</div> 
			<label class="col-sm-2 control-label">EXP. DATE</label>
			<div class="col-sm-4">
				<input type="text" placeholder="" class="form-control">
			</div> 
			<label class="col-sm-2 control-label">SERVICE CATE.</label>
			<div class="col-sm-4">
				<select class="form-control">
					<option>All</option>
					<option>CAT My</option>
					<option>CAT Internet</option>
				</select>
			</div> 
			<label class="col-sm-2 control-label">SERVICE TYPE</label>
			<div class="col-sm-4">
				<select class="form-control">
					<option>All</option>
					<option>Prepaid</option>
					<option>Postpaid</option> 
				</select>
			</div> 
			<label class="col-sm-2 control-label">SERVICE CLASS</label>
			<div class="col-sm-4">
				<select class="form-control">
					<option>All</option>
					<option>IN</option>
					<option>PRE-PRO</option>
					<option>PORT-IN</option>
				</select>
			</div> 
			<label class="col-sm-2 control-label">MKT EVENT</label>
			<div class="col-sm-4">
				<select class="form-control">
					<option>All</option>
					<option>PROMOTION</option>
					<option>EVENT</option>
					<option>PROJECT</option>
					<option>BOOTH</option>
				</select>
			</div> 
			<label class="col-sm-2 control-label">SERVICE/PACKAGE NAME</label>
			<div class="col-sm-4">
				<input type="text" placeholder="" class="form-control">
			</div> 
			<label class="col-sm-2 control-label">SERVICE/PACKAGE GROUP</label>
			<div class="col-sm-4">
				<select class="form-control">
					<option>Standard</option>
					<option>TOP UP</option>
					<option>PKC</option> 
				</select>
			</div> 
			<label class="col-sm-2 control-label">STATUS</label>
			<div class="col-sm-4">
				<select class="form-control">
					<option>All</option>
					<option>Free</option>
					<option>Initial</option>
					<option>Sales</option> 
					<option>Return</option> 
				</select>
			</div> 
		</div> 
		<div id="nav-action">
			<button class="btn btn-primary pull-right" type="button" data-toggle="modal" data-target="#modalNew"><i class="fa fa-file-o"></i> สร้าง Service/Package</button> 
			<button class="btn btn-primary pull-right" type="button"><i class="fa fa-refresh"></i> ยกเลิก</button>
			<button class="btn btn-primary pull-right" type="button"><i class="fa fa-search"></i> ค้นหา</button>
		</div>
	</fieldset>
 </form>


<div class="row-fluid">
	<table id="tablelist" class="table table-bordered table-hover datatable">
		<thead>
			<tr class="success">
				<th width="1">ลำดับ</th>
				<th>SV/PK</th>
				<th>EFF DT</th>
				<th>EXP DATE</th>
				<th>NAME</th>
				<th>CATE</th>
				<th>TYPE</th>
				<th>CLASS</th>
				<th>GROUP</th>
				<th>STS</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td>
			</tr>
			<tr>
				<td>2</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td>
			</tr>
			<tr>
				<td>3</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td>
			</tr>
			<tr>
				<td>4</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td>
			</tr>
			<tr>
				<td>5</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="modal fade" id="modalNew" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">ข้อมูลการลงทะเบียน</div>
			<div class="modal-body">
				<div class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-2 control-label">1) อ่านจากไฟล์ข้อมูล</label>
						<div class="col-sm-4">
							<input type="file" value="" class="form-control" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">2) ป้อนข้อมูล</label>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">SERVICE/PCKG NO.</label>
						<div class="col-sm-4">
							<input name="text" value="" class="form-control" />
						</div>
						<label class="col-sm-2 control-label">วันที่ทำรายการ</label>
						<div class="col-sm-4">
							<input name="text" value="" class="form-control" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">SERVICE CATE.</label>
						<div class="col-sm-4">
						<select class="form-control">
							<option>CAT My</option>
							<option>CAT Internet</option>
						</select>
						</div>
						<label class="col-sm-2 control-label">SERVICE TYPE</label>
						<div class="col-sm-4">
							<select class="form-control">
								<option>Prepaid</option>
								<option>Postpaid</option> 
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">SERVICE CLASS</label>
						<div class="col-sm-10">
							<select class="form-control">
								<option>Standard</option>
								<option>TOP UP</option>
								<option>PKC</option> 
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">SERVICE/PACKAGE NAME</label>
						<div class="col-sm-10">
							<input name="text" value="" class="form-control" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">PCK GROUP</label>
						<div class="col-sm-10">
							<select class="form-control">
								<option>Standard</option>
								<option>TOP UP</option>
								<option>PKC</option> 
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">EFF. DATE</label>
						<div class="col-sm-4">
							<select class="form-control">
								<option>Standard</option>
								<option>TOP UP</option>
								<option>PKC</option> 
							</select>
						</div>
						<label class="col-sm-2 control-label">กิจกรรมการคลาด</label>
						<div class="col-sm-4">
							<select class="form-control">
								<option>Standard</option>
								<option>TOP UP</option>
								<option>PKC</option> 
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">EXPR. DATE</label>
						<div class="col-sm-4">
							<select class="form-control">
								<option>Standard</option>
								<option>TOP UP</option>
								<option>PKC</option> 
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">SERVICE SPEC.</label>
						<div class="col-sm-4">
							<textarea class="form-control"></textarea>
						</div>
						<label class="col-sm-2 control-label">MKT Memo</label>
						<div class="col-sm-4">
							<textarea class="form-control"></textarea>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">วันที่ล่าสุด</label>
						<div class="col-sm-4">
							<input name="text" value="" class="form-control" />
						</div>
						<label class="col-sm-2 control-label">ผู้ปรับปรุงรายการล่าสุด</label>
						<div class="col-sm-4">
							<input name="text" value="" class="form-control" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">STATUS</label>
						<div class="col-sm-4">
							<select class="form-control">
								<option>All</option>
								<option>Free</option>
								<option>Initial</option>
								<option>Sales</option> 
								<option>Return</option> 
							</select>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer text-right">
				<button type="button" class="btn btn-primary btn-primary"><i class="fa fa-save"></i> บันทึก</button>
				<button type="button" class="btn btn-primary btn-primary"><i class="fa fa-refresh"></i> ยกเลิก</button>
				<button type="button" class="btn btn-primary btn-primary" data-toggle="modal" data-target="#modalComp"><i class="fa fa-file-o"></i> เพิ่มบริการใน package</button>
				<button type="button" class="btn btn-primary btn-primary" data-toggle="modal" data-target="#modalArea"><i class="fa fa-file-o"></i> เพิ่มสิทธิ์พื้นที่ขาย</button>
			</div>
		</div>
	</div>
</div>
	
<div class="modal fade" id="modalComp" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">Components ใน Package</div>
			<div class="modal-body">
				<table id="tablelist" class="table table-bordered table-hover datatable">
					<thead>
						<tr class="success">
							<th width="1">ลำดับ</th>
							<th>Service</th>
							<th>Service Class</th>
							<th>Eff. Date</th>
							<th>Expr. Date</th>
							<th width="135"></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td><button type="button" class="btn btn-xs"><i class="fa fa-edit"></i> Edit</button> <button type="button" class="btn btn-xs"><i class="fa fa-trash"></i> Delete</button></td>
						</tr>
						<tr>
							<td>2</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td><button type="button" class="btn btn-xs"><i class="fa fa-edit"></i> Edit</button> <button type="button" class="btn btn-xs"><i class="fa fa-trash"></i> Delete</button></td>
						</tr>
						<tr>
							<td>3</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td><button type="button" class="btn btn-xs"><i class="fa fa-edit"></i> Edit</button> <button type="button" class="btn btn-xs"><i class="fa fa-trash"></i> Delete</button></td>
						</tr>
						<tr>
							<td>4</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td><button type="button" class="btn btn-xs"><i class="fa fa-edit"></i> Edit</button> <button type="button" class="btn btn-xs"><i class="fa fa-trash"></i> Delete</button></td>
						</tr>
						<tr>
							<td>5</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td><button type="button" class="btn btn-xs"><i class="fa fa-edit"></i> Edit</button> <button type="button" class="btn btn-xs"><i class="fa fa-trash"></i> Delete</button></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="modal-footer text-right">
				<button type="button" class="btn btn-primary btn-primary" data-toggle="modal" data-target="#modalNew"><i class="fa fa-save"></i> บันทึก</button>
				<button type="button" class="btn btn-primary btn-primary" data-toggle="modal" data-target="#modalNew"><i class="fa fa-refresh"></i> ยกเลิก</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="modalArea" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">จัดสรรพื้นที่ขาย</div>
			<div class="modal-body">
				<table id="tablelist" class="table table-bordered table-hover datatable">
					<thead>
						<tr class="success">
							<th width="1">ลำดับ</th>
							<th>ภูมิภาค/เขต</th>
							<th>จังหวัด</th>
							<th>สค./BU</th>
							<th>CAT Sales</th>
							<th>Dealer - CoA</th>
							<th>Sales Team</th>
							<th>Sales Rep</th>
							<th width="1"></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td><button type="button" class="btn btn-xs">+/-/U</button>
						</tr>
						<tr>
							<td>2</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td><button type="button" class="btn btn-xs">+/-/U</button>
						</tr>
						<tr>
							<td>3</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td><button type="button" class="btn btn-xs">+/-/U</button>
						</tr>
						<tr>
							<td>4</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td><button type="button" class="btn btn-xs">+/-/U</button>
						</tr>
						<tr>
							<td>5</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td><button type="button" class="btn btn-xs">+/-/U</button>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="modal-footer text-right">
				<button type="button" class="btn btn-primary btn-primary" data-toggle="modal" data-target="#modalNew"><i class="fa fa-save"></i> บันทึก</button>
				<button type="button" class="btn btn-primary btn-primary" data-toggle="modal" data-target="#modalNew"><i class="fa fa-refresh"></i> ยกเลิก</button>
			</div>
		</div>
	</div>
</div>























