
<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Contract Agreement</li>
  </ol>
</nav>
  			  <!-- <div class="panel panel-default">
		    <div class="panel-heading">
		        <h3>List of Contract Agreement 
		        </h3>
		    </div> -->
<form class="form-horizontal well" role="form">

			<fieldset> 
          <!-- Form Name -->
          <!-- <legend>เอกสารประกอบการสมัคร</legend>
 -->
		  <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Contract Agreement No.</label>
            <div class="col-sm-4">
                <input type="text" placeholder="Contract Agreement No. " class="form-control">
            </div> 
			<label class="col-sm-2 control-label" for="textinput">ประเภทบริการ</label>
            <div class="col-sm-4">
                 <select class="form-control">
					<option>my บริการ 3G/4G</option>
					<option>C internet</option>
					<option>CAT datacom</option>
				</select>
            </div> 
          </div> 

		  <!-- Text input-->
          <div class="form-group"> 
			<label class="col-sm-2 control-label" for="textinput">สถานะ</label>
            <div class="col-sm-4">
                <select class="form-control">
					<option>ใช้งาน</option>
					<option>รอตรวจสอบ</option>
					<option>ไม่ใช้งาน</option> 
				</select>
            </div> 
          </div> 

	<div>
		<button class="btn btn-primary pull-right" type="button"  > <i class="fa fa-search"></i> ค้นหา</button> 
		
	</div>

        </fieldset>
		<!-- end -->
		     </form>
			<!-- <div class="row">
			 <div class="col-md-12">
				<a class="btn btn-primary pull-right" href="register.html" style="margin-right:10px;"> 
					<i class="fa fa-file"></i> สร้าง Contract Agreement
				</a> 
			 </div>
			 </div> -->
		<div class="col-xs-12">
		    <table id="tablecalist" class="table table-bordered table-hover datatable">
		        <thead>
		            <tr class="success">
		                <!-- <th class="col-check"><input type="checkbox" class="form-check-input"></th> -->
						<th width="1">ลำดับ</th>
						<th width="120">Contract No.</th>
		                <th>ชื่อ</th>
		                <th>ประเภทบริการ</th>
		                <th>สำนักงาน</th>
		                <th width="1">สถานะ</th>
		                <th width="1">&nbsp;</th> 
		            </tr>
		        </thead>
		        <tbody></tbody>
		    </table>
		</div>
				
				
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/buttons/1.5.1/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"></script>
	
<script type="text/javascript">
$('.datatable').dataTable({ dom:'Btip', buttons: [
	'copy', 'csv', 'excel', 'pdf', 'print'
]});		
		
$(function () {
  	$('.navbar-toggle-sidebar').click(function () {
  		$('.navbar-nav').toggleClass('slide-in');
  		$('.side-body').toggleClass('body-slide-in');
  		$('#search').removeClass('in').addClass('collapse').slideUp(200);
  	});

  	$('#search-trigger').click(function () {
  		$('.navbar-nav').removeClass('slide-in');
  		$('.side-body').removeClass('body-slide-in');
  		$('.search-input').focus();
  	});
});
</script>
    
<div class="modal fade" id="newcontract" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">สร้าง Contract Agreement</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" style="display:table;">
				<div class="form-group">
					<label class="col-sm-4 control-label" for="textinput">ชื่อ</label>
					<div class="col-sm-8" style="margin-bottom:10px;">
						<input type="text" placeholder="ชื่อ" class="form-control">
					</div>
					<label class="col-sm-4 control-label" for="textinput">สำนักงาน</label>
					<div class="col-sm-8">
						<input type="text" placeholder="สำนักงาน" class="form-control">
					</div>
				</div> 
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="mdsuspend" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">เหตุผลการ suspend</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" >
				<!-- Text input-->
				<div class="row">
				  <div class="col-sm-12">
						<textarea class="form-control col-sm-12" id="exampleTextarea" rows="3"></textarea>
					</div>  
				</div>  
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">ยืนยัน suspend</button>
			</div>
		</div>
	</div>
</div>