
  <style>
  .control-label { line-height:34px; margin:0; padding:0 !important; }
  </style>
  <script src="dheader.js"></script>


		<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Dealer Team</li>
  </ol>
</nav>
  			  <!-- <div class="panel panel-default">
		    <div class="panel-heading">
		        <h3>List of Contract Agreement 
		        </h3>
		    </div> -->
			
    <div class="col-md-12">
      <form class="form-horizontal" role="form">
        <fieldset>

          <!-- Form Name -->
          <legend>ค้นหา</legend>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Contract Agreement</label>
            <div class="col-sm-4">
               <select id="v1" name="v1" class="form-control">
							<option>CA0001-Loxley Co., Ltd.</option>
							<option>CA0002-Loxley (Sub A) </option>
							<option>CA0003-Loxley (Sub B)</option>
						</select>
            </div>
         
            <label class="col-sm-2 control-label" for="textinput">Contract Account</label>
            <div class="col-sm-4">
               <select id="v1" name="v1" class="form-control">
							<option>BU00010001</option>
							<option>BU00010002</option>
							<option>BU00010003</option>
						</select>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="pull-right">
                <button type="submit" class="btn btn-info">Search</button> 
              </div>
            </div>
          </div>

        </fieldset>
      </form>
    </div><!-- /.col-lg-12 -->
	
	<div class="col-xs-12">
		<table class="table tree-2 table-bordered table-striped table-condensed">
                <tbody><tr class="treegrid-1 treegrid-expanded">
                    <td><span class="treegrid-expander glyphicon glyphicon-minus"></span>Loxley (Dealer Account : BU0000100010) 
					<a href="#" data-toggle="modal" data-target="#newteam"><i class="fa fa-edit"></i></a>
					<a href="#" data-toggle="modal" data-target="#newteam"><i class="fa fa-plus-square"></i></a> </td> 
                </tr>
                <tr class="treegrid-2 treegrid-parent-1" style="display: table-row;">
                    <td><span class="treegrid-indent"></span><span class="treegrid-expander"></span>Loxley เขตเหนือ 
					<a href="#" data-toggle="modal" data-target="#newteam"><i class="fa fa-edit"></i></a>
					<a href="#" data-toggle="modal" data-target="#newteam"><i class="fa fa-plus-square"></i></a> 
					<a href="#"><i class="fa fa-trash"></i></a></td> 
                </tr> 
				<tr class="treegrid-3 treegrid-parent-2" style="display: table-row;">
                    <td><span class="treegrid-indent"></span><span class="treegrid-indent"></span><span class="treegrid-expander"></span>Loxley เชียงใหม่(ขาย) 
					<a href="#" data-toggle="modal" data-target="#newteam"><i class="fa fa-edit"></i></a>
					<a href="#" data-toggle="modal" data-target="#newteam"><i class="fa fa-plus-square"></i></a> 
					<a href="#"><i class="fa fa-trash"></i></a></td> 
                </tr> 
				<tr class="treegrid-4 treegrid-parent-2" style="display: table-row;">
                    <td><span class="treegrid-indent"></span><span class="treegrid-indent"></span><span class="treegrid-expander"></span>Loxley ลำปาง 
					<a href="#" data-toggle="modal" data-target="#newteam"><i class="fa fa-edit"></i></a>
					<a href="#" data-toggle="modal" data-target="#newteam"><i class="fa fa-plus-square"></i></a> 
					<a href="#"><i class="fa fa-trash"></i></a></td> 
                </tr>
				<tr class="treegrid-5 treegrid-parent-4" style="display: table-row;">
                    <td><span class="treegrid-indent"></span><span class="treegrid-indent"></span><span class="treegrid-expander"></span>Loxley ลำปาง เมือง(ขาย) 
					<a href="#" data-toggle="modal" data-target="#newteam"><i class="fa fa-edit"></i></a>
					<a href="#" data-toggle="modal" data-target="#newteam"><i class="fa fa-plus-square"></i></a> 
					<a href="#"><i class="fa fa-trash"></i></a></td> 
                </tr>
				<tr class="treegrid-6 treegrid-parent-4" style="display: table-row;">
                    <td><span class="treegrid-indent"></span><span class="treegrid-indent"></span><span class="treegrid-expander"></span>Loxley ลำปาง งาว(ขาย) 
					<a href="#" data-toggle="modal" data-target="#newteam"><i class="fa fa-edit"></i></a>
					<a href="#" data-toggle="modal" data-target="#newteam"><i class="fa fa-plus-square"></i></a> 
					<a href="#"><i class="fa fa-trash"></i></a></td> 
                </tr>
                <tr class="treegrid-7 treegrid-parent-1 treegrid-expanded" style="display: table-row;">
                    <td><span class="treegrid-indent"></span><span class="treegrid-expander glyphicon-minus glyphicon"></span>Loxley เขตใต้ 
					<a href="#" data-toggle="modal" data-target="#newteam"><i class="fa fa-edit"></i></a>
					<a href="#" data-toggle="modal" data-target="#newteam"><i class="fa fa-plus-square"></i></a> 
					<a href="#"><i class="fa fa-trash"></i></a></td> 
                </tr>
                <tr class="treegrid-8 treegrid-parent-7" style="display: table-row;">
                    <td><span class="treegrid-indent"></span><span class="treegrid-indent"></span><span class="treegrid-expander"></span>Loxley สงขลา 
					<a href="#" data-toggle="modal" data-target="#newteam"><i class="fa fa-edit"></i></a>
					<a href="#" data-toggle="modal" data-target="#newteam"><i class="fa fa-plus-square"></i></a> 
					<a href="#"><i class="fa fa-trash"></i></a></td> 
                </tr>  
				<tr class="treegrid-9 treegrid-parent-8" style="display: table-row;">
                    <td><span class="treegrid-indent"></span><span class="treegrid-indent"></span><span class="treegrid-expander"></span>Loxley สงขลา เมือง(ขาย)</td> 
                </tr> 
				<tr class="treegrid-10 treegrid-parent-7" style="display: table-row;">
                    <td><span class="treegrid-indent"></span><span class="treegrid-indent"></span><span class="treegrid-expander"></span>Loxley ชุมพร 
					<a href="#" data-toggle="modal" data-target="#newteam"><i class="fa fa-edit"></i></a>
					<a href="#" data-toggle="modal" data-target="#newteam"><i class="fa fa-plus-square"></i></a> 
					<a href="#"><i class="fa fa-trash"></i></a></td> 
                </tr> 
				<tr class="treegrid-11 treegrid-parent-1" style="display: table-row;">
                    <td><span class="treegrid-indent"></span><span class="treegrid-indent"></span><span class="treegrid-expander"></span>Loxley ขายดี (ขาย) 
					<a href="#" data-toggle="modal" data-target="#newteam"><i class="fa fa-edit"></i></a>
					<a href="#" data-toggle="modal" data-target="#newteam"><i class="fa fa-plus-square"></i></a> 
					<a href="#"><i class="fa fa-trash"></i></a></td> 
                </tr> 
                     
            </tbody>
		</table>	
	</div>
			 
		<script type="text/javascript">
		$(function () {
  	$('.navbar-toggle-sidebar').click(function () {
  		$('.navbar-nav').toggleClass('slide-in');
  		$('.side-body').toggleClass('body-slide-in');
  		$('#search').removeClass('in').addClass('collapse').slideUp(200);
  	});

  	$('#search-trigger').click(function () {
  		$('.navbar-nav').removeClass('slide-in');
  		$('.side-body').removeClass('body-slide-in');
  		$('.search-input').focus();
  	});
  });
   
  $(document).ready(function() {
        $('.tree-2').treegrid({
                    expanderExpandedClass: 'fa fa-minus',
                    expanderCollapsedClass: 'fa fa-plus'
                });
    });
  
		</script>
		
<div class="modal fade" id="newteam" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">สร้างทีม</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body form-horizontal" style="display:table;">

				<div class="form-group">
					<label class="col-sm-4 control-label" for="textinput">เลขที่สัญญา</label>
					<div class="col-sm-8">
					  <select id="v1" name="v1" class="form-control">
							<option>CA0001-Loxley Co., Ltd.</option>
							<option>CA0002-Loxley (Sub A) </option>
							<option>CA0003-Loxley (Sub B)</option>
						</select>
					</div> 
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label" for="textinput">Contract Account</label>
					<div class="col-sm-8">
					  <select id="v1" name="v1" class="form-control">
							<option>DealerCode-BU000100001</option>
							<option>DealerCode-BU000100002</option>
							<option>DealerCode-BU000100003</option>
						</select>
					</div> 
				</div>
				<div class="form-group"> 

					<label class="col-sm-4 control-label" for="textinput">ชื่อทีม</label>
					<div class="col-sm-8">
						<input type="text" placeholder="ชื่อทีม" class="form-control">
					</div> 

				</div> 
				<div class="form-group">   
					<div class="col-sm-8 col-sm-offset-4">
						<div class="radio radio-inline">
							<label class="radio-inline">
								<input type="radio" onclick="SaleTeam('Y')" name="optradio" checked>ทีมขาย
							</label>
						</div>
						<div class="radio radio-inline">
							<label class="radio-inline">
								<input type="radio" onclick="SaleTeam('N')" name="optradio">ทีมบริหาร
							</label>
						</div>
					</div> 
					</div> 
				<div class="form-group"> 
					<label class="col-sm-4 control-label" for="textinput">ภายใต้ทีม</label>
					<div class="col-sm-8">
						<select class="form-control" name="ddlparent" id="ddlparent">
							<option>ไม่อยู่ภายใต้ทีมอื่น</option>
							<option>MCC</option>
							<option>- Zeus</option> 
							<option>- Thor</option> 
							<option>AEE</option> 
						</select>
					</div> 

					<label class="col-sm-4 control-label" for="textinput">สถานะ</label>
					<div class="col-sm-8">
						<div class="radio">
						  <label><input type="radio" name="optradio" checked>ใช้งาน</label>
						</div>
						<div class="radio">
						  <label><input type="radio" name="optradio">ไม่ใช้งาน</label>
						</div>
					</div>

				</div> 
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
			</div>
		</div>
	</div>
</div>
    
 </body>
</html>
<script type="text/javascript">

 function SaleTeam(v){
	 if(v=='Y'){
		 $("#ddlparent").val("");
		 $("#ddlparent").attr("disabled",true);
	 }
	 else{ 
		 $("#ddlparent").attr("disabled",false);
	 }
}

SaleTeam('Y');

$(".fa-trash").click(function(){
	    bootbox.confirm({
        message: "กรุณาตรวจสอบและลบ User ก่อน",
        buttons: {
            confirm: {
                label: 'Yes',
                className: 'btn-success'
            },
            cancel: {
                label: 'No',
                className: 'btn-danger'
            }
        },
        callback: function (result) {
            
        }
    });
});

</script>