

		<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Dealer User</li>
  </ol>
</nav>
  			  <!-- <div class="panel panel-default">
		    <div class="panel-heading">
		        <h3>List of Contract Agreement 
		        </h3>
		    </div> -->
<form class="form-horizontal well" role="form">

			<fieldset> 
          <!-- Form Name -->
          <!-- <legend>เอกสารประกอบการสมัคร</legend>
 -->
		  <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">รหัส</label>
            <div class="col-sm-4">
                <input type="text" placeholder="รหัส " class="form-control">
            </div> 
			<label class="col-sm-2 control-label" for="textinput">ทีม</label>
            <div class="col-sm-4">
                <select class="form-control">
					<option>---</option>
					<option>Team Sale A</option>
					<option>Team Sale B</option>
					<option>Team Sale C</option> 
					 
				</select>
            </div> 
          </div> 
		  <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">ชื่อ</label>
            <div class="col-sm-4">
                <input type="text" placeholder="ชื่อ " class="form-control">
            </div> 
			<label class="col-sm-2 control-label" for="textinput">สถานะ</label>
            <div class="col-sm-4">
                <select class="form-control">
					<option>ทั้งหมด</option>
					<option>ใช้งาน</option>
					<option>ไม่ใช้งาน</option> 
					 
				</select>
            </div> 
          </div> 

	<div>
		<button class="btn btn-primary pull-right" type="button"  > <i class="fa fa-search"></i> ค้นหา</button> 
		<a href="dcreate-contract-account.html" class="btn btn-primary pull-right" type="button" style="margin-right:10px;" > 
			<i class="fa fa-plus"></i> เพิ่มผู้ใช้งาน
		</a> 
	</div>

        </fieldset>
		<!-- end -->
		     </form>
		    <table id="dealeruserlist" class="table table-bordered table-hover datatable">
		        <thead>
		            <tr class="success">
						<th>รหัส</th>
		                <th>Team</th>
						<th>Username</th>
		                <th>ชื่อ</th>
						<th>Role</th>
		                <th>สถานะ</th>
		                <th width="1">&nbsp;</th> 
		            </tr>
		        </thead>
		        <tbody></tbody>
		    </table>

			
				
		
		<script type="text/javascript">
		$(function () {
  	$('.navbar-toggle-sidebar').click(function () {
  		$('.navbar-nav').toggleClass('slide-in');
  		$('.side-body').toggleClass('body-slide-in');
  		$('#search').removeClass('in').addClass('collapse').slideUp(200);
  	});

  	$('#search-trigger').click(function () {
  		$('.navbar-nav').removeClass('slide-in');
  		$('.side-body').removeClass('body-slide-in');
  		$('.search-input').focus();
  	});
  });
   
  
  
		</script>
		
<div class="modal fade" id="newteam" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">สร้างทีม</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body form-horizontal" style="display:table;">

				<div class="form-group">
					<label class="col-sm-4 control-label" for="textinput">เลขที่สัญญา</label>
					<div class="col-sm-8">
					  <select id="v1" name="v1" class="form-control">
							<option>CA0001-Loxley Co., Ltd.</option>
							<option>CA0002-Loxley (Sub A) </option>
							<option>CA0003-Loxley (Sub B)</option>
						</select>
					</div> 
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label" for="textinput">Contract Account</label>
					<div class="col-sm-8">
					  <select id="v1" name="v1" class="form-control">
							<option>DealerCode-BU000100001</option>
							<option>DealerCode-BU000100002</option>
							<option>DealerCode-BU000100003</option>
						</select>
					</div> 
				</div>
				<div class="form-group"> 

					<label class="col-sm-4 control-label" for="textinput">ชื่อทีม</label>
					<div class="col-sm-8">
						<input type="text" placeholder="ชื่อทีม" class="form-control">
					</div>
					<!-- <label class="col-sm-4 control-label" for="textinput">เป็นทีมขายหรือไม่</label>
					<div class="col-sm-8">
						<div class="radio">
						  <label><input type="radio" name="optradio" checked>เป็นทีมขาย</label>
						</div>
						<div class="radio">
						  <label><input type="radio" name="optradio">ไม่เป็นทีมขาย</label>
						</div>
					</div> -->
					<label class="col-sm-4 control-label" for="textinput">ภายใต้ทีม</label>
					<div class="col-sm-8">
						<select class="form-control">
							<option>ไม่อยู่ภายใต้ทีมอื่น</option>
							<option>MCC</option>
							<option>- Zeus</option> 
							<option>- Thor</option> 
							<option>AEE</option> 
						</select>
					</div> 
					<label class="col-sm-4 control-label" for="textinput">สถานะ</label>
					<div class="col-sm-8">
						<div class="radio">
						  <label><input type="radio" name="optradio" checked>ใช้งาน</label>
						</div>
						<div class="radio">
						  <label><input type="radio" name="optradio">ไม่ใช้งาน</label>
						</div>
					</div>
				</div> 
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div>
	</div>
</div>














