<nav aria-label="breadcrumb" role="navigation">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="#!/dealer/myhome" ng-click="home()">Home</a></li>
		<li class="breadcrumb-item active" aria-current="page">Dashboard</li>
	</ol>
</nav>

<div class="col-xs-12" ng-show="action=='home'">
	<div class="panel panel-default">
		<div class="panel-heading">ข่าวสารและโปรโมชั่น</div>
		<div class="panel-body" ng-repeat="post in posts" ng-show="post.category==1"> 
			<div class="row" ng-click="view(post)"> 
				<div class="col-xs-12 col-sm-3 col-md-3">
					<img src="{{post.thumbnail}}" alt="{{post.title}}" class="img-responsive img-box img-thumbnail" />
				</div> 
				<div class="col-xs-12 col-sm-9 col-md-9"> 
					<h3>{{post.title}}</h3>
					<p>{{post.description}}</p>
				</div> 
			</div> 
		</div>
	</div>
</div>

<div id="view" ng-show="action=='view'">
	<div class="container" style="width:calc(100% - 30px);">
		<img src="{{post.thumbnail}}" alt="{{post.title}}" width="100%" />
		<h1>{{post.title}}</h1>
		<p>{{post.description}}</p>
		<a href="" title="" class="btn btn-default" ng-click="home()">Back</a>
	</div>
</div>