

  <style>
  .control-label { line-height:34px; margin:0; padding:0 !important; }
  </style>
  

		<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Manage Number</li>
  </ol>
</nav>
  			  <!-- <div class="panel panel-default">
		    <div class="panel-heading">
		        <h3>List of Contract Agreement 
		        </h3>
		    </div> -->
<form class="form-horizontal well" role="form">

			<fieldset> 
          <!-- Form Name -->
          <!-- <legend>เอกสารประกอบการสมัคร</legend>
 -->
		  <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Request No.</label>
            <div class="col-sm-4">
                <input type="text" placeholder="Request No. " class="form-control">
            </div> 
			<label class="col-sm-2 control-label" for="textinput">สถานะ</label>
            <div class="col-sm-4">
                <select class="form-control">
					<option>ทั้งหมด</option>
					<option>รอ</option>
					<option>ได้รับบางส่วน</option> 
					<option>ได้้รับทั้งหมด</option> 
					 
				</select>
            </div> 
          </div> 

	<div>
		<button class="btn btn-primary pull-right" type="button"  > <i class="fa fa-search"></i> ค้นหา</button> 
		<button class="btn btn-primary pull-right" type="button" style="margin-right:10px;"
			data-toggle="modal" data-target="#newteam"> 
			<i class="fa fa-file"></i> Request Number
		</button> 
	</div>

        </fieldset>
		<!-- end -->
		     </form>
			 
		<div class="col-xs-12">
		    <table id="numbeermgrlist" class="table table-bordered table-hover datatable">
		        <thead>
		            <tr class="success">
						<th>รหัส</th>
		                <th>เลขที่ PO</th>
						 <th>เอกสารใบPO</th>  
		                <th>จำนวนเลขหมาย</th>
						<th>วันที่ร้องขอ</th> 
		                <th>สถานะ</th>
		                <th width="1">&nbsp;</th> 
		            </tr>
		        </thead>
		        <tbody></tbody>
		    </table>
		</div>
		
		
		<script type="text/javascript">
		$(function () {
  	$('.navbar-toggle-sidebar').click(function () {
  		$('.navbar-nav').toggleClass('slide-in');
  		$('.side-body').toggleClass('body-slide-in');
  		$('#search').removeClass('in').addClass('collapse').slideUp(200);
  	});

  	$('#search-trigger').click(function () {
  		$('.navbar-nav').removeClass('slide-in');
  		$('.side-body').removeClass('body-slide-in');
  		$('.search-input').focus();
  	});
  });
  
	
	var sales = [];
	sales['R1001'] = {
		id: 'R1001',
		name: 'Malcolm Hilton',
		status: 'ใช้งาน'
	}
	sales['1002'] = {
		id: 1002,
		name: 'Dyan Jones' ,
		status: 'ใช้งาน'
	}
	sales['1004'] = {
		id: 1004,
		name: 'Cassie Brice' ,
		status: 'ใช้งาน'
	}
	sales['1007'] = {
		id: 1007,
		name: 'Tel Miles' ,
		status: 'ไม่ใช้งาน'
	}
	sales['1011'] = {
		id: 1011,
		name: 'Craig Virgo' ,
		status: 'ใช้งาน'
	}
	
	var teams = []
	teams['401'] = {
		id: 401,
		name: 'MCC',
		parent: 0
	}
	teams['402'] = {
		id: 402,
		name: 'Zeus',
		parent: 401
	}
	teams['403'] = {
		id: 403,
		name: 'Thor',
		parent: 401
	}
	teams['404'] = {
		id: 404,
		name: 'AEE',
		parent: 0
	}
  
	var salesTeam = [{
		sale_id: 1001,
		team_id: 402
	},{
		sale_id: 1002,
		team_id: 402
	},{
		sale_id: 1002,
		team_id: 404
	},{
		sale_id: 1011,
		team_id: 404
	}];
  
	for(i in sales){
		let sale = sales[i];
		let teamLable = [];
		
		for(j in salesTeam){
			let team = salesTeam[j];
			if(team.sale_id == sale.id){
				teamLable.push(teams[team.team_id].name);
			}
		}
		
		let tr = '<tr>' +
		'	<td><input type="checkbox" class="form-check-input"></td>' +
		'	<td>' + sale.id + '</td>' +
		'	<td>PO201700' + sale.id + '</td>' +
		'	<td>เอกสารใบPO.docx</td>' +
		'	<td>100</td>' +
		'	<td>8/11/2560</td>' +
		'	<td>จัดสรรเบอร์</td>' +
		'	<td><a href="number.html" class="btn btn-xs  btn-info"  ><i class="fa fa-file"></i></a>&nbsp; </td>' +
		'</tr>';
		$('#salebody').append(tr);
	}
  
	
  
  
  
  
  
		</script>
		 	
<div class="modal fade" id="newteam" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Request Number</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body form-horizontal" style="display:table;">

				<!-- <div class="form-group">
					<label class="col-sm-4 control-label" for="textinput">เลขที่สัญญา</label>
					<div class="col-sm-8">
					  <select id="v1" name="v1" class="form-control">
							<option>CA0001-Loxley Co., Ltd.</option>
							<option>CA0002-Loxley (Sub A) </option>
							<option>CA0003-Loxley (Sub B)</option>
						</select>
					</div> 
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label" for="textinput">Contract Account</label>
					<div class="col-sm-8">
					  <select id="v1" name="v1" class="form-control">
							<option>DealerCode-BU000100001</option>
							<option>DealerCode-BU000100002</option>
							<option>DealerCode-BU000100003</option>
						</select>
					</div> 
				</div> -->
				<div class="form-group"> 

					<label class="col-sm-4 control-label" for="textinput">เลขที่ใบ PO</label>
					<div class="col-sm-8">
						<input type="text" placeholder="เลขที่ใบ PO" class="form-control">
					</div>
					 
					 
				</div> 
				<div class="form-group"> 

					<label class="col-sm-4 control-label" for="textinput">จำนวนเลขหมาย</label>
					<div class="col-sm-8">
						<input type="text" placeholder="จำนวนเลขหมาย" class="form-control">
					</div>
					 
					 
				</div> 
				<div class="form-group"> 

					<label class="col-sm-4 control-label" for="textinput">Upload เอกสารใบ PO</label>
					<div class="col-sm-8">
						<input type="file" placeholder="Upload เอกสารใบ PO" class="form-control">
					</div>
					 
					 
				</div> 
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Send Request</button>
			</div>
		</div>
	</div>
</div>
    
	






