

		<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item " aria-current="page">Manage Number</li>
	<li class="breadcrumb-item active" aria-current="page">Distribute Number</li>
  </ol>
</nav> 
  <div class="col-md-12 ">
	<button type="button" class="btn btn-sm btn-info pull-right">ดำเนิการจัดสรร</button>
  </div>
  <div class="col-md-12 form-horizontal">
  <fieldset class="">
		<!-- Form Name -->
		<legend>จัดสรรเบอร์ให้กับ</legend>
		 
		<div class="form-group ">
		<label class="col-sm-3 control-label" for="textinput">ประเภท<em></em></label>
					<div class="col-sm-4">
						 <select class="form-control" id="ddlType">
							<option value="I">เลือกตามรายการเบอร์</option>
							<option value="R">แบบช่วง (Range)</option>
							<option value="B"> แบบการอัพโหลด (Bulk Load)</option> 
						</select>
					</div>
		</div>  
		<div class="form-group">
					<label class="col-sm-3 control-label" for="textinput">เลขที่สัญญา</label>
					<div class="col-sm-8">
					  <select id="v1" name="v1" class="form-control">
							<option>CA0001-Loxley Co., Ltd.</option>
							<option>CA0002-Loxley (Sub A) </option>
							<option>CA0003-Loxley (Sub B)</option>
						</select>
					</div> 
		</div> 
		<div class="form-group">
					<label class="col-sm-3 control-label" for="textinput">Contract Account</label>
					<div class="col-sm-8">
					  <select id="v1" name="v1" class="form-control">
							<option>DealerCode-BU000100001</option>
							<option>DealerCode-BU000100002</option>
							<option>DealerCode-BU000100003</option>
						</select>
					</div> 
				</div> 

						<div class="form-group ">
							<label class="col-sm-3 control-label" for="textinput">ทีม</label>
							<div class="col-sm-8">
							  <select id="v1" name="v1" class="form-control">
									<option>Team A</option>
									<option>Team B</option>
									<option>Team C</option>
								</select>
							</div> 
						</div>

						<div class="form-group ">
							<label class="col-sm-3 control-label" for="textinput">Sale</label>
							<div class="col-sm-8">
							  <select id="v1" name="v1" class="form-control">
									<option>Sale A</option>
									<option>Sale B</option>
									<option>Sale C</option>
								</select>
							</div> 
						</div>
 
  </fieldset>
   
    <fieldset id="range">
		<!-- Form Name -->
		<legend>หมายเลข SIM</legend>
		<div class="form-group ">
				<label class="col-sm-3 control-label" for="textinput">ตั้งแต่หมายเลข<em></em></label>
					<div class="col-sm-3">
						  <input type="text" id="v3" name="v3" placeholder="ตั้งแต่หมายเลข" class="form-control">
					</div>
				<label class="col-sm-2 control-label" for="textinput">ถึงหมายเลข<em></em></label>
				<div class="col-sm-3">
					  <input type="text" id="v3" name="v3" placeholder="ถึงหมายเลข" class="form-control">
				</div>
		</div>  
  </fieldset>
  <fieldset id="bulk">
		<!-- Form Name -->
		<legend>Bulk Load</legend>
		<div class="form-group ">
				<label class="col-sm-3 control-label" for="textinput">เลือกไฟล์<em></em></label>
					<div class="col-sm-3">
						  <input type="file" id="v3" name="v3" placeholder="ตั้งแต่หมายเลข" class="form-control">
					</div>
				 
		</div>  
  </fieldset>
  <fieldset id="item">
		<!-- Form Name -->
		<legend>รายการหมายเลข</legend>
		 <form class="form-horizontal well" role="form">

			<fieldset> 
          <!-- Form Name -->
          <!-- <legend>เอกสารประกอบการสมัคร</legend>
 -->
		  <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Request No.</label>
            <div class="col-sm-4">
                <input type="text" placeholder="Request No. " class="form-control">
            </div> 
			<label class="col-sm-2 control-label" for="textinput">สถานะ</label>
            <div class="col-sm-4">
                <select class="form-control">
					<option>ทั้งหมด</option>
					<option>รอ</option>
					<option>ได้รับบางส่วน</option> 
					<option>ได้้รับทั้งหมด</option> 
					 
				</select>
            </div> 
          </div> 

	<div>
		<button class="btn btn-primary pull-right" type="button"  > <i class="fa fa-search"></i> ค้นหา</button> 
		 
	</div>

        </fieldset>
		<!-- end -->
		     </form>

		<div class="col-xs-12">
		    <table id="numberlist" class="table table-bordered table-hover datatable">
		        <thead>
		            <tr class="success">
						<th width="80">ลำดับที่</th>
		                <th>หมายเลข</th>
						<th>MDNs</th>
		                <th>Serial</th> 
		                <th width="1">สถานะ</th>
		                <th width="1">&nbsp;</th> 
		            </tr>
		        </thead>
		        <tbody></tbody>
		    </table>
		</div>


  </fieldset>
  </div>
	
		<script type="text/javascript">
		$(function () {

$("#range").hide();
$("#bulk").hide();
$("#item").show();
$("#ddlType").change(function(){
	if($(this).val()=="R"){
		$("#range").show();
		$("#bulk").hide();
		$("#item").hide();
	}
	else if($(this).val()=="B"){
		$("#range").hide();
		$("#bulk").show();
		$("#item").hide();
	}
	else if($(this).val()=="I"){
		$("#range").hide();
		$("#bulk").hide();
		$("#item").show();
	}
});
$(".allChk").click(function(){
	$(".form-check-input").prop("checked",true);
});

  	$('.navbar-toggle-sidebar').click(function () {
  		$('.navbar-nav').toggleClass('slide-in');
  		$('.side-body').toggleClass('body-slide-in');
  		$('#search').removeClass('in').addClass('collapse').slideUp(200);
  	});

  	$('#search-trigger').click(function () {
  		$('.navbar-nav').removeClass('slide-in');
  		$('.side-body').removeClass('body-slide-in');
  		$('.search-input').focus();
  	});
  });
  
	
	 
  
  
  
  
  
		</script>
		 	
<div class="modal fade" id="newteam" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Assign Number</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body " >
				<div class="row form-horizontal">
					<div class="col-md-12">

					<div class="form-group">
					<label class="col-sm-3 control-label" for="textinput">เลขที่สัญญา</label>
					<div class="col-sm-8">
					  <select id="v1" name="v1" class="form-control">
							<option>CA0001-Loxley Co., Ltd.</option>
							<option>CA0002-Loxley (Sub A) </option>
							<option>CA0003-Loxley (Sub B)</option>
						</select>
					</div> 
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label" for="textinput">Contract Account</label>
					<div class="col-sm-8">
					  <select id="v1" name="v1" class="form-control">
							<option>DealerCode-BU000100001</option>
							<option>DealerCode-BU000100002</option>
							<option>DealerCode-BU000100003</option>
						</select>
					</div> 
				</div> 

						<div class="form-group ">
							<label class="col-sm-3 control-label" for="textinput">ทีม</label>
							<div class="col-sm-8">
							  <select id="v1" name="v1" class="form-control">
									<option>Team A</option>
									<option>Team B</option>
									<option>Team C</option>
								</select>
							</div> 
						</div>
						<hr>
						


					</div>
				</div> 

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div>
	</div>
</div>
    
	
	
	
	
	
	
	
	
	
	
	
	
	