
<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Register</li>
  </ol>
</nav>
 <form class="form-horizontal" role="form">
<div  id="step1">
 <div class="panel panel-warning">
	<div class="panel-heading">
		 ประเภทลูกค้า
	</div>
	<div class="panel-body" >
  <div class="form-group">
 <label class="col-sm-2 control-label" for="textinput">ประเภทลูกค้า</label>
            <div class="col-sm-4">
              <div class="radio radio-inline">
		 
				<input type="radio" name="x" id="radio122" onclick="changetype('P');"  checked value="option1">
					<label for="radio122">
					บุคคลธรรมดา
					</label>
			  </div>
			  <div class="radio radio-inline">
		 
				<input type="radio" name="x" id="radio222" onclick="changetype('N');"  value="option2">
					<label for="radio222">
					นิติบุคคล
					</label>
			  </div>
            </div>
</div>
<div class="form-group">
	<label class="col-sm-2 control-label" for="textinput">รหัสประจำตัวผู้เสียภาษี 13 หลัก</label>
	<div class="col-sm-4">
		<div class="input-group">
			<input type="text" placeholder="รหัสประจำตัวผู้เสียภาษี 13 หลัก" class="form-control">
			<span class="input-group-btn">
				<button class="btn btn-secondary" type="button">ค้นหา</button>
			</span>
		</div>
	</div>
</div>
  </div>
    </div>
<!-- // -->
	<div class="panel panel-warning individual">
	<div class="panel-heading">
		 รายละเอียด
	</div>
	<div class="panel-body" >
		 
		<!-- start -->
			
		<fieldset> 
          <!-- Form Name -->
          <legend>รายละเอียดลูกค้า</legend>
 

          <!-- Text input-->
          <div class="form-group">
           

			<label class="col-sm-2 control-label" for="textinput">Service type</label>
            <div class="col-sm-4">
              <div class="radio radio-inline">
		 
				<input type="radio" name="x23" id="radio213" disabled value="option21">
					<label for="radio213">
					Postpaid 
					</label>
			  </div>
			  <div class="radio radio-inline">
		 
				<input type="radio" name="x23" id="radio223" disabled checked value="option22">
					<label for="radio223">
					Prepaid
					</label>
			  </div>
            </div>
          </div>

         

          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">คำนำหน้าชื่อ</label>
            <div class="col-sm-2">
               <select class="form-control">
					<option>นาย</option>
					<option>นาง</option>
					<option>นางสาว</option>
				</select>
            </div>

            <label class="col-sm-1 control-label" for="textinput">ชื่อ</label>
            <div class="col-sm-3">
              <input type="text" placeholder="ชื่อ" class="form-control">
            </div>

			<label class="col-sm-1 control-label" for="textinput">นามสกุล</label>
            <div class="col-sm-3">
              <input type="text" placeholder="นามสกุล" class="form-control">
            </div>
          </div> 


          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">เพศ</label>
            <div class="col-sm-2">
              <div class="radio radio-inline">
		 
				<input type="radio" name="x231" id="radio2131" checked value="option21">
					<label for="radio2131">
					ชาย 
					</label>
			  </div>
			  <div class="radio radio-inline">
		 
				<input type="radio" name="x231" id="radio2231" checked value="option22">
					<label for="radio2231">
					หญิง
					</label>
			  </div>
            </div>

             <label class="col-sm-1 control-label" for="textinput">วันเกิด<em>*</em></label>
			<div class="col-sm-2">
				<div class="input-group date" data-provide="datepicker">
					<input type="text" id="v2" name="v2" class="form-control">
					<div class="input-group-addon">
						<span class="fa fa-calendar"></span>
					</div>
				</div>
			</div>

			 <label class="col-sm-1 control-label" for="textinput">อีเมล์</label>
            <div class="col-sm-4">
              <input type="text" placeholder="อีเมล์" class="form-control">
            </div>

          </div>

		  <!-- Text input-->
          <div class="form-group">
           

            <label class="col-sm-2 control-label" for="textinput">ชนิดเอกสาร</label>
            <div class="col-sm-4">
               <select class="form-control" id="v5" name="v5">
					<option value="1">Citizen ID Card</option>
					<option value="2">Passport</option>
					<option value="3">Other</option>
				</select>
            </div>

			<label class="col-sm-3 control-label" for="textinput">รหัสประจำตัวผู้เสียภาษี 13 หลัก</label>
            <div class="col-sm-3">
              <input type="text" placeholder="รหัสประจำตัวผู้เสียภาษี 13 หลัก" class="form-control">
            </div>

          </div>
  </fieldset> 
		<fieldset> 
          <!-- Form Name -->
          <legend>ข้อมูลที่อยู่</legend>
 
		  <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">ที่อยู่เลขที่</label>
            <div class="col-sm-3">
               <input type="text" placeholder="ที่อยู่เลขที่" class="form-control">
            </div>

            <label class="col-sm-1 control-label" for="textinput">หมู่ที่</label>
            <div class="col-sm-2">
              <input type="text" placeholder="หมู่ที่" class="form-control">
            </div>

			<label class="col-sm-1 control-label" for="textinput">หมู่บ้าน</label>
            <div class="col-sm-3">
              <input type="text" placeholder="หมู่บ้าน" class="form-control">
            </div>
          </div> 

		  <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">อาคาร/ชั้นห้อง</label>
            <div class="col-sm-2">
               <input type="text" placeholder="อาคาร/ชั้นห้อง" class="form-control">
            </div>

            <label class="col-sm-1 control-label" for="textinput">ตรอก/ซอย</label>
            <div class="col-sm-3">
              <input type="text" placeholder="ตรอก/ซอย" class="form-control">
            </div>

			<label class="col-sm-1 control-label" for="textinput">ถนน</label>
            <div class="col-sm-3">
              <input type="text" placeholder="ถนน" class="form-control">
            </div>
          </div> 

		  <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">จังหวัด</label>
            <div class="col-sm-4">
               <select class="form-control">
					<option>นนทบุรี</option>
				</select>
            </div>

            <label class="col-sm-2 control-label" for="textinput">อำเภอ/เขต</label>
            <div class="col-sm-4">
              <select class="form-control">
					<option>ปากเกร็ด</option>
				</select>
            </div>

			
          </div> 

		  <!-- Text input-->
          <div class="form-group">
			
			<label class="col-sm-2 control-label" for="textinput">ตำบล/แขวง</label>
            <div class="col-sm-4">
              <select class="form-control">
					<option>คลองเกลือ</option>
				</select>
            </div>

            <label class="col-sm-2 control-label" for="textinput">รหัสไปรษณีย์</label>
            <div class="col-sm-4">
               <input type="text" placeholder="รหัสไปรษณีย์" class="form-control">
            </div>

           
          </div> 

		<!-- Text input-->
          <div class="form-group">

		  <label class="col-sm-2 control-label" for="textinput">ชนิดโทรศัพท์</label>
            <div class="col-sm-4">
               <select class="form-control">
					<option>Mobile</option>
					<option>Phone</option>
					<option>Other</option>
				</select>
            </div>

			<label class="col-sm-2 control-label" for="textinput">รหัสพื้นที่</label>
            <div class="col-sm-4">
               <input type="text" placeholder="รหัสพื้นที่" class="form-control">
            </div>
 
			
		</div> 

		<!-- Text input-->
          <div class="form-group"> 
		   <label class="col-sm-2 control-label" for="textinput">เบอร์โทรศัพท์</label>
            <div class="col-sm-4">
              <input type="text" placeholder="เบอร์โทรศัพท์" class="form-control">
            </div>
			
			
			<label class="col-sm-2 control-label" for="textinput">เบอร์ต่อ</label>
            <div class="col-sm-4">
               <input type="text" placeholder="เบอร์ต่อ" class="form-control">
            </div>
			
		</div> 



        </fieldset>

		  
		 <div style="display:none;">

			  <!-- Nav tabs -->
			  <ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">ที่อยู่จัดส่งใบแจ้งหนี้</a></li>
				<li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">ที่อยู่จัดส่งใบกํากับภาษี</a></li> 
			  </ul>

			  <!-- Tab panes -->
			  <div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="home">
				 <br>
				 <div class="form-group">
					<label class="col-sm-2 control-label" for="textinput"></label>
					<div class="col-sm-2">
					 <a href="#" class="btn btn-sm btn-info">Copy จากข้อมูลที่อยู่</a>
					 </div>
				 </div>
					 <fieldset id="address2"> 
          <!-- Form Name -->
          <!-- <legend>ที่อยู่จัดส่งใบแจ้งหนี้ </legend> -->
		  <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">คำนำหน้าชื่อ</label>
            <div class="col-sm-2">
               <select class="form-control">
					<option>นาย</option>
					<option>นาง</option>
					<option>นางสาว</option>
				</select>
            </div>

            <label class="col-sm-1 control-label" for="textinput">ชื่อ</label>
            <div class="col-sm-3">
              <input type="text" placeholder="ชื่อ" class="form-control">
            </div>

			<label class="col-sm-1 control-label" for="textinput">นามสกุล</label>
            <div class="col-sm-3">
              <input type="text" placeholder="นามสกุล" class="form-control">
            </div>
          </div> 

		  <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">ที่อยู่เลขที่</label>
            <div class="col-sm-3">
               <input type="text" placeholder="ที่อยู่เลขที่" class="form-control">
            </div>

            <label class="col-sm-1 control-label" for="textinput">หมู่ที่</label>
            <div class="col-sm-2">
              <input type="text" placeholder="หมู่ที่" class="form-control">
            </div>

			<label class="col-sm-1 control-label" for="textinput">หมู่บ้าน</label>
            <div class="col-sm-3">
              <input type="text" placeholder="หมู่บ้าน" class="form-control">
            </div>
          </div> 

		  <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">อาคาร/ชั้นห้อง</label>
            <div class="col-sm-2">
               <input type="text" placeholder="อาคาร/ชั้นห้อง" class="form-control">
            </div>

            <label class="col-sm-1 control-label" for="textinput">ตรอก/ซอย</label>
            <div class="col-sm-3">
              <input type="text" placeholder="ตรอก/ซอย" class="form-control">
            </div>

			<label class="col-sm-1 control-label" for="textinput">ถนน</label>
            <div class="col-sm-3">
              <input type="text" placeholder="ถนน" class="form-control">
            </div>
          </div> 

		  <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">จังหวัด</label>
            <div class="col-sm-4">
               <select class="form-control">
					<option>นนทบุรี</option>
				</select>
            </div>

            <label class="col-sm-2 control-label" for="textinput">อำเภอ/เขต</label>
            <div class="col-sm-4">
              <select class="form-control">
					<option>ปากเกร็ด</option>
				</select>
            </div>

			
          </div> 

		  <!-- Text input-->
          <div class="form-group">
			
			<label class="col-sm-2 control-label" for="textinput">ตำบล/แขวง</label>
            <div class="col-sm-4">
              <select class="form-control">
					<option>คลองเกลือ</option>
				</select>
            </div>

            <label class="col-sm-2 control-label" for="textinput">รหัสไปรษณีย์</label>
            <div class="col-sm-4">
               <input type="text" placeholder="รหัสไปรษณีย์" class="form-control">
            </div>

           
          </div> 
 


        </fieldset>
				</div>
				<div role="tabpanel" class="tab-pane" id="profile">
				<br>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="textinput"></label>
					<div class="col-sm-2">
					 <a href="#" class="btn btn-sm btn-info">Copy ที่อยู่จัดส่งใบกํากับภาษี</a>
					 </div>
				 </div>
					 <fieldset id="address2"> 
          <!-- Form Name -->
          <!-- <legend><a href="#" class="btn btn-sx btn-info">Copy จากที่อยู่ใบแจ้งหนี้</a> ที่อยู่จัดส่งใบกํากับภาษี </legend> -->
		  <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">คำนำหน้าชื่อ</label>
            <div class="col-sm-2">
               <select class="form-control">
					<option>นาย</option>
					<option>นาง</option>
					<option>นางสาว</option>
				</select>
            </div>

            <label class="col-sm-1 control-label" for="textinput">ชื่อ</label>
            <div class="col-sm-3">
              <input type="text" placeholder="ชื่อ" class="form-control">
            </div>

			<label class="col-sm-1 control-label" for="textinput">นามสกุล</label>
            <div class="col-sm-3">
              <input type="text" placeholder="นามสกุล" class="form-control">
            </div>
          </div> 

		  <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">ที่อยู่เลขที่</label>
            <div class="col-sm-3">
               <input type="text" placeholder="ที่อยู่เลขที่" class="form-control">
            </div>

            <label class="col-sm-1 control-label" for="textinput">หมู่ที่</label>
            <div class="col-sm-2">
              <input type="text" placeholder="หมู่ที่" class="form-control">
            </div>

			<label class="col-sm-1 control-label" for="textinput">หมู่บ้าน</label>
            <div class="col-sm-3">
              <input type="text" placeholder="หมู่บ้าน" class="form-control">
            </div>
          </div> 

		  <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">อาคาร/ชั้นห้อง</label>
            <div class="col-sm-2">
               <input type="text" placeholder="อาคาร/ชั้นห้อง" class="form-control">
            </div>

            <label class="col-sm-1 control-label" for="textinput">ตรอก/ซอย</label>
            <div class="col-sm-3">
              <input type="text" placeholder="ตรอก/ซอย" class="form-control">
            </div>

			<label class="col-sm-1 control-label" for="textinput">ถนน</label>
            <div class="col-sm-3">
              <input type="text" placeholder="ถนน" class="form-control">
            </div>
          </div> 

		  <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">จังหวัด</label>
            <div class="col-sm-4">
               <select class="form-control">
					<option>นนทบุรี</option>
				</select>
            </div>

            <label class="col-sm-2 control-label" for="textinput">อำเภอ/เขต</label>
            <div class="col-sm-4">
              <select class="form-control">
					<option>ปากเกร็ด</option>
				</select>
            </div>

			
          </div> 

		  <!-- Text input-->
          <div class="form-group">
			
			<label class="col-sm-2 control-label" for="textinput">ตำบล/แขวง</label>
            <div class="col-sm-4">
              <select class="form-control">
					<option>คลองเกลือ</option>
				</select>
            </div>

            <label class="col-sm-2 control-label" for="textinput">รหัสไปรษณีย์</label>
            <div class="col-sm-4">
               <input type="text" placeholder="รหัสไปรษณีย์" class="form-control">
            </div>

           
          </div> 
 


        </fieldset>
				</div> 
			  </div>

			</div>

		

		

		 
		<!-- end -->
	</div> 
</div>
<!-- // -->
<div class="panel panel-warning org">
	<div class="panel-heading">
		 รายละเอียด
	</div>
	<div class="panel-body" >
		 
		<!-- start -->
			 

		<fieldset> 
          <!-- Form Name -->
          <legend>รายละเอียดลูกค้า</legend>
 

          <!-- Text input-->
          <div class="form-group">
            

			<label class="col-sm-2 control-label" for="textinput">Service type</label>
            <div class="col-sm-4">
              <div class="radio radio-inline">
		 
				<input type="radio" name="x2" id="radio21" checked value="option21">
					<label for="radio21">
					Postpaid 
					</label>
			  </div>
			  <div class="radio radio-inline">
		 
				<input type="radio" name="x2" id="radio22" checked value="option22">
					<label for="radio22">
					Prepaid
					</label>
			  </div>
            </div>
          </div>

         

          <!-- Text input-->
          <div class="form-group">
			
            <label class="col-sm-2 control-label" for="textinput">ประเภทองค์กร</label>
            <div class="col-sm-4">
              <select id="v1" name="v1" class="form-control">
				<option>บจก.</option>
				<option>บมจ.</option>
				<option>หจก.</option>
			</select>
            </div>
			<label class="col-sm-2 control-label" for="textinput">ชื่อ/ชื่อหน่วยงาน</label>
            <div class="col-sm-4">
              <input type="text" placeholder="ชื่อ/ชื่อหน่วยงาน" class="form-control">
            </div>

          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">สาขา</label>
            <div class="col-sm-4">
              <input type="text" placeholder="สาขา" class="form-control">
            </div>

            <label class="col-sm-2 control-label" for="textinput">รหัสสาขา 5 หลัก</label>
            <div class="col-sm-4">
              <input type="text" placeholder="รหัสสาขา 5 หลัก" class="form-control">
            </div>
          </div>

		  <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">อีเมล์</label>
            <div class="col-sm-4">
              <input type="text" placeholder="อีเมล์" class="form-control">
            </div>

            <label class="col-sm-2 control-label" for="textinput">ชนิดเอกสาร</label>
            <div class="col-sm-4">
               <select class="form-control" id="v5" name="v5">
					<option value="1">Citizen ID Card</option>
					<option value="2">Passport</option>
					<option value="3">Other</option>
				</select>
            </div>
          </div>
 
          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">รหัสประจำตัวผู้เสียภาษี 13 หลัก</label>
            <div class="col-sm-4">
              <input type="text" placeholder="รหัสประจำตัวผู้เสียภาษี 13 หลัก" class="form-control">
            </div>
          </div> 
</fieldset> 
		<fieldset> 
          <!-- Form Name -->
          <legend>ข้อมูลที่อยู่</legend>
		  <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">ที่อยู่เลขที่</label>
            <div class="col-sm-3">
               <input type="text" placeholder="ที่อยู่เลขที่" class="form-control">
            </div>

            <label class="col-sm-1 control-label" for="textinput">หมู่ที่</label>
            <div class="col-sm-2">
              <input type="text" placeholder="หมู่ที่" class="form-control">
            </div>

			<label class="col-sm-1 control-label" for="textinput">หมู่บ้าน</label>
            <div class="col-sm-3">
              <input type="text" placeholder="หมู่บ้าน" class="form-control">
            </div>
          </div> 

		  <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">อาคาร/ชั้นห้อง</label>
            <div class="col-sm-2">
               <input type="text" placeholder="อาคาร/ชั้นห้อง" class="form-control">
            </div>

            <label class="col-sm-1 control-label" for="textinput">ตรอก/ซอย</label>
            <div class="col-sm-3">
              <input type="text" placeholder="ตรอก/ซอย" class="form-control">
            </div>

			<label class="col-sm-1 control-label" for="textinput">ถนน</label>
            <div class="col-sm-3">
              <input type="text" placeholder="ถนน" class="form-control">
            </div>
          </div> 

		  <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">จังหวัด</label>
            <div class="col-sm-4">
               <select class="form-control">
					<option>นนทบุรี</option>
				</select>
            </div>

            <label class="col-sm-2 control-label" for="textinput">อำเภอ/เขต</label>
            <div class="col-sm-4">
              <select class="form-control">
					<option>ปากเกร็ด</option>
				</select>
            </div>

			
          </div> 

		  <!-- Text input-->
          <div class="form-group">
			
			<label class="col-sm-2 control-label" for="textinput">ตำบล/แขวง</label>
            <div class="col-sm-4">
              <select class="form-control">
					<option>คลองเกลือ</option>
				</select>
            </div>

            <label class="col-sm-2 control-label" for="textinput">รหัสไปรษณีย์</label>
            <div class="col-sm-4">
               <input type="text" placeholder="รหัสไปรษณีย์" class="form-control">
            </div>

           
          </div> 

		<!-- Text input-->
          <div class="form-group">

		  <label class="col-sm-2 control-label" for="textinput">ชนิดโทรศัพท์</label>
            <div class="col-sm-4">
               <select class="form-control">
					<option>Mobile</option>
					<option>Phone</option>
					<option>Other</option>
				</select>
            </div>

			<label class="col-sm-2 control-label" for="textinput">รหัสพื้นที่</label>
            <div class="col-sm-4">
               <input type="text" placeholder="รหัสพื้นที่" class="form-control">
            </div>
 
			
		</div> 

		<!-- Text input-->
          <div class="form-group"> 
		   <label class="col-sm-2 control-label" for="textinput">เบอร์โทรศัพท์</label>
            <div class="col-sm-4">
              <input type="text" placeholder="เบอร์โทรศัพท์" class="form-control">
            </div>
			
			
			<label class="col-sm-2 control-label" for="textinput">เบอร์ต่อ</label>
            <div class="col-sm-4">
               <input type="text" placeholder="เบอร์ต่อ" class="form-control">
            </div>
			
		</div> 



        </fieldset>

		  <div style="display:none;">

		  <!-- Nav tabs -->
		  <ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active"><a href="#home2" aria-controls="home2" role="tab" data-toggle="tab">ที่อยู่จัดส่งใบแจ้งหนี้</a></li>
			<li role="presentation"><a href="#profile2" aria-controls="profile2" role="tab" data-toggle="tab">ที่อยู่จัดส่งใบกํากับภาษี</a></li> 
		  </ul>

		  <!-- Tab panes -->
		  <div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="home2">
			<br>
				 <div class="form-group">
					<label class="col-sm-2 control-label" for="textinput"></label>
					<div class="col-sm-2">
					 <a href="#" class="btn btn-sm btn-info">Copy จากข้อมูลที่อยู่</a>
					 </div>
				 </div>
					 <fieldset id="address2"> 
          <!-- Form Name -->
          <!-- <legend>ที่อยู่จัดส่งใบแจ้งหนี้ </legend> -->
		  <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">คำนำหน้าชื่อ</label>
            <div class="col-sm-2">
               <select class="form-control">
					<option>นาย</option>
					<option>นาง</option>
					<option>นางสาว</option>
				</select>
            </div>

            <label class="col-sm-1 control-label" for="textinput">ชื่อ</label>
            <div class="col-sm-3">
              <input type="text" placeholder="ชื่อ" class="form-control">
            </div>

			<label class="col-sm-1 control-label" for="textinput">นามสกุล</label>
            <div class="col-sm-3">
              <input type="text" placeholder="นามสกุล" class="form-control">
            </div>
          </div> 

		  <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">ที่อยู่เลขที่</label>
            <div class="col-sm-3">
               <input type="text" placeholder="ที่อยู่เลขที่" class="form-control">
            </div>

            <label class="col-sm-1 control-label" for="textinput">หมู่ที่</label>
            <div class="col-sm-2">
              <input type="text" placeholder="หมู่ที่" class="form-control">
            </div>

			<label class="col-sm-1 control-label" for="textinput">หมู่บ้าน</label>
            <div class="col-sm-3">
              <input type="text" placeholder="หมู่บ้าน" class="form-control">
            </div>
          </div> 

		  <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">อาคาร/ชั้นห้อง</label>
            <div class="col-sm-2">
               <input type="text" placeholder="อาคาร/ชั้นห้อง" class="form-control">
            </div>

            <label class="col-sm-1 control-label" for="textinput">ตรอก/ซอย</label>
            <div class="col-sm-3">
              <input type="text" placeholder="ตรอก/ซอย" class="form-control">
            </div>

			<label class="col-sm-1 control-label" for="textinput">ถนน</label>
            <div class="col-sm-3">
              <input type="text" placeholder="ถนน" class="form-control">
            </div>
          </div> 

		  <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">จังหวัด</label>
            <div class="col-sm-4">
               <select class="form-control">
					<option>นนทบุรี</option>
				</select>
            </div>

            <label class="col-sm-2 control-label" for="textinput">อำเภอ/เขต</label>
            <div class="col-sm-4">
              <select class="form-control">
					<option>ปากเกร็ด</option>
				</select>
            </div>

			
          </div> 

		  <!-- Text input-->
          <div class="form-group">
			
			<label class="col-sm-2 control-label" for="textinput">ตำบล/แขวง</label>
            <div class="col-sm-4">
              <select class="form-control">
					<option>คลองเกลือ</option>
				</select>
            </div>

            <label class="col-sm-2 control-label" for="textinput">รหัสไปรษณีย์</label>
            <div class="col-sm-4">
               <input type="text" placeholder="รหัสไปรษณีย์" class="form-control">
            </div>

           
          </div> 
 


        </fieldset>
			</div>
			<div role="tabpanel" class="tab-pane" id="profile2">
			<br>
				 <div class="form-group">
					<label class="col-sm-2 control-label" for="textinput"></label>
					<div class="col-sm-2">
					 <a href="#" class="btn btn-sm btn-info">Copy ที่อยู่จัดส่งใบกํากับภาษี</a>
					 </div>
				 </div>
					 <fieldset id="address2"> 
          <!-- Form Name -->
          <!-- <legend>ที่อยู่จัดส่งใบแจ้งหนี้ </legend> -->
		  <!-- Text input--> 
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">คำนำหน้าชื่อ</label>
            <div class="col-sm-2">
               <select class="form-control">
					<option>นาย</option>
					<option>นาง</option>
					<option>นางสาว</option>
				</select>
            </div>

            <label class="col-sm-1 control-label" for="textinput">ชื่อ</label>
            <div class="col-sm-3">
              <input type="text" placeholder="ชื่อ" class="form-control">
            </div>

			<label class="col-sm-1 control-label" for="textinput">นามสกุล</label>
            <div class="col-sm-3">
              <input type="text" placeholder="นามสกุล" class="form-control">
            </div>
          </div> 

		  <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">ที่อยู่เลขที่</label>
            <div class="col-sm-3">
               <input type="text" placeholder="ที่อยู่เลขที่" class="form-control">
            </div>

            <label class="col-sm-1 control-label" for="textinput">หมู่ที่</label>
            <div class="col-sm-2">
              <input type="text" placeholder="หมู่ที่" class="form-control">
            </div>

			<label class="col-sm-1 control-label" for="textinput">หมู่บ้าน</label>
            <div class="col-sm-3">
              <input type="text" placeholder="หมู่บ้าน" class="form-control">
            </div>
          </div> 

		  <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">อาคาร/ชั้นห้อง</label>
            <div class="col-sm-2">
               <input type="text" placeholder="อาคาร/ชั้นห้อง" class="form-control">
            </div>

            <label class="col-sm-1 control-label" for="textinput">ตรอก/ซอย</label>
            <div class="col-sm-3">
              <input type="text" placeholder="ตรอก/ซอย" class="form-control">
            </div>

			<label class="col-sm-1 control-label" for="textinput">ถนน</label>
            <div class="col-sm-3">
              <input type="text" placeholder="ถนน" class="form-control">
            </div>
          </div> 

		  <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">จังหวัด</label>
            <div class="col-sm-4">
               <select class="form-control">
					<option>นนทบุรี</option>
				</select>
            </div>

            <label class="col-sm-2 control-label" for="textinput">อำเภอ/เขต</label>
            <div class="col-sm-4">
              <select class="form-control">
					<option>ปากเกร็ด</option>
				</select>
            </div>

			
          </div> 

		  <!-- Text input-->
          <div class="form-group">
			
			<label class="col-sm-2 control-label" for="textinput">ตำบล/แขวง</label>
            <div class="col-sm-4">
              <select class="form-control">
					<option>คลองเกลือ</option>
				</select>
            </div>

            <label class="col-sm-2 control-label" for="textinput">รหัสไปรษณีย์</label>
            <div class="col-sm-4">
               <input type="text" placeholder="รหัสไปรษณีย์" class="form-control">
            </div>

           
          </div> 
 


        </fieldset>
			</div> 
		  </div>

		</div>
		 

		

		

		 
		<!-- end -->
	</div> 
</div> 
<div class="panel panel-warning " >
	<div class="panel-heading"> 
		เอกสารประกอบการสมัคร
	</div>
	<div class="panel-body" >
 <a href="#" class="btn btn-sm btn-info" data-toggle="modal" data-target="#mdUploadFile"><i class="fa fa-plus"></i> เพิ่มรายการเอกสาร</a>
										<table class="table">
										  <thead>
											<tr>
											  <th scope="col">#</th>
											  <th scope="col">ประเภทเอกสาร</th>
											  <th scope="col">ชื่อเอกสาร</th>
											  <th scope="col">ไฟล์</th>
											  <th></th>
											</tr>
										  </thead>
										  <tbody>
											<tr>
											  <th scope="row">1</th>
											  <td>สำเนาหนังสือสัญญา</td>
											  <td>สำเนาหนังสือสัญญา</td>
											  <td><a href="#">สำเนาหนังสือสัญญา.docx</a></td>
											  <td><a href="#" class="btn btn-xs btn-warning"><i class="fa fa-edit"></i></a></td>
											</tr>
											<tr>
											  <th scope="row">2</th>
											  <td>สำเนาผู้ค้ำประกัน</td>
											  <td>สำเนาผู้ค้ำประกัน</td>
											  <td><a href="#">สำเนาผู้ค้ำประกัน.pdf</a></td>
											   <td><a href="#" class="btn btn-xs btn-warning"><i class="fa fa-edit"></i></a></td>
											</tr>
											<tr>
											  <th scope="row">3</th>
											  <td>หนังสือรับรองบริษัท</td>
											  <td>หนังสือรับรองบริษัท</td>
											  <td><a href="#">หนังสือรับรองบริษัท.pdf</a></td>
											   <td><a href="#" class="btn btn-xs btn-warning"><i class="fa fa-edit"></i></a></td>
											</tr>
										  </tbody>
										</table>
										   
</div> 
</div>
</div> 
<!-- // -->
<div class="panel panel-warning " id="step2">
	<div class="panel-heading"> 
		เลือกเบอร์ / Package
	</div>
	<div class="panel-body" >
			<div class="well">
			<!-- Text input-->
          <div class="form-group">
			
			<label class="col-sm-2 control-label" for="textinput">หมายเลขโทรศัพท์</label>
            <div class="col-sm-4">
              <input type="text" placeholder="หมายเลขโทรศัพท์" class="form-control">
            </div>
			<div class="col-sm-1">
               <button class="btn btn-sm btn-info " type="button" ><i class="fa fa-search"></i></button>
           
            </div>

            <label class="col-sm-1 control-label" for="textinput">ICCID</label>
            <div class="col-sm-4">
               <input type="text" readonly placeholder="ICCID" class="form-control">
            </div>

           
          </div> 
 
		   <!-- Text input-->
          <div class="form-group">
			
			<label class="col-sm-2 control-label" for="textinput">Bulk Load</label>
            <div class="col-sm-8">
              <input type="file" placeholder="" class="form-control">
            </div>
 
           
          </div> 
<!-- Text input-->
          <div class="form-group">
			
			<label class="col-sm-2 control-label" for="textinput"></label>
            <div class="col-sm-10">
              <button class="btn btn-sm btn-info " type="button" ><i class="fa fa-download"></i> เพิ่มเลขหมาย</button>
            </div>

            
           
          </div> 
		 
		   </div>
 
			 
		  <div>
				
		  <table class="table table-bordered">
			<thead>
				  <tr>
					<th>ลำดับ</th>
					<th>MSISDN</th>
					<th>ICCID</th>
					<th>Package</th>
					<th></th>
				  </tr>
				</thead>
				<tbody id="tbody"></tbody>
			  </table>
			  
			   <script type="text/javascript">
					var text=''; 
					for(var i=1;i<=5;i++){

					text +='<tr>'+ 
						'		                <td>'+i+'</td>'+
						'						<td>087000987'+i+'</td>'+
						'						<td>089660000000000'+i+'</td>'+   
						'						<td>My pre-paid '+i+'</td>'+   
						'		                <td>'+ 
						'							<a href="" class="btn btn-xs  btn-danger"><i class="fa fa-trash"></i></a>'+
						'				'+			 
						'						</td>'+
						'		                '+
						'		            </tr>'+
						'';
					}
				$('#tbody').append(text);
				</script>
		  </div>
	</div>
</div>
<div class="col-md-8 col-md-offset-2">
<br>
		<button class="btn btn-md btn-default" type="button" onclick="if(confirm('ยืนยัน')) window.location.href='myhome.html';" style="width:45%;"><i class="fa fa-long-arrow-left"></i> ยกเลิก</button> 
		<button class="btn btn-md btn-primary btn-primary-orange" type="button"  id="btnstep1" style="width:45%;">Next  
	</button>
	<br><br>
	</div> 
</form>
    <script type="text/javascript">
			
            function changetype(obj){
                if(obj=="P"){
                    $(".org").hide();
					$(".individual").show();
                }
                else if(obj=="N"){
                    $(".org").show();
					$(".individual").hide();
                }
            }
        $(function () {
			$("#step2").hide();
			$("#btnstep1").click(function(){
				$("#step1").hide();
				$("#step2").show();
			});
			changetype("P");
			$('.catshop').hide();
			$("#btnNext").click(function(){
				$("#frm").submit();
			});
            $('.datepicker').datepicker({
                format: 'dd/mm/yyyy',
                startDate: '-3d',
                autoclose: true
            });
           
$('#frm').validate({
					rules: {
						v1: { 
							required: true
						}
						/*, 
						v2: { 
							required: true
						}, 
						v3: { 
							required: true
						}, 
						v4: { 
							required: true
						}, 
						v5: { 
							required: true
						}, 
						v6: { 
							required: true
						}, 
						v7: { 
							required: true
						}*/
					}
					,
					highlight: function (element) {
        
							$(element).closest('div').removeClass('has-success').addClass('has-error'); 
					   
					},
					unhighlight: function (element) { 
						$(element).closest('div').removeClass('has-error');
						$(element).closest('div').removeClass('has-error');
						 
					},
					errorElement: 'span',
					errorClass: 'help-block'
					/*,
					success: function (element) {
						element.text('OK!').addClass('valid')
							.closest('.control-group').removeClass('error').addClass('success');
					}
					*/
				});
				
            });
    
		$(function () {
  	$('.navbar-toggle-sidebar').click(function () {
  		$('.navbar-nav').toggleClass('slide-in');
  		$('.side-body').toggleClass('body-slide-in');
  		$('#search').removeClass('in').addClass('collapse').slideUp(200);
  	});

  	$('#search-trigger').click(function () {
  		$('.navbar-nav').removeClass('slide-in');
  		$('.side-body').removeClass('body-slide-in');
  		$('.search-input').focus();
  	});
  }); 
 
$(function(){
	$("#btnUpdate").click(function(){ 
	 bootbox.alert({
        message: "ปรับปรุงข้อมูลเรียบร้อยแล้ว",
        size: 'small'
    });
	});

	$("#btnSuspend").click(function(e){ 
		e.preventDefault();
		    bootbox.confirm({
			message: "Do you want to suspend this contract agreement?",
			buttons: {
				confirm: {
					label: 'Yes',
					className: 'btn-success'
				},
				cancel: {
					label: 'No',
					className: 'btn-danger'
				}
			},
			callback: function (result) {
				if(result){
				window.location.href='CAList.html';
				}
			}
		});
	});
	
});
 </script>
    
<!-- Modal -->
<div id="mdUploadFile" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">อัพโหลดไฟล์เอกสาร</h4>
      </div>
      <div class="modal-body ">
        
		<div class="form-horizontal"> 
			<!-- Text input-->
			<div class="form-group">
 
				<label class="col-sm-4 control-label" for="textinput">ประเภทเอกสาร</label>
				<div class="col-sm-8">
					<select class="form-control">
					<option>สำเนาหนังสือสัญญา</option>
					<option>สำเนาผู้ค้ำประกัน</option>
					<option>หนังสือรับรองบริษัท</option>
					</select>
				</div>
				  
			</div>
		<!-- Text input-->
			<div class="form-group">
 
				<label class="col-sm-4 control-label" for="textinput">ชื่อเอกสาร</label>
				<div class="col-sm-8">
					<input type="text" placeholder=" " class="form-control">
				</div>
				  
			</div>
		<!-- Text input-->
			<div class="form-group">

				 <label class="col-sm-4 control-label" for="textinput">เลือกเอกสาร</label>
				<div class="col-sm-8">
					<input type="file" placeholder="หนังสือจดทะเบียนบริษัท " class="form-control">
				</div>
				  
			</div>

		
	  </div>
		
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		<button type="button" class="btn btn-info" data-dismiss="modal">Upload</button>
      </div>
    </div>

  </div>
</div>

<!-- Modal -->
<div id="mdAddNumber" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">อัพโหลดไฟล์เอกสาร</h4>
      </div>
      <div class="modal-body ">
        
		<div class="form-horizontal"> 
			 
		 
		
	  </div>
		
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		<button type="button" class="btn btn-info" data-dismiss="modal">เพิ่มรายการ</button>
      </div>
    </div>

  </div>
</div>

