

<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#!/dealer/myhome">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Update Profile</li>
  </ol>
</nav>
 <form class="form-horizontal" role="form"> 
 <ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" data-href="#home">ประวัติที่แก้ไขได้เลยไม่ต้องรออนุมัติ</a></li>
  <li><a data-toggle="tab" data-href="#menu1">ประวัติที่แก้ไขแต่ต้องส่งอนุมัติ</a></li>
</ul>

<div class="tab-content">
  <div id="home" class="tab-pane fade in active" style="background-color:#FFF;">
    <br>
	<!-- start -->
			 <fieldset class="form-horizontal">
                                        <!-- Form Name -->
                                        <legend>ข้อมูลทั่วไป</legend>


                                        <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="textinput">ประเภทลูกค้า<em>*</em></label>
                                            <div class="col-sm-4">
                                                <div class="radio radio-inline">

                                                    <input type="radio" name="x" id="radio1" onclick="changetype('P');" checked value="option1">
                                                    <label for="radio1">
                                                        บุคคลธรรมดา
                                                    </label>
                                                </div>
                                                <div class="radio radio-inline">

                                                    <input type="radio" name="x" id="radio2" onclick="changetype('N');" checked value="option2">
                                                    <label for="radio2">
                                                        นิติบุคคล
                                                    </label>
                                                </div>
                                            </div>


                                        </div>

										<div class="org"> 
                                            <!-- /// -->
											<!-- /// -->
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label" for="textinput">ประเภท<em>*</em></label>
                                                <div class="col-sm-2">
                                                    <select id="v1" name="v1" class="form-control">
                                                        <option>บจก.</option>
                                                        <option>บมจ.</option>
                                                        <option>หจก.</option>
                                                    </select>
                                                </div>

												<label class="col-sm-2 control-label" for="textinput">ชื่อ<em>*</em></label>
                                                <div class="col-sm-3">
                                                    <input type="text" id="v3" name="v3" placeholder="ชื่อ" class="form-control">
                                                </div>

                                                <label class="col-sm-1 control-label" for="textinput">รหัสสาขา<em>*</em></label>
                                                <div class="col-sm-2">
                                                    <input type="text" id="v4" name="v4" placeholder="นามสกุล" class="form-control">
                                                </div>
                                            </div> 

                                            <!-- /// -->
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label" for="textinput">ประเภทบัตร<em>*</em></label>
                                                <div class="col-sm-2">
                                                    <select class="form-control" id="v5" name="v5">
                                                        <option value="1">Citizen ID Card</option>
                                                        <option value="2">Passport</option>
                                                        <option value="3">Other</option>
                                                    </select>
                                                </div>

                                                <label class="col-sm-2 control-label" for="textinput">หมายเลขบัตร<em>*</em></label>
                                                <div class="col-sm-2">
                                                    <input type="text" id="v6" name="v6" placeholder="หมายเลขบัตร" class="form-control">
                                                </div>

                                                <label class="col-sm-2 control-label" for="textinput">เลขที่ประจำตัวผู้เสียภาษี</label>
                                                <div class="col-sm-2">
                                                    <input type="text" placeholder="เลขที่ประจำตัวผู้เสียภาษี" class="form-control">
                                                </div>
                                            </div>
                                            <!-- /// -->

											<!--  -->
                                            <div class="form-group">

											<label class="col-sm-2 control-label" for="textinput">วันที่จดทะเบียน<em>*</em></label>
                                                <div class="col-sm-2">
                                                    <div class="input-group date" data-provide="datepicker">
                                                        <input type="text" id="v2" name="v2" class="form-control">
                                                        <div class="input-group-addon">
                                                            <span class="fa fa-calendar"></span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <label class="col-sm-2 control-label" for="textinput">ทุนจดทะเบียน<em>*</em></label>
                                                <div class="col-sm-2">
                                                    <input type="text" id="v4" name="v4" placeholder="ทุนจดทะเบียน" class="form-control">
                                                </div> 

                                            </div>

                                            
                                        <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="textinput">เบอร์โทรศัพท์</label>
                                            <div class="col-sm-4">
                                                <input type="text" placeholder="เบอร์โทรศัพท์" class="form-control">
                                            </div>

                                            <label class="col-sm-2 control-label" for="textinput">เบอร์โทรสาร </label>
                                            <div class="col-sm-4">
                                                <input type="text" placeholder="เบอร์โทรสาร " class="form-control">
                                            </div>
                                        </div>
										</div>
<!-- org -->
                                        <div class="individual">
                                            <!-- /// -->
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label" for="textinput">คำนำหน้าชื่อ<em>*</em></label>
                                                <div class="col-sm-2">
                                                    <select id="v1" name="v1" class="form-control">
                                                        <option>นาย</option>
                                                        <option>นาง</option>
                                                        <option>นางสาว</option>
                                                    </select>
                                                </div>

                                                <!-- Text input-->
                                                <label class="col-sm-2 control-label" for="textinput">เพศ<em>*</em></label>
                                                <div class="col-sm-2">
                                                    <div class="radio radio-inline">

                                                        <input type="radio" name="xgd" id="radio1gd" checked value="option1">
                                                        <label for="radio1gd">
                                                            ชาย
                                                        </label>
                                                    </div>
                                                    <div class="radio radio-inline">

                                                        <input type="radio" name="xgd" id="radio2gd"  value="option2">
                                                        <label for="radio2gd">
                                                            หญิง
                                                        </label>
                                                    </div>
                                                </div>

                                                <label class="col-sm-1 control-label" for="textinput">วันเกิด<em>*</em></label>
                                                <div class="col-sm-3">
                                                    <div class="input-group date" data-provide="datepicker">
                                                        <input type="text" id="v2" name="v2" class="form-control">
                                                        <div class="input-group-addon">
                                                            <span class="fa fa-calendar"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /// -->
                                            <!-- /// -->
                                            <div class="form-group">

                                                <label class="col-sm-2 control-label" for="textinput">ชื่อ<em>*</em></label>
                                                <div class="col-sm-4">
                                                    <input type="text" id="v3" name="v3" placeholder="ชื่อ" class="form-control">
                                                </div>

                                                <label class="col-sm-2 control-label" for="textinput">นามสกุล<em>*</em></label>
                                                <div class="col-sm-4">
                                                    <input type="text" id="v4" name="v4" placeholder="นามสกุล" class="form-control">
                                                </div>
                                            </div>
                                            <!-- /// -->

                                            <!-- /// -->
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label" for="textinput">ประเภทบัตร<em>*</em></label>
                                                <div class="col-sm-2">
                                                    <select class="form-control" id="v5" name="v5">
                                                        <option value="1">Citizen ID Card</option>
                                                        <option value="2">Passport</option>
                                                        <option value="3">Other</option>
                                                    </select>
                                                </div>

                                                <label class="col-sm-2 control-label" for="textinput">หมายเลขบัตร<em>*</em></label>
                                                <div class="col-sm-2">
                                                    <input type="text" id="v6" name="v6" placeholder="หมายเลขบัตร" class="form-control">
                                                </div>

                                                <label class="col-sm-2 control-label" for="textinput">เลขที่ประจำตัวผู้เสียภาษี</label>
                                                <div class="col-sm-2">
                                                    <input type="text" placeholder="เลขที่ประจำตัวผู้เสียภาษี" class="form-control">
                                                </div>
                                            </div>
                                            <!-- /// -->

                                            <!-- Text input-->
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label" for="textinput">เบอร์โทรศัพท์มือถือ<em>*</em></label>
                                                <div class="col-sm-4">
                                                    <input type="text" placeholder="เบอร์โทรศัพท์มือถือ" class="form-control" id="v7" name="v7">
                                                </div>

                                                <label class="col-sm-2 control-label" for="textinput">อีเมล์ </label>
                                                <div class="col-sm-4">
                                                    <input type="text" placeholder="อีเมล์ " class="form-control">
                                                </div>
                                            </div>

                                        <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="textinput">เบอร์โทรศัพท์</label>
                                            <div class="col-sm-4">
                                                <input type="text" placeholder="เบอร์โทรศัพท์" class="form-control">
                                            </div>

                                            <label class="col-sm-2 control-label" for="textinput">เบอร์โทรสาร </label>
                                            <div class="col-sm-4">
                                                <input type="text" placeholder="เบอร์โทรสาร " class="form-control">
                                            </div>
                                        </div>

                                            </div>
                                       <!-- individual -->

                                    </fieldset>

                                   

                                    <fieldset>
                                        <!-- Form Name -->
                                        <legend>เอกสารประกอบการสมัคร</legend>
										<div class="individual">
                                        <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="textinput">สำเนาบัตรประชาชน <em>*</em></label>
                                            <div class="col-sm-4">
                                                <input type="file" placeholder="สำเนาบัตรประชาชน " class="form-control">
                                            </div>
                                        </div>

                                        <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="textinput">สำเนาทะเบียนบ้าน</label>
                                            <div class="col-sm-4">
                                                <input type="file" placeholder="สำเนาทะเบียนบ้าน " class="form-control">
                                            </div>
                                        </div>
										</div>
										<div class="org">
                                        <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="textinput">สำเนาหนังสือจดทะเบียนบริษัท <em>*</em></label>
                                            <div class="col-sm-4">
                                                <input type="file" placeholder="หนังสือจดทะเบียนบริษัท " class="form-control">
                                            </div>
                                        </div>

                                        <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="textinput">สำเนาเอกสารใบภพ. 20</label>
                                            <div class="col-sm-4">
                                                <input type="file" placeholder=" " class="form-control">
                                            </div>
                                        </div>
										</div>

                                    </fieldset>
  </div>
  <div id="menu1" class="tab-pane fade" style="background-color:#FFF;">
    
	<br>
	 <fieldset>
                                        <!-- Form Name -->
                                        <legend>ที่อยู่</legend>


                                        <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="textinput">ที่อยู่เลขที่<em>*</em></label>
                                            <div class="col-sm-3">
                                                <input type="text" placeholder="ที่อยู่เลขที่" class="form-control">
                                            </div>

                                            <label class="col-sm-1 control-label" for="textinput">หมู่ที่<em>*</em></label>
                                            <div class="col-sm-2">
                                                <input type="text" placeholder="หมู่ที่" class="form-control">
                                            </div>

                                            <label class="col-sm-1 control-label" for="textinput">หมู่บ้าน</label>
                                            <div class="col-sm-3">
                                                <input type="text" placeholder="หมู่บ้าน" class="form-control">
                                            </div>
                                        </div>

                                        <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="textinput">อาคาร/ชั้นห้อง</label>
                                            <div class="col-sm-2">
                                                <input type="text" placeholder="อาคาร/ชั้นห้อง" class="form-control">
                                            </div>

                                            <label class="col-sm-1 control-label" for="textinput">ตรอก/ซอย</label>
                                            <div class="col-sm-3">
                                                <input type="text" placeholder="ตรอก/ซอย" class="form-control">
                                            </div>

                                            <label class="col-sm-1 control-label" for="textinput">ถนน</label>
                                            <div class="col-sm-3">
                                                <input type="text" placeholder="ถนน" class="form-control">
                                            </div>
                                        </div>

                                        <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="textinput">จังหวัด<em>*</em></label>
                                            <div class="col-sm-4">
                                                <select class="form-control">
                                                    <option>นนทบุรี</option>
                                                </select>
                                            </div>

                                            <label class="col-sm-2 control-label" for="textinput">อำเภอ/เขต<em>*</em></label>
                                            <div class="col-sm-4">
                                                <select class="form-control">
                                                    <option>ปากเกร็ด</option>
                                                </select>
                                            </div>


                                        </div>

                                        <!-- Text input-->
                                        <div class="form-group">

                                            <label class="col-sm-2 control-label" for="textinput">ตำบล/แขวง<em>*</em></label>
                                            <div class="col-sm-4">
                                                <select class="form-control">
                                                    <option>คลองเกลือ</option>
                                                </select>
                                            </div>

                                            <label class="col-sm-2 control-label" for="textinput">รหัสไปรษณีย์<em>*</em></label>
                                            <div class="col-sm-4">
                                                <input type="text" placeholder="รหัสไปรษณีย์" class="form-control">
                                            </div>


                                        </div>




                                    </fieldset>


                                    <fieldset id="address2">
                                        <!-- Form Name -->
                                        <legend>บุคคลที่ติดต่อ</legend>
                                        <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="textinput">คำนำหน้าชื่อ<em>*</em></label>
                                            <div class="col-sm-2">
                                                <select class="form-control">
                                                    <option>นาย</option>
                                                    <option>นาง</option>
                                                    <option>นางสาว</option>
                                                </select>
                                            </div>

                                            <label class="col-sm-1 control-label" for="textinput">ชื่อ<em>*</em></label>
                                            <div class="col-sm-3">
                                                <input type="text" placeholder="ชื่อ" class="form-control">
                                            </div>

                                            <label class="col-sm-1 control-label" for="textinput">นามสกุล<em>*</em></label>
                                            <div class="col-sm-3">
                                                <input type="text" placeholder="นามสกุล" class="form-control">
                                            </div>
                                        </div>

                                         <!-- Text input-->
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label" for="textinput">เบอร์โทรศัพท์มือถือ<em>*</em></label>
                                                <div class="col-sm-4">
                                                    <input type="text" placeholder="เบอร์โทรศัพท์มือถือ" class="form-control">
                                                </div>

                                                <label class="col-sm-2 control-label" for="textinput">อีเมล์ </label>
                                                <div class="col-sm-4">
                                                    <input type="text" placeholder="อีเมล์ " class="form-control">
                                                </div>
                                            </div>

                                        <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="textinput">เบอร์โทรศัพท์</label>
                                            <div class="col-sm-4">
                                                <input type="text" placeholder="เบอร์โทรศัพท์" class="form-control">
                                            </div>

                                            <label class="col-sm-2 control-label" for="textinput">เบอร์โทรสาร </label>
                                            <div class="col-sm-4">
                                                <input type="text" placeholder="เบอร์โทรสาร " class="form-control">
                                            </div>
                                        </div>


                                    </fieldset>
  </div>
   
</div>

    
<!-- // --> 
<!-- // -->
<div class="col-md-4 col-md-offset-4">
<br>
		<button class="btn btn-md btn-default" type="button" onclick="if(confirm('ยืนยัน')) window.location.href='myhome.html';" style="width:45%;"><i class="fa fa-long-arrow-left"></i> ยกเลิก</button> 
	  <button class="btn btn-md btn-primary btn-primary-orange" type="button"  id="btnUpdate" style="width:45%;">บันทึกข้อมูล  
	</button> 
	<br><br>
	</div> 

</form>

    <script type="text/javascript">
	
            function changetype(obj){
                if(obj=="P"){
                    $(".org").hide();
					$(".individual").show();
                }
                else if(obj=="N"){
                    $(".org").show();
					$(".individual").hide();
                }
            }
        $(function () {
			changetype("N");
			$('.catshop').hide();
			$("#btnNext").click(function(){
				$("#frm").submit();
			});
            $('.datepicker').datepicker({
                format: 'dd/mm/yyyy',
                startDate: '-3d',
                autoclose: true
            });
           
$('#frm').validate({
					rules: {
						v1: { 
							required: true
						}
						/*, 
						v2: { 
							required: true
						}, 
						v3: { 
							required: true
						}, 
						v4: { 
							required: true
						}, 
						v5: { 
							required: true
						}, 
						v6: { 
							required: true
						}, 
						v7: { 
							required: true
						}*/
					}
					,
					highlight: function (element) {
        
							$(element).closest('div').removeClass('has-success').addClass('has-error'); 
					   
					},
					unhighlight: function (element) { 
						$(element).closest('div').removeClass('has-error');
						$(element).closest('div').removeClass('has-error');
						 
					},
					errorElement: 'span',
					errorClass: 'help-block'
					/*,
					success: function (element) {
						element.text('OK!').addClass('valid')
							.closest('.control-group').removeClass('error').addClass('success');
					}
					*/
				});
				
            });
    
		$(function () {
  	$('.navbar-toggle-sidebar').click(function () {
  		$('.navbar-nav').toggleClass('slide-in');
  		$('.side-body').toggleClass('body-slide-in');
  		$('#search').removeClass('in').addClass('collapse').slideUp(200);
  	});

  	$('#search-trigger').click(function () {
  		$('.navbar-nav').removeClass('slide-in');
  		$('.side-body').removeClass('body-slide-in');
  		$('.search-input').focus();
  	});
  }); 
 
$(function(){
	 
	$("#btnUpdate").click(function(){ 
	 bootbox.alert({
        message: "ปรับปรุงข้อมูลเรียบร้อยแล้ว",
        size: 'small'
    });
	});

	$("#btnSuspend").click(function(e){ 
		e.preventDefault();
		    bootbox.confirm({
			message: "Do you want to suspend this contract agreement?",
			buttons: {
				confirm: {
					label: 'Yes',
					className: 'btn-success'
				},
				cancel: {
					label: 'No',
					className: 'btn-danger'
				}
			},
			callback: function (result) {
				if(result){
				window.location.href='CAList.html';
				}
			}
		});
	});
	
});
 </script>
    
 </body>
</html>
